section#banner
	.container-fluid
		.row.contenedor-banner
			ul.banner
				li
					img(src="./resources/assets/image/banner1.jpg", alt="")
					.letrero-banner
						div
							h2 What is Lorem ipsum
							//- p Lorem Ipsum
							.rectangle
								|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
				li
					img(src="./resources/assets/image/banner2.jpg", alt="")
					.letrero-banner
						div
							h2 What is Lorem ipsum
							//- p Lorem Ipsum
							.rectangle
								|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
				li
					img(src="./resources/assets/image/banner3.jpg", alt="")
					.letrero-banner
						div
							h2 What is Lorem ipsum
							//- p Lorem Ipsum
							.rectangle
								|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
				li
					img(src="./resources/assets/image/banner-salmuera.jpg", alt="")
					.letrero-banner
						div
							h2 What is Lorem ipsum
							//- p Lorem Ipsum
							.rectangle
								|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
section#inicio
	.container
		.row
			.col-lg-12
				h3 Noticias
				.row.noticia-destacada.hide
					img(src="./resources/assets/image/home-noticias.jpg", alt="",width="100%")
					div.descrip-img-noticias
						p Proyectos e iniciativas para el desarrollo.
				.row
					ul.sliderNoticias
						li
							img.notiImg(src="./resources/assets/image/home-noticias.jpg", alt="",width="100%")
							.caja-hover-not
								p.titular.text-center PROYECTOS E INICIATIVAS PARA EL DESARROLLO
								.noticia.text-center
									p lorem ipsum dolor lalalalala
									a(href="javascript:void(0)")
										i.icon-eye
											span Ver más
							.descrip-img-noticias.hidden-lg.hidden-md.hidden-sm
								p Proyectos e iniciativas para el desarrollo.
						li
							img.notiImg(src="./resources/assets/image/home-noticias2.jpg", alt="",width="100%")
							.caja-hover-not
								p.titular.text-center PROYECTOS E INICIATIVAS PARA EL DESARROLLO
								.noticia.text-center
									p lorem ipsum dolor lalalalala
									a(href="javascript:void(0)")
										i.icon-eye
											span Ver más
							.descrip-img-noticias.hidden-lg.hidden-md.hidden-sm
								p Proyectos e iniciativas para el desarrollo.
						li
							img.notiImg(src="./resources/assets/image/home-noticias2.jpg", alt="",width="100%")
							.caja-hover-not
								p.titular.text-center PROYECTOS E INICIATIVAS PARA EL DESARROLLO
								.noticia.text-center
									p lorem ipsum dolor lalalalala
									a(href="javascript:void(0)")
										i.icon-eye
											span Ver más
							.descrip-img-noticias.hidden-lg.hidden-md.hidden-sm
								p Proyectos e iniciativas para el desarrollo.
		.row
			div.modal-img
				.content-modal
					.row-normal
						span.btn-cerrar-img X
						img.imageZoom
						i.icon-chevron-left
						i.icon-chevron-right
			.col-lg-12 
				h3 Galería
				div
					ul.sliderGaleria
						li
							
							img.image-click(src="./resources/assets/image/galeria-index1.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye

						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-index2.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
					
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-index3.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-index4.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-index5.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-index1.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
section#contacto
		.container-fluid
			.row
				.container
					.content-contact
						.row
							.contacto-titulo.text-center
								h2 
									b CONTACTO
								p Nos encantaría saber sobre tus comentarios y/o sugerencias
						.row
							.col-lg-6.col-md-6.col-sm-12.col-xs-12
								.box-contact
									div
										i.icon-envelope-o
										a(href="#") 
											|informes@americas-potash.com
										br
										br
									div
										i.icon-mobile
										a(href="#")
											|999 888 765
										br
										br
							.col-lg-6.col-md-6.col-sm-12.col-xs-12
								form(method="post",action="",novalidate="novalidate")
									input(type="text",placeholder="Nombre",name="name",id="name",required)
									label(for="name")
									input(type="text",placeholder="Dirección",name="adress",id="adress",required)
									label(for="adress")
									div.duo-input
										.col-lg-6.col-md-6.col-sm-6.col-xs-6
											.row
												input(type="text",placeholder="E-mail",name="mail",id="mail",required)
												label(for="mail")
										.col-lg-6.col-md-6.col-sm-6.col-xs-6
											.row
												input(type="text",placeholder="Teléfono",name="telf",maxlength="9",id="telf",required)
												label(for="telf")
									textarea(type="text",placeholder="Comentario",name="comment",rows="6",id="comment")
									button(type="submit",id="btn-form")
										b Enviar

