section#banner
	.container-fluid
		.row.contenedor-banner
			ul.banner
				li
					img.banner-movilGrande(src="./resources/assets/image/banner-fosfato.jpg", alt="")
					img.banner-movil(src="./resources/assets/image/banner-movilFos.jpg", alt="", width="100%")
					.letrero-banner
						div
							h2 Ayudando a alimentar el mundo
							//- p Lorem Ipsum
							.rectangle
								| El consumo de fertilizantes potásicos y fosfatados ha aumentado junto con la producción de alimentos.
				li
					img.banner-movilGrande(src="./resources/assets/image/banner-labrador.jpg", alt="")
					img.banner-movil(src="./resources/assets/image/banner-movilLabrador.jpg", alt="",width="100%")
					.letrero-banner
						div
							h2 Enriqueciendo la tierra
							//- p Lorem Ipsum
							.rectangle
								| Produciremos fertilizantes ricos en fósforo y potasio.
				li
					img.banner-movilGrande(src="./resources/assets/image/banner-salmuera.jpg", alt="")
					img.banner-movil(src="./resources/assets/image/banner-movilSalm.jpg", alt="",width="100%")
					.letrero-banner
						div
							h2 Cuidando nuestro entorno
							//- p Lorem Ipsum
							.rectangle
								| Operaciones seguras y ambientalmente responsables.
				li
					img.banner-movilGrande(src="./resources/assets/image/banner-creciendo.jpg", alt="")
					img.banner-movil(src="./resources/assets/image/banner-movilStn.jpg", alt="",width="100%")
					.letrero-banner
						div
							h2 Creciendo juntos
							//- p Lorem Ipsum
							.rectangle
								|Por el desarrollo sostenible de nuestro entorno.
section#inicio
	.container
		.row
			.col-lg-12
				h3 Noticias
				.row.noticia-destacada.hidden-md.hidden-lg
					a(href="http://americas-potash.com/demoV5/detalle.html")
						img(src="./resources/assets/image/5690.png", alt="",width="100%")
						div.descrip-img-noticias
							p INICIÓ EL PROGRAMA BECA DOCENTE AMERICAS POTASH
				.row
					ul.sliderNoticias
						li
							a(href="http://americas-potash.com/demoV5/detalle.html")
								img.notiImg(src="./resources/assets/image/5690.png", alt="",width="100%")
								.caja-hover-not
									p.titular.text-center INICIÓ EL PROGRAMA BECA DOCENTE AMERICAS POTASH
									.noticia.text-center
										p
											| Beca integral beneficiará aproximadamente a 500 estudiantes del distrito de Sechura.
										a(href="http://americas-potash.com/demoV5/detalle.html")
											i.icon-eye
												span Ver más
							.descrip-img-noticias.hidden-lg.hidden-md.hidden-sm
								a(href="http://americas-potash.com/demoV5/detalle.html")
									p  INICIÓ EL PROGRAMA BECA DOCENTE AMERICAS POTASH
						li
							a(href="http://americas-potash.com/demoV5/detalle-1.html")
								img.notiImg(src="./resources/assets/image/1063.png", alt="",width="100%")
								.caja-hover-not
									p.titular.text-center GROWMAX INVERTIRÁ US$ 279 MILLONES EN BAYÓVAR
									.noticia.text-center
										p Proyecto de Fosfatos
										a(href="http://americas-potash.com/demoV5/detalle-1.html")
											i.icon-eye
												span Ver más
							.descrip-img-noticias.hidden-lg.hidden-md.hidden-sm
								a(href="http://americas-potash.com/demoV5/detalle-1.html")
									p GROWMAX INVERTIRÁ US$ 279 MILLONES EN BAYÓVAR
						li
							a(href="http://americas-potash.com/demoV5/detalle-2.html")
								img.notiImg(src="./resources/assets/image/1043.png", alt="",width="100%")
								.caja-hover-not
									p.titular.text-center INVERTIRÁ US$ 10 MILLONES
									.noticia.text-center
										p Growmax Resources
										a(href="http://americas-potash.com/demoV5/detalle-2.html")
											i.icon-eye
												span Ver más
							.descrip-img-noticias.hidden-lg.hidden-md.hidden-sm
								a(href="http://americas-potash.com/demoV5/detalle-2.html")
									p INVERTIRÁ US$ 10 MILLONES
		.row.galerias
			.col-lg-12 
				h3 Galería
				.row
					ul.sliderGaleria
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0382.jpg")
							img.image-click(src="./resources/assets/image/0382.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0341.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/0341.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0419.jpg")
							img.image-click(src="./resources/assets/image/0419.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/1043.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/1043.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/1126.jpg")
							img.image-click(src="./resources/assets/image/1126.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/1388.jpg")
							img.image-click(src="./resources/assets/image/1388.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0667.png")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/0667.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0509.jpg")
							img.image-click(src="./resources/assets/image/0509.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0576.jpg")
							img.image-click(src="./resources/assets/image/0576.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0183.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/0183.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0250.jpg")
							img.image-click(src="./resources/assets/image/0250.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0188.jpg")
							img.image-click(src="./resources/assets/image/0188.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/1333.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/1333.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/1349.jpg")
							img.image-click(src="./resources/assets/image/1349.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/2011.jpg")
							img.image-click(src="./resources/assets/image/2011.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/1964.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/1964.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/22_6139.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/6139.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/5924.jpg")
							img.image-click(src="./resources/assets/image/1_5924.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/24_6289.jpg")
							img.image-click(src="./resources/assets/image/6289.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/7410.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/1_7410.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/01_0049.jpg")
							img.image-click(src="./resources/assets/image/0049.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/02_9984.jpg")
							img.image-click(src="./resources/assets/image/9984.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/9862.png")
							img.image-click(src="./resources/assets/image/9862.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/5634.png")
							img.image-click(src="./resources/assets/image/5634.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/05_5664.jpg")
							img.image-click(src="./resources/assets/image/5664.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
section#contacto
		.container-fluid
			.row
				.container
					.content-contact
						.row
							.contacto-titulo.text-center
								h2 
									b CONTACTO
								p Nos encantaría saber sobre tus comentarios y/o sugerencias
						.row
							.col-lg-6.col-md-6.col-sm-12.col-xs-12
								.box-contact
									div
										i.icon-envelope-o
										|informes@americas-potash.com
										br
										br
									div
										i.icon-mobile
										|933 534 107
										br
										br
							.col-lg-6.col-md-6.col-sm-12.col-xs-12
								form#formcontacto
									input(type="text",placeholder="Nombre",name="name",id="name",required)
									label(for="name")
									input(type="text",placeholder="Dirección",name="adress",id="adress",required)
									label(for="adress")
									div.duo-input
										.col-lg-6.col-md-6.col-sm-6.col-xs-12
											.row
												input(type="text",placeholder="E-mail",name="mail",id="mail",required)
												label(for="mail")
										.col-lg-6.col-md-6.col-sm-6.col-xs-12
											.row
												input(type="text",placeholder="Teléfono",name="telf",maxlength="9",id="telf",required)
												label(for="telf")
									textarea(type="text",placeholder="Comentario",name="comment",rows="6",id="comment")
									button(type="button",id="btn-form")
										b Enviar
