/*!*** llamamos a nuestras librerias nib ****/
@import 'nib'
@import 'nib/gradients'
@import 'nib/overflow'
@import 'nib/normalize'
/*!*** Css de la fuente ****/
@import '../../assets/css/font.css'
/*!*** llamamos a nuestros demas estilos stylus****/
@import  '../asibar/asibar.styl'
@import  '../master/general.styl'
@import  '../master/formulario.styl'
@import  '../header/header.styl'
@import  '../inicio/inicio.styl'
@import  '../Phosphates/Phosphates.styl'
@import  '../Brine/Brine.styl'
@import  '../About_Us/About_Us.styl'
@import  '../Corporate_Communication/Corporate_Communication.styl'
@import  '../Corporate_Communication/Detail/Detail.styl'
@import  '../Corporate_Communication/Detail-1/Detail-1.styl'
@import  '../Corporate_Communication/Detail-2/Detail-2.styl'
@import  '../Mission/Mission.styl'
@import  '../Values/Values.styl'
@import  '../busqueda/busqueda.styl'
@import  '../Human_Talent/Human_Talent.styl'
@import  '../Contact_Us/Contact_Us.styl'
@import  '../Sustainability/Sustainability.styl'
@import  '../Communication_and_Dialogue/Communication_and_Dialogue.styl'
@import  '../videos/videos.styl'
@import  '../Mobile_Office/Mobile_Office.styl'
@import  '../Radio_Spots/Radio_Spots.styl'
@import  '../beca-video/beca-video.styl'
@import  '../beca-radio_spot/beca-radio_spot.styl'
@import  '../beca/beca.styl'
@import  '../Health/Health.styl'
@import  '../mapa/mapa.styl'


@import  '../footer/footer.styl'
/*!**** Los demas estilos *********/
