section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.talentoNos
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuNos.hidden-xs.text-center#ancla
				a(href="http://americas-potash.com/demoV3/en/nosotros.html")
					li Quiénes somos
				a(href="http://americas-potash.com/demoV3/en/mission.html")
					li Mission and vision
				a(href="http://americas-potash.com/demoV3/en/values.html")
					li Values
				a(href="http://americas-potash.com/demoV3/en/talento.html")
					li.activeNosotros Talento humano
			ul.menuNosMovil.text-center.hidden-lg.hidden-md.hidden-sm
				a(href="http://americas-potash.com/demoV3/en/nosotros.html")
					li ¿Quiénes somos?
				a(href="http://americas-potash.com/demoV3/en/mission.html")
					li Mission and vision
				a(href="http://americas-potash.com/demoV3/en/values.html")
					li Values
				a.talentoMovil(href="javascript:void(0)")
					li Talento humano
		.row
			.talento
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12
						h2.tituloTalentoMovil.hidden-sm.hidden-md.hidden-lg TALENTO
						h2 RAFAEL GRADOS
						p.text-justify Rafael Grados is a business administrator with international experience leading and managing projects. Rafael is currently serving as the Administration Manager of Americas Potash Perú S.A. (APPSA). Before this role, Rafael worked as a Financial Consultant for APPSA and as Business Consultant for TIAA-CREF in Boston, USA. Rafael is a graduate of Boston University´s School of Management, with a focus on International Management. Additionally, Rafael is a Certified Associate in Project Management (CAPM - PMI).
					.col-lg-6.col-md-6.col-sm-6.col-xs-12
						img(src="./resources/assets/image/2107.png")
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12
						h2 CASANDRA LLOSA
						p.text-justify Casandra Llosa was appointed as the Corporate Social Responsibility Manager (CSR) of Americas Potash Perú S.A (APPSA) in August 2016. She has experience in both public and private sector, working as an office to the mediation of social conflicts for the Peruvian Ombudsman and, later, leading CSR Programs in oil and infrastructure projects. Casandra is a sociologist from Pontificia Universidad Católica del Perú (PUCP) specialized in management of local development projects, and in the design and execution of community relations programs, with an intercultural and gender equality approach. Furthermore, she has knowledge and experience to bring the CSR and community relations programs into line with national and international national standards in Social Management such as the BID, IFC and Equator Principles.
					.col-lg-6.col-md-6.col-sm-6.col-xs-12
						img(src="./resources/assets/image/2082.png")
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12
						h2 JAVIER WONG
						p.text-justify Javier Wong is a Chartered Accountant with over 20 years of experience in Mining and Oil &amp; Gas industries, which includes positions as Controller, Accounting Chief  and Planning &amp; Costs Control Chief. He is currently the Finance Manager of Americas Potash Peru since August 2016. He previously served as Controller of Gran Tierra Perú SA, as Planning &amp; Cost Control Chief of Cepsa Peru SA, as Accounting Chief of Minera Teck Peru SA and held several positions in accounting and finance areas in Pluspetrol Norte SA. Javier is a graduate of the University of Lima and has specializations in Corporate Finance, Taxation and International Accounting Standards (IFRS).
					.col-lg-6.col-md-6.col-sm-6.col-xs-12
						img(src="./resources/assets/image/2030.png")
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12
						h2 JOHN NICHOLSON
						p.text-justify without information
					.col-lg-6.col-md-6.col-sm-6.col-xs-12
						//- img(src="./resources/assets/image/nosotros-talento4.jpg")