section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.misionNos
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuNos.hidden-xs.text-center#ancla
				a(href="http://americas-potash.com/demoV5/nosotros.html")
					li Quiénes somos
				a(href="http://americas-potash.com/demoV5/mision.html")
					li.activeNosotros Misión y visión
				a(href="http://americas-potash.com/demoV5/valores.html")
					li Valores
				a(href="http://americas-potash.com/demoV5/talento.html")
					li Talento humano
			ul.menuNosMovil.text-center.hidden-lg.hidden-md.hidden-sm
				a(href="http://americas-potash.com/demoV5/nosotros.html")
					li ¿Quiénes somos?
				a.misionMovile(href="javascript:void(0)")
					li Misión y visión
				a(href="http://americas-potash.com/demoV5/valores.html")
					li Valores
				a(href="http://americas-potash.com/demoV5/talento.html")
					li Talento humano
		.row
			.mision
				.row
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						h2.subtituloMovil.hidden-sm.hidden-md.hidden-lg MISIÓN Y VISIÓN
						h2 MISIÓN
						p.text-justify Producir fertilizantes ricos en fósforo y potasio (Fosfato y Potash) a través de las mejores prácticas mineras y la gestión de los riesgos financieros, sociales y ambientales, así como de las obligaciones y oportunidades por el beneficio a largo plazo de nuestros stakeholders.
						h2 VISIÓN
						p.text-justify Convertirnos en productores líderes de fertilizantes ricos en fósforo y potasio en el Perú.
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						img(src="./resources/assets/image/nosotros-mision.jpg" width="100%")
