section#detalle
	.container-fluid
		.row
			.bannerPrincipal.comuncCorp
				<iframe src="https://player.vimeo.com/video/217080865?color=FFF&title=0&byline=0&portrait=0" width="100%" height="480px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				//- .letrero-banner
				//- 	div
				//- 		h2 What is Lorem ipsum
				//- 		//- p Lorem Ipsum
				//- 		.rectangle
				//- 			|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container#ancla
		.row
			.noticias-comunicacion
				.row.hidden-xs
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h2.text-center.titulo
							b Comunicación Corporativa
					.col-lg-12
						h3 Noticias
				.row
					.col-lg-8.col.md-8.col-sm-8.col-xs-12
						.inner-detalle
							h1 INICIÓ EL PROGRAMA BECA DOCENTE AMERICAS POTASH
								br
								span Beca integral beneficiará aproximadamente a 500 estudiantes del distrito de Sechura
							ul.sliderUno
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/comunicacion-corporativa/detalle/5690.png")
									img.image-click(src="./resources/assets/image/comunicacion-corporativa/detalle/5690.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/comunicacion-corporativa/detalle/5579.png")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/comunicacion-corporativa/detalle/5579.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/comunicacion-corporativa/detalle/5662.png")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/comunicacion-corporativa/detalle/5662.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/comunicacion-corporativa/detalle/5630.png")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/comunicacion-corporativa/detalle/5630.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
							p El pasado 21 de enero se inició el programa educativo “Beca Docente Americas Potash”, el cual consiste en proporcionales una beca integral a 15 docentes que laboran en las Instituciones Educativas de la provincia Sechura, con la finalidad de que al concluir sus estudios obtengan el grado de bachiller o licenciatura.
							p Los docentes beneficiados enseñan en los niveles de inicial y primaria en las localidades de Vice, Sechura, Parachique y Cristo Nos Valga. Los maestros estudiarán por más de un año todos los sábados en la Universidad de Piura.
							p Que los docentes estén mejor capacitados mejorará la calidad de su enseñanza, lo cual ayudará a que más de 500 niñas y niños de Sechura superen su rendimiento y desempeño escolar. No solo ello, que los docentes obtengan su título universitario les brindará igualdad de oportunidades para ascender en la carrera magisterial, con lo que recibirán un mejor salario y mejores condiciones, lo que implica una motivación para ellos.
							p “Me siento muy feliz y muy emocionada de ser una de las personas que se acoge a este beneficio, que en esta oportunidad nos está brindando la empresa Americas Potash a los profesionales de la educación, para poder mejorar nuestra calidad de trabajo”, sostuvo la profesora Elaine Tejada Briceño, quien es una de las beneficiarias del programa.
							p Este programa forma parte de las acciones que venimos desarrollando como parte de la responsabilidad social de la empresa, el cual ha sido posible hacerlo realidad gracias al apoyo de la Universidad de Piura, quienes acogen a los quince docentes en sus aulas y con la Unidad de Gestión Educativa Local - UGEL Sechura, entidad que garantiza y supervisa el cumplimiento del programa educativo.
							.direccionNoticia
								.prev
									a(href="http://americas-potash.com/detalle-2")
										i.icon-caret-left
								.next
									a(href="http://americas-potash.com/detalle-1")
										i.icon-caret-right
					.col-lg-4.col-md-4.col-sm-4.col-xs-4.hidden-xs
						.container-brochure
							.titulo-brochure
								h2 Brochure
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/brochure.png", alt="")
								.col-lg-5.col-md-5.col-sm-12.col-xs-5
									h2 BROCHURE
									.icon-brochure
										.icon-download3
											a(href="./resources/assets/documentos/brochure/brochure_1.pdf" target="_blank" download) Descargar pdf
										.icon-eye
											a(href="./resources/assets/documentos/brochure/brochure_1.pdf" target="_blank") Ver más
						.container-brochure
							.titulo-brochure
								h2 Prensa
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/prensa.png", alt="")
								.col-lg-5.col-md-5.col-sm-12.col-xs-5
									h2 COMUNICADO
									.icon-brochure
										.icon-download3
											a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank" download) Descargar pdf
										.icon-eye
											a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank") Ver más
							//- .row.brochure
							//- 	.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-7
							//- 		img(src="./resources/assets/image/comunicacion-corporativa/prensa.png", alt="")
							//- 	.col-lg-5.col-md-5.col-sm-12.col-xs-5
							//- 		h2 COMUNICADO
							//- 		p La compañía Americas Potash Perú S.A. expresa a la opinión pública lo siguiente.
							//- 		.icon-brochure
							//- 			.icon-download3
							//- 				a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank" download) Descargar pdf
							//- 			.icon-eye
							//- 				a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank") Ver más
							//- .row.text-center
							//- 	a(href="") Ver más