section#beca
	.row
		.descrip-beca
			padding 0 15px
			h5
				font-size 20px
				color azul
				font-family fuente_tituloH2Nos
			ul
				padding 0
				li
					list-style none
	.row.galerias
		// .lSAction
		// 	> a
		// 		top 40%
			a.lSPrev
				&:before
					color azul
			a.lSNext
				&:before
					color azul