section#beca
		.programaBeca
			background blanco
			.titulo-prog
				background azul
				color blanco
			.row
				h2
					margin-bottom 0
					display flex
					justify-content center
					align-items center
					img
						margin-left 10px
				.menuProg
					display flex
					justify-content center
					padding 50px
					a
						padding 15px
						color grisoscuro
						width 200px
						font-size 20px
						&.activeMenuProg
							font-family fuente_activeMedium
							color blanco
							background azul
						&:hover
							text-decoration none
							background azul
							color blanco
							font-family fuente_activeMedium
						li
							list-style none
			.row:nth-child(2)
				background blanco
			.row
				.descrip-beca
					padding 0 15px 60px
					h5
						font-size 20px
						color azul
						font-family fuente_tituloH2Nos
					ul
						padding 0
						li
							list-style none
			.row.galerias
				.lSAction
					> a
						top 40%
					a.lSPrev
						&:before
							color azul
					a.lSNext
						&:before
							color azul