section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.nosotros
				.letrero-banner
					div
						h2 Institutional Governance
						//- p Lorem Ipsum
						.rectangle
							| We incorporate all our workers to grow together.
	.container#ancla
		.row
			ul.menuNos.text-center
				a(href="http://americas-potash.com/demoV5/en/About_Us")
					li.activeNosotros Who We Are
				a(href="http://americas-potash.com/demoV5/en/Mission_and_Vision")
					li Mission and Vision
				a(href="http://americas-potash.com/demoV5/en/Values")
					li Values
				a(href="http://americas-potash.com/demoV5/en/Human_Talent")
					li Human Talent
		.row
			.contenedorNosotros
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.box-somos
							h2.hidden-xs WHO WE ARE
							h2#ancla.hidden-sm.hidden-md.hidden-lg WHO WE ARE
							p.text-justify
								| Americas Potash S.A. (APPSA) is a Peruvian mining company, a subsidiary of the Canadian company, GrowMax Resources. Focused on exploration and production of phosphate and potassium-rich brines on concessions granted by the Peruvian State, located in the Bayovar project, Sechura Desert, Piura department.
							p.text-justify
								| The company&#39;s vision is to become a leading producer of phosphate and potash fertilizers in Peru.
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.duoBtn
							.gr
								a(href="http://www.growmaxcorp.com/", target="_blank")
									img(src="./resources/assets/image/logo-growmax.png")
							.am
								a(href="http://www.growmaxcorp.com/", target="_blank")
									img(src="./resources/assets/image/logo-potash.png")
				.row
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMax
							div
								.circle.text-center
									h2 GROWMAX 
										br
										span RESOURCES
									P A Canadian public company listed on the TSX Venture Exchange (Ticker GRO on TSX-V).
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMax
							div
								.circle.text-center
									h2 GROWMAX
										br
										span AGRI CORP
									P A private Canadian company headquartered in Calgary.
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMax
							div
								.circle.text-center
									h2 AMERICAS
										br
										span POTASH
									P Holds Bayovar concessions 5, 6, 7 and 8, which were formally granted by Activos Mineros to APPSA in 2014.
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMax
							div
								.circle.text-center
									h2 GROWMAX
										br
										span RESOURCES
									P Owns 92 % of GrowMax AgriCorp.