section#mapa
	.container-fluid
		.row
			.oficinas
				a.lima(href="javascript:void(0)", onclick="mostrarMapa(1)")
					|Lima
				a.piura(href="javascript:void(0)", onclick="mostrarMapa(2)")
					|Piura
			.floatDirecc
				img(src="./resources/assets/image/dialogo.png")
				.direccion
					i.icon-location
					p#midireccion
						b Av. Victor Andrés Belaunde 147
						|Torre Real Uno, Oficina 602 – San Isidro
						br
						b Telf: (01) 493 4225
						br
						b Cel: 933 534 107
	#map