section#comunicacion-corporativa
	.container-fluid
		.row
			.bannerPrincipal.comuncCorp
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12.noticias-comunicacion
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h2.titulo.text-center.hidden-xs.hidden-sm
							b Comunicación Corporativa
					.col-lg-12
						h3 Noticias
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.col-lg-8.col.md-8.col-sm-8.col-xs-12
							#publicaciones
								// inicio
								// final
							.row
								.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.verM
									a.verMas#paginar(href="javascript:void(0)" , data-paginacion = "1") Ver más
						.col-lg-4.col-md-4.col-sm-4.col-xs-12
							.container-brochure
								.titulo-brochure
									h2 Brochure
								.row.brochure
									.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-6
										img(src="./resources/assets/image/comunicacion-corporativa/brochure.png", alt="")
									.col-lg-5.col-md-5.col-sm-12.col-xs-6
										h2 Brochure
										p Lorem ipsum dolor sit
										.icon-brochure
											.icon-download3
												a(href="./resources/assets/documentos/brochure/brochure_1.pdf" target="_blank" download) Descargar pdf
											.icon-eye
												a(href="./resources/assets/documentos/brochure/brochure_1.pdf" target="_blank") Ver más
									.icon-brochureM
										.icon-download3
												a(href="./resources/assets/documentos/brochure/brochure_1.pdf" target="_blank" download) Descargar pdf
										.icon-eye
											a(href="./resources/assets/documentos/brochure/brochure_1.pdf" target="_blank") Ver más
							.container-prensa
								.titulo-brochure
									h2 Prensa
								.row.brochure
									.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-6
										img(src="./resources/assets/image/comunicacion-corporativa/prensa.png", alt="")
									.col-lg-5.col-md-5.col-sm-12.col-xs-6
										h2 COMUNICADO
										p La compañía Americas Potash Perú S.A. expresa a la opinión pública lo siguiente.
										.icon-brochure
											.icon-download3
												a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank" download) Descargar pdf
											.icon-eye
												a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank") Ver más
									.icon-brochureM
										.icon-download3
												a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank" download) Descargar pdf
										.icon-eye
											a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank") Ver más
								//- .row.brochure
								//- 	.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-6
								//- 		img(src="./resources/assets/image/comunicacion-corporativa/prensa.png", alt="")
								//- 	.col-lg-5.col-md-5.col-sm-12.col-xs-6
								//- 		h2 COMUNICADO
								//- 		p La compañía Americas Potash Perú S.A. expresa a la opinión pública lo siguiente.
								//- 		.icon-brochure
								//- 			.icon-download3
								//- 				a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank" download) Descargar pdf
								//- 			.icon-eye
								//- 				a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank") Ver más
								//- 	.icon-brochureM
								//- 		.icon-download3
								//- 				a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank" download) Descargar pdf
								//- 		.icon-eye
								//- 			a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank") Ver más
								.row.text-center.hidden-xs.hidden-sm
									a(href="http://americas-potash.com/demoV3/en/detalle.html") Ver más