section#salud
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			.salud
				h3.text-center Salud, Seguridad y Medio Ambiente
		.row.galerias
			div.modal-img
				.content-modal
					.row-normal
						span.btn-cerrar-img X
						img.imageZoom
						i.icon-chevron-left
						i.icon-chevron-right
			.contenedorSalud
				.box-somos.text-justify
					p Creemos que nuestro negocio y operaciones pueden y deben ser realizadas de manera que sean seguras para nuestros colaboradores, contratistas y poblaciones de nuestro entorno.
					p Tenemos un sólido compromiso con el desarrollo de una minería moderna y sostenible, lo cual nos obliga al cuidado y preservación del medio ambiente, a través del cumplimiento de las leyes nacionales y estándares internacionales aplicables.
					p Nos esforzamos en reducir al mínimo los impactos que puedan generar nuestros proyectos, por ello nos preocupamos por generar las mejores condiciones de salud.
				ul.sliderSalud
					li
						img(src="./resources/assets/image/responsabilidad-socioambiente.png" width="100%")
						.caja-hover-galeria
							i.icon-eye
					li
						//- a(href="#")
						img(src="./resources/assets/image/responsabilidad-socioambiente.png" width="100%")
						.caja-hover-galeria
							i.icon-eye
					li
						//- a(href="#")
						img(src="./resources/assets/image/responsabilidad-socioambiente.png" width="100%")
						.caja-hover-galeria
							i.icon-eye
					li
						//- a(href="#")
						img(src="./resources/assets/image/responsabilidad-socioambiente.png" width="100%")
						.caja-hover-galeria
							i.icon-eye