.inner-login
	align-items center
	background blanco
	display flex
	flex-direction column
	flex-wrap wrap
	justify-content center
	height 100%
	width 100%
	.formLogin
		background transparent
		border-radius 0px
		padding 30px 10px 0
		text-align center
		width 100%
		@media screen and (min-width: 768px)
			width 750px
		@media screen and (min-width: 992px)
			padding 20px 0 0
			margin auto
			width 970px
		@media screen and (min-width: 1200px)
			width 1170px
		.inner-form
			margin auto
			width 100%
			@media screen and (min-width: 400px)
				width 324px
			@media screen and (min-width: 992px)
				padding-bottom 60px
				width 100%
			figure
				text-align left
				img
					width auto
					@media screen and (min-width: 992px)
						width 170px
			legend
				padding-top 64px
				text-align center
				width 100%
				@media screen and (min-width: 992px)
					padding-top 16px
				h1
					color gris
					font-family "Source Sans Pro"
					font-size 23px
					font-weight 900
					@media screen and (min-width: 992px)
						font-size 30px
						font-weight normal
				h2
					color gris
					font-family "Source Sans Pro"
					font-size 16px
					@media screen and (min-width: 992px)
						font-size 18px
			form
				margin 37px 0 0
				@media screen and (min-width: 992px)
					border 0px solid rgba(102,102,102,0.6)
					box-shadow 0 2px 12px 0px rgba(102,102,102,0.5)
					border-radius 10px
					margin 45px auto 0
					padding 38px 28px 27px 34px
					min-height 290px
					width 482px
				legend
					display none
					padding-top 0
					padding-bottom 20px
					@media screen and (min-width: 992px)
						display block
					h2
						color gris
						font-family "Source Sans Pro"
						font-weight 600
						font-size 28px	
				fieldset
					&.row
						padding-bottom 15px
						position relative
						span
							&.span-icon
								position absolute
								top 0px
								left 6px
								&.lock
									left 9px
						label
							&.error
								display none !important
					&:last-child
						padding-top 40px
						.inner-flex
							@media screen and (min-width: 992px)
								align-items flex-start
								display flex
								flex-direction row
								flex-wrap no-wrap
								justify-content space-between
								
							.inner-link
								display none
								@media screen and (min-width: 992px)
									display block
								a
									color verde
									display block
									text-align left
									&:first-child
										font-family "Source Sans Pro"
										font-size 16px
										font-weight 900
									&:last-child
										margin-top 5px
										font-family "Source Sans Pro"
										font-size 14px
										font-weight 300
			fieldset
				&.link
					padding-bottom 40px
					padding-top 40px
					@media screen and (min-width: 992px)
						display none
					a
						color verde
						display block
						text-align center
						&:first-child
							font-family "Source Sans Pro"
							font-size 23px
							font-weight 900
						&:last-child
							font-family "Source Sans Pro"
							font-size 18px
							font-weight 300
						
				