section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.misionNos
				.letrero-banner
					div
						h2 Institutional Governance
						//- p Lorem Ipsum
						.rectangle
							| We incorporate all our workers to grow together.
	.container
		.row
			ul.menuNos.hidden-xs.text-center#ancla
				a(href="http://americas-potash.com/demoV5/en/About_Us")
					li Who We Are
				a(href="http://americas-potash.com/demoV5/en/Mission_and_Vision")
					li.activeNosotros Mission and Vision
				a(href="http://americas-potash.com/demoV5/en/Values")
					li Values
				a(href="http://americas-potash.com/demoV5/en/Human_Talent")
					li Human Talent
			ul.menuNosMovil.text-center.hidden-lg.hidden-md.hidden-sm
				a(href="http://americas-potash.com/demoV5/en/About_Us")
					li Who We Are
				a.misionMovile(href="javascript:void(0)")
					li Mission and Vision
				a(href="http://americas-potash.com/demoV5/en/Values")
					li Values
				a(href="http://americas-potash.com/demoV5/en/Human_Talent")
					li Human Talent
		.row
			.mision
				.row
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						h2.subtituloMovil.hidden-sm.hidden-md.hidden-lg MISSION AND VISION
						h2 MISSION
						p.text-justify To produce phosphate and potash by applying best mining practices and managing financial, social and environmental risks, as well as obligations and opportunities for the long-term benefit of our stakeholders.
						h2 VISION
						p.text-justify To become a leading producer of phosphate and potash fertilizers in Peru.
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						img(src="./resources/assets/image/nosotros-mision.jpg" width="100%")
