section#nosotros
    .container-fluid
        .row
            .bannerPrincipal.misionNos
                background-image url("../image/banner2.jpg")
                @media (max-width 991px)
                    background-position 0px -4px
                    background-repeat no-repeat
                    height 325px
                    background-size cover
                @media (max-width 424px)
                    background-image url("../image/banner-movil2.jpg")
                    height 415px
                @media (max-width 375px)
                    height 370px
                @media (max-width 320px)
                    height 315px
    .mision
        margin-bottom 20%
        @media (max-width 991px)
            margin-bottom 10%
        @media (max-width 767px)
            // display none
            margin-bottom 0
            padding-top 50px
            padding-bottom 40px
            background blanco
        .row
            background blanco
            margin 20px auto
            box-shadow: sombra
            @media (max-width 767px)
                box-shadow 0 0 0
                margin-bottom 0
                margin-top 0
            h2
                font-family fuente_tituloH2Nos
                color verdeOscuro
                font-size 29px
                // margin-top 0
                @media (max-width 991px)
                    font-size 25px
            h2.subtituloMovil
                @media (max-width 767px)
                    color verdeOscuro
                    font-family fuente_tituloH2Nos
                    text-align center
            p
                @media (max-width 991px)
                    font-size 16px
                @media (max-width 767px)
                    margin 25px 0
                    text-align justify
            div
                font-size 20px
            > div:first-child
                padding 20px 25px 0 50px
                @media (max-width 991px)
                    padding 0 20px
                    padding-right 0
                @media (max-width 425px)
                    padding 0px 25px 0 25px
            > div:nth-child(2)
                padding-right 0
                @media (max-width 767px)
                    padding: 25px
                    padding-bottom 0
                