section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.nosotros
				.letrero-banner
					div
						h2 Gobernanza institucional
						//- p Lorem Ipsum
						.rectangle
							| Incorporamos a todos nuestros trabajadores para crecer juntos.
	.container
		.row
			ul.menuNos.text-center.hidden-xs#ancla
				a(href="http://americas-potash.com/demoV5/nosotros")
					li.activeNosotros ¿Quiénes somos?
				a(href="http://americas-potash.com/demoV5/mision")
					li Misión y visión
				a(href="http://americas-potash.com/demoV5/valores")
					li Valores
				a(href="http://americas-potash.com/demoV5/talento")
					li Talento humano
			ul.menuNosMovil.text-center.hidden-sm.hidden-md.hidden-lg
				a.somosMovile(href="javascript:void(0)")
					li ¿Quiénes somos?
				a(href="http://americas-potash.com/demoV5/mision")
					li Misión y visión
				a(href="http://americas-potash.com/demoV5/valores")
					li Valores
				a(href="http://americas-potash.com/demoV5/talento")
					li Talento humano
		.row
			.contenedorNosotros
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.box-somos
							h2.hidden-xs ¿QUIÉNES SOMOS?
							h2#ancla.hidden-sm.hidden-md.hidden-lg ¿QUIÉNES SOMOS?
							p.text-justify
								| Americas Potash Perú S.A. (APPSA) es una empresa peruana, subsidiaria de la compañía canadiense GrowMax Resources. Enfocados en la exploración y producción de fosfato y salmueras con alta concentración de potasio en las concesiones otorgadas por el Estado peruano, ubicadas en el proyecto Bayóvar, desierto de Sechura, departamento de Piura.
							p.text-justify
								| La visión de la empresa es convertirse en productores líderes de fertilizantes de potasio y fosfatos del Perú.
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.duoBtn
							.gr
								a(href="http://www.growmaxcorp.com/", target="_blank")
									img(src="./resources/assets/image/logo-growmax.png")
							.am
								a(href="http://www.growmaxcorp.com/", target="_blank")
									img(src="./resources/assets/image/logo-potash.png")
				.row
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMax
							div
								.circle.text-center
									h2 GROWMAX 
										br
										span RESOURCES
									P Empresa pública canadiense que cotiza en la bolsa de valores de Toronto Venture(Ticker GRO en TSX - V).
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMax
							div
								.circle.text-center
									h2 GROWMAX
										br
										span AGRI CORP
									P Empresa privada canadiense ubicada en Calgary.
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMax
							div
								.circle.text-center
									h2 AMERICAS
										br
										span POTASH
									P Es titular de las concesiones 5, 6, 7 y 8 de Bayóvar, las cuales fueron formalmente otorgadas por Activos Mineros a APPSA en el 2014.
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMax
							div
								.circle.text-center
									h2.max 92
										span %
									P De GrowMax AgriCorp lo posee GrowMax Resources.