section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.nosotros
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuNos.text-center.hidden-xs
				a(href="http://americas-potash.com/demoV2/nosotros.html")
					li.activeNosotros ¿Quiénes somos?
				a(href="http://americas-potash.com/demoV2/mision.html")
					li Misión y visión
				a(href="http://americas-potash.com/demoV2/valores.html")
					li Valores
				a(href="http://americas-potash.com/demoV2/talento.html")
					li Talento humano
			ul.menuNosMovil.text-center.hidden-sm.hidden-md.hidden-lg
				a.somosMovile(href="javascript:void(0)")
					li ¿Quiénes somos?
				a(href="http://americas-potash.com/demoV2/mision.html")
					li Misión y visión
				a(href="http://americas-potash.com/demoV2/valores.html")
					li Valores
				a(href="http://americas-potash.com/demoV2/talento.html")
					li Talento humano
		.row
			.contenedorNosotros
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.box-somos
							h2.hidden-xs ¿QUIÉNES SOMOS?
							h2.hidden-sm.hidden-md.hidden-lg ¿Quiénes somos?
							p 
								|Américas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense cuyas acciones se cotizan en la Bolsa de Valores de Toronto (TSX-V).
								|Nuestra actividad consiste en extraer potasio y fosfáto, insumos esenciales para producir y comercializar sal de mesa e industrial y fertilizantes.
								|Para desarrollar nuestros proyectos, en el año 2008 el Estado Peruano nos otorgó concesiones del proyecto Bayovar ubicado en el departamento de Piura.
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.duoBtn
							.gr
								a(href="http://www.growmaxcorp.com/", target="_blank")
									img(src="./resources/assets/image/logo-growmax.png")
							.am
								a(href="http://www.growmaxcorp.com/", target="_blank")
									img(src="./resources/assets/image/logo-potash.png")
				.row
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMax
							div
								.circle.text-center
									h2 GROUMAX 
										br
										span RESOURCES
									P Empresa pública canadiense que cotiza en la bolsa de valores de Toronto Venture(Ticker GRO en TSX - V)
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMin
							div
								.circle.text-center
									h2 GROUMAX
										br
										span RESOURCES
									P Empresa pública canadiense que ubicada en Calgary
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMin
							div
								.circle.text-center
									h2 AMERICAS
										br
										span POTASH
									P Es dueña de las concesiones 5,6,7 y 8 de Bayóvar.
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMax
							div
								.circle.text-center
									h2.max 92
										span %
									P De GrowMax Resources Corp. lo posee GrowMax Agri corp.