section#nosotros
    .activeNosotros
        background verdeOscuro
        color blanco
        font-family fuente_active
    .container-fluid
        .row
            .nosotros
                background-image url("../image/banner2.jpg")
                @media (max-width 425px)
                    background-image url("../image/banner-movil2.jpg")
                    background-position 0px -4px
                    background-repeat no-repeat
                    background-size 107%
                    height 300px
    ul
        margin:50px auto
        display flex
        justify-content center
        @media (max-width 991px)
            padding 0
        @media (max-width 767px)
            flex-direction column
            align-items center
        a
            &:hover
                text-decoration none
            li
                cursor pointer
                color grisoscuro
                list-style none
                width 200px
                padding 20px
                transition all ease-in-out .2s
                font-size 23px
                @media (max-width 991px)
                    width 180px
                &:hover        
                    background: verdeOscuro
                    color blanco
                    font-family fuente_active
        &.menuNosMovil
            display initial
            li
                width auto
                padding 30px
                background blanco
                font-size 23px
                &:hover
                    font-family fuente_active
                    background blanco
                    color grisoscuro
                    @media (max-width 767px)
                        background blanco
                        color grisoscuro
    .contenedorNosotros
        background: blanco
        padding 20px 40px 70px
        margin-bottom 20%
        box-shadow 2px 1px 5px 0px grisoscuro
        @media (max-width 767px)
            box-shadow 0 0 0
            display none
            margin-bottom 0
            padding-top 50px
        .box-somos
            h2
                position:relative
                height: 50px
                font-size 28px
                font-family fuente_tituloH2Nos
                justify-content: center
                color verdeOscuro
                @media (max-width 425px)
                    text-align center
                    background verdeOscuro
                    width 80%
                    margin auto
                    display flex
                    align-items center
                    justify-content center
                    height 70px
                    color blanco
                    font-family fuente_tituloH2
            p
                @media (max-width 425px)
                    margin 25px 0
                    text-align justify
        .row
            .duoBtn
                display flex
                justify-content center
                width: 500px
                margin: 50px auto
                background: white
                border: 2px solid green
                border-radius: 35px
                padding: 6px
                @media (max-width 598px)
                    height 43%
                    width 100%
                .am, .gr
                    display flex
                    justify-content center
                    align-items center
                    height 100px
                    width 250px
                    text-align center
                    @media (max-width 768px)
                        height 85px
                    img
                        width 80%
                .gr
                    background verdeOscuro
                    position relative
                    border-radius 30px 0 0 30px
                    z-index 2
                    &:before
                        content ""
                        position absolute
                        right -80px
                        border-width 0 25px 52px
                        border-style solid
                        border-color verdeOscuro transparent verdeOscuro verdeOscuro
                        -moz-transform rotate(90deg)
                        -o-transform rotate(90deg)
                        -ms-transform rotate(90deg)
                        bottom -1px
                        right -25px
                        transform rotatex(160deg)
                        z-index -1
                        @media(max-width 768px)
                            border-width 0 25px 43px
                    &:after
                        content ""
                        position absolute
                        right -80px
                        border-width 0 25px 52px
                        border-style solid
                        border-color verdeOscuro transparent verdeOscuro verdeOscuro
                        -moz-transform rotate(90deg)
                        -o-transform rotate(90deg)
                        -ms-transform rotate(90deg)
                        bottom 47px
                        right -25px
                        z-index -1
                        @media (max-width 768px)
                            border-width 0 25px 45px
                            bottom 40px
                .am
                    background verde
                    border-radius 0 30px 30px 0
        .row:last-child
            > div
                display flex
                height 240px
                @media (max-width 991px)
                    height 185px
        .row
            .circleMax,.circleMin
                padding 10px
                border 2px solid verdeOscuro
                border-radius 100%
                display: flex
                justify-content: center
                width 90%
                @media (max-width 991px)
                    width 160px
                    height 180px
                    margin auto
                > div
                    height 220px
                    width 220px
                    border-radius 100%
                    background grisclaro
                    display flex
                    align-items center
                    @media (max-width 991px)
                        width 140px
                        height 155px
                    .circle
                        padding 20px
                        @media (max-width 991px)
                            padding 10px
                            width 100%
                        h2
                            font-family fuente_tituloH2Nos
                            color olivo
                            line-height 0.8
                            margin-top 0
                            span
                                color verdeOscuro
                        p
                            line-height 1
                            font-family fuente_descripcion
                            @media (max-width 991px)
                                line-height 0.8
                                font-size 14px
            .circleMin
                padding 8px
                width 200px
                margin auto
                @media (max-width 991px)
                    width 150px
                    height 160px
                > div  
                    height 180px
                    width 180px
                    display flex
                    justify-content: center
                    @media (max-width 991px)
                        height 140px
                    .circle
                        h2
                            font-size 27px
                            @media (max-width 1199px)
                                font-size 24px
                            @media (max-width 991px)
                                font-size 22px
            .circleMax
                .circle
                    h2
                        font-size 32px
                        @media (max-width 1199px)
                                font-size 28px
                        @media (max-width 991px)
                                font-size 21px
                        span
                            font-size 25px
                            @media (max-width 1199px)
                                font-size 22px
                            @media (max-width 991px)
                                font-size 18px
            .circleMax
                .circle
                    h2.max
                        font-size 60px
                        @media (max-width 1199px)
                            font-size 50px
                        @media (max-width 991px)
                            font-size 40px
                        span
                            font-size 30px
    // .directores
    //     margin: 5% auto
    //     margin-bottom: 10%
    //     h2
    //         margin-bottom: 20px
    //     ul.sliderDirectores
    //         display: flex
    //         justify-content: space-around
    //         list-style:none
    //         padding:0