section#beca
	@media (max-width 767px)
		background blanco
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				background-image url("../image/banner-creciendo.jpg")
				@media (max-width 425px)
					background-image url("../image/banner-movilStn.jpg")
					background-position 0px -4px
					background-repeat no-repeat
					background-size 107%
					height 300px
	.container
		.programaBeca
			// .row
			// 	.descrip-beca
			// 		padding 0 15px
			// 		h5
			// 			font-size 20px
			// 			color azul
			// 			font-family fuente_tituloH2Nos
			// 		ul
			// 			padding 0
			// 			li
			// 				list-style none
			// 		h2
			// 			@media (max-width 767px)
			// 				height 70px
			// 				width 60%
			// 				font-size 25px
			// 				box-shadow 0 0 0
			// 				left -30px
			// 				position relative
			// 		> p
			// 			margin-top 30px
			.row.galerias
				.lSAction
					// > a
					// 	top 40%
					a.lSPrev
						&:before
							color azul
					a.lSNext
						&:before
							color azul