section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.valoresNos
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuNos.text-center#ancla
				a(href="http://americas-potash.com/demo/nosotros.html")
					li Quiénes somos
				a(href="http://americas-potash.com/demo/mision.html")
					li Misión y visión
				a(href="http://americas-potash.com/demo/valores.html")
					li.activeNosotros Valores
				a(href="http://americas-potash.com/demo/talento.html")
					li Talento humano
			//- ul.menuNos.text-center#ancla
			//- 	a(href="http://localhost/potash/nosotros.html")
			//- 		li.activeNosotros Quiénes somos
			//- 	a(href="http://localhost/potash/mision.html")
			//- 		li Misión y visión
			//- 	a(href="http://localhost/potash/valores.html")
			//- 		li Valores
			//- 	a(href="http://localhost/potash/nosotros.html")
			//- 		li Talento humano
		.valores
			.row
				.col-lg-2
					img(src="./resources/assets/image/brazos.png")
				.col-lg-5
					h2 INTEGRIDAD
					div.text-justify Es una política de la compañia promover altos estándare de integridad,  a través de la gestion de los asuntos de la empresa de manera honesta y ética.  La integridad de la empresa depende de la honestidad, sentido de justicia e integridad de cada uno de los colaboradores, reflejado en la ejecución de sus labores diarias.
				.col-lg-6
					img(src="./resources/assets/image/nosotros-val1.jpg" width="100%")
			.row
				.col-lg-2
					img(src="./resources/assets/image/manos.png")
				.col-lg-5
					h2 RESPETO
					div.text-justify Cultivar y fomentar el respeto a las ideas, costumbres y tradiciones de todos los integrantes de la organización y los grupos de interés que interactúan con Americas Potash.
				.col-lg-6
					img(src="./resources/assets/image/nosotros-val2.jpg" width="100%")
			.row
				.col-lg-2
					img(src="./resources/assets/image/grupo.png")
				.col-lg-5
					h2 EXCELENCIA
					div.text-justify Aplicar prácticas responsables, serias y manejadas por todos los integrantes de la organización con el fin de alcanzar la excelencia.
				.col-lg-6
					img(src="./resources/assets/image/nosotros-val3.jpg" width="100%")
