section
    .container-fluid
        .row
            .bannerPrincipal.valoresNos
                background-image url("../image/banner2.jpg")
                @media (max-width 425px)
                    background-image url("../image/banner-movil2.jpg")
                    background-position 0px -4px
                    background-size 107%
                    height 440px
    .valores
        margin-bottom 20%
        @media (max-width 425px)
            box-shadow 0 0 0
            display none
            margin-bottom 0
            padding-top 50px
            padding-bottom 20px
            background blanco
        .row
            display flex
            align-items center
            background blanco
            margin 20px auto
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.75)
            @media (max-width 425px)
                box-shadow 0 0 0
                display flex
                flex-direction column
                margin-bottom 50px
                padding 15px
            h2
                font-family fuente_tituloH2Nos
                color verdeOscuro
                font-size 30px
                margin-top 0
            h2.tituloValorMovil
                @media (max-width 425px)
                    text-align center
                    background verdeOscuro
                    width 80%
                    margin auto
                    display flex
                    align-items center
                    justify-content center
                    height 70px
                    color blanco
                    font-family fuente_tituloH2
                    margin-bottom 50px
            div
                font-size 20px
            .logoMovil
                display flex
                justify-content space-between
                align-items center
                img
                    width 60px
            .col-lg-2
                display flex
                justify-content flex-end
                align-items center
                width 13.666667%
                img
                    width 110px
            > div:nth-child(3)
                padding-right 0
                @media (max-width 425px)
                    padding-right 15px
                &:first-child
                    .col-lg-2:first-child
                        height 160px
                        align-items flex-start