.inner-contenido(ng-controller="editarBibliografiaCrtl")
	.inner-nave
		ul
			li
				a(href="javascript:void(0)")
					| Bibliografía
				span.dividir
					| >>
			li
				a.active(href="javascript:void(0)")
					| {{nom_accion}}
	.inner-botones
		.column
		.column
			a.btnaddArt(href="javascript:void(0)", ng-click="procesarForm(form)")
				i.icon-plus
				| Guardar cambios
	.inner-form.form-interno
		form(name="form")
			fieldset.row.inner-alert
				.alert.exito
					p
			fieldset.row
				label Título
				input(type="text", name="titulo", id="titulo", ng-model="form.titulo", placeholder="Ingrese el Título")
			fieldset.row
				label Frase
				textarea(name="frase", ckeditor="editorOptions", id="frase", ng-model="form.frase", placeholder="Ingrese la Frase")
			//fieldset.row
				label 
					| Url Amigable 
					span
						| (Es para mejor el tema de SEO ej. http://per2021.pe/minoticia) 
				input(type="text", name="url_seo", id="url_seo", ng-model="form.url_seo", placeholder="Escriba la URL Amigable")
			fieldset.row
				label Suba la imagén de Portada
				figure
					img(src="{{rutaImg}}{{form.act_img_portada}}")
				input(type="file", name="file_portada", id="file_portada", ng-model="form.file_portada")
			fieldset.row
				label Tipo de Multimedia
				.inner-select
					.cajaselect
						span.seleccionado
							| Tipo de Multimedia
						ul.listaselect
							li
								a(href="javascript:void(0)", data-id="0")
									| Tipo de Multimedia
							li
								a(href="javascript:void(0)", data-id="1")
									| Imágen
							li
								a(href="javascript:void(0)", data-id="2")
									| Video (Youtube)
						span.trianguloinf
			fieldset.row#multimedia-1.multimedia
				label Subir Imagen Portada
				figure
					img(src="{{rutaImg}}{{form.act_mul_imagen}}")
				input(type="file", name="mul_fileImagen2", id="mul_fileImagen", ng-model="form.mul_fileImagen")
			fieldset.row#multimedia-2.multimedia
				label 
					| Coloque el código de Youtube, 
					span
						| ej: F0ApAtX9AP8
				input(type="text", name="mul_video", id="mul_video", ng-model="form.mul_video", placeholder="Ingrese el código de Youtube")
			fieldset.row
				label Ingrese la Descripción Corta
				textarea(name="descrip_superior", ckeditor="editorOptions", id="descrip_superior", ng-model="form.descrip_superior", placeholder="Ingrese la Descripción Superior")
			fieldset.row
				label Ingrese la Descripción
				textarea(name="descrip_inferior", ckeditor="editorOptions", id="descrip_inferior", ng-model="form.descrip_inferior", placeholder="Ingrese la Descripción Inferior")
			fieldset.row.inner-alert
				.alert.exito
					p
			
	.inner-botones
		.column
		.column
			a.btnaddArt(href="javascript:void(0)", ng-click="procesarForm(form)")
				i.icon-plus
				| Guardar cambios



