section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.misionNos
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuNos.text-center#ancla
				a(href="http://americas-potash.com/demo/nosotros.html")
					li Quiénes somos
				a(href="http://americas-potash.com/demo/mision.html")
					li.activeNosotros Misión y visión
				a(href="http://americas-potash.com/demo/valores.html")
					li Valores
				a(href="http://americas-potash.com/demo/talento.html")
					li Talento humano
			//- ul.menuNos.text-center#ancla
			//- 	a(href="http://localhost/potash/nosotros.html")
			//- 		li.activeNosotros Quiénes somos
			//- 	a(href="http://localhost/potash/mision.html")
			//- 		li Misión y visión
			//- 	a(href="http://localhost/potash/valores.html")
			//- 		li Valores
			//- 	a(href="http://localhost/potash/talento.html")
			//- 		li Talento humano
		.mision
			.row
				.col-lg-6
					h2 MISIÓN
					div.text-justify Producir fertilizantes ricos en fósforo y potasio (Fosfato y Potash) a través de las mejores prácticas mineras y la gestión de los riesgos financieros, sociales y ambientales, así como de las obligaciones y oportunidades por el beneficio a largo plazo de nuestros stakeholders.
					h2 VISIÓN
					div.text-justify Convertirnos en productores líderes de fertilizantes ricos en fósforo y potasio en el Perú.
				.col-lg-6
					img(src="./resources/assets/image/nosotros-mision.jpg" width="100%")
