section#nosotros
    .container-fluid
        .row
            .bannerPrincipal.misionNos
                background-image url("../image/banner2.jpg")
                @media (max-width 425px)
                    background-image url("../image/banner-movil2.jpg")
                    background-position 0px -4px
                    background-size 107%
                    height 440px
    .mision
        margin-bottom 20%
        @media (max-width 425px)
            display none
            margin-bottom 0
            padding-top 50px
            padding-bottom 40px
            background blanco
        .row
            background blanco
            margin 20px auto
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.75)
            @media (max-width 425px)
                box-shadow 0 0 0
                margin-bottom 0
            h2
                font-family fuente_tituloH2Nos
                color verdeOscuro
                font-size 29px
                // margin-top 0
            h2.subtituloMovil
                @media (max-width 425px)
                    text-align center
                    background verdeOscuro
                    width 80%
                    margin auto
                    margin-bottom 40px
                    display flex
                    align-items center
                    justify-content center
                    height 70px
                    color blanco
                    font-family fuente_tituloH2
            p
                @media (max-width 425px)
                    margin 25px 0
                    text-align justify
            div
                font-size 20px
            > div:first-child
                padding 20px 25px 0 50px
                @media (max-width 425px)
                    padding 0px 25px 0 25px
            > div:nth-child(2)
                padding-right 0
                @media (max-width 425px)
                    padding: 25px
                