section#nosotros
    .container-fluid
        .row
            .bannerPrincipal.misionNos
                background-image url("../image/banner2.jpg")
    .mision
        margin-bottom 20%
        .row
            background blanco
            margin 20px auto
            h2
                font-family fuente_tituloH2Nos
                color verdeOscuro
                font-size 29px
                // margin-top 0
            div
                font-size 20px
            > div:first-child
                padding 20px 25px 0 50px
            > div:nth-child(2)
                padding-right 0