section#salud
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 Growing together
						//- p Lorem Ipsum
						.rectangle
							| For sustainable development of Sechura.
	.container
		//- .row
		//- 	ul.menuSos.text-center.hidden-xs#ancla
		//- 		a(href="http://americas-potash.com/demoV5/sostenibilidad.html")
		//- 			li.activesos Responsabilidad Social
		//- 		a(href="http://americas-potash.com/demoV5/beca.html")
		//- 			li Beca Docente
		//- 		a(href="http://americas-potash.com/demoV5/comunicacion-y-dialogo.html")
		//- 			li Comunicación y Diálogo
		//- 	ul.menuSosMovil.text-center.hidden-sm.hidden-md.hidden-lg
		//- 		a(href="javascript:void(0)")
		//- 			li.sostenibilidadMovil Responsabilidad Social
		//- 		a(href="http://americas-potash.com/demoV5/beca.html")
		//- 			li Beca Docente
		//- 		a(href="http://americas-potash.com/demoV5/comunicacion-y-dialogo.html")
		//- 			li Comunicación y Diálogo
		.row
			//- .col-lg-12.col-md-12.col-sm-12.col-xs-12
			//- 	.row.cont-Salud
			//- 		ul.menuSos.text-center
			//- 			a(href="javascript:void(0)")
			//- 				li.activesos Salud
			.salud#ancla
				h2.text-center HEALTH, SAFETY AND ENVIRONMENT
			.galerias
				.col-xs-12
					.row
						.col-xs-12
							.contenedorSalud
								.row
									.box-somos.text-justify
										p We believe that our business and operations may and should be carried out safely for our employees, contractors and surrounding populations.
										p We have a solid commitment to the development of a modern and sustainable mining activity, which makes us to care and preserve the environment by complying with applicable national laws and international standards.
										p We strive to minimize the impacts that our projects may generate, that’s why we are taking special care to create the best health conditions.
									ul.sliderUno
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/0241.png")
											img.image-click(src="./resources/assets/image/0241.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/0167.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/0167.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/0147.png")
											img.image-click(src="./resources/assets/image/0147.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/0212.png")
											img.image-click(src="./resources/assets/image/0212.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye