section#sostenibilidad
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center.hidden-xs
				a(href="http://americas-potash.com/demoV3/en/sustainability.html")
					li.activesos Social Responsability
				a(href="http://americas-potash.com/demoV3/en/beca.html")
					li Beca Docente
				a(href="http://americas-potash.com/demoV3/en/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
			ul.menuSosMovil.text-center.hidden-sm.hidden-md.hidden-lg
				a(href="javascript:void(0)")
					li.sostenibilidadMovil Social Responsability
				a(href="http://americas-potash.com/demoV3/en/beca.html")
					li Beca Docente
				a(href="http://americas-potash.com/demoV3/en/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.sostenibilidad-social
					.row
						.col-lg-7.col-md-7.col-sm-7.col-xs-12
							.row
								.col-lg-12.col-md-12.col-sm-12.col-xs-12.descrip-sostenibilidad
									h2.hidden-lg.hidden-md.hidden-sm Social Responsability
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											p.text-justify 
												| Based on the company’s Social Responsibility policy, we contribute to the development of the communities located in the surroundings of our projects, seeking that the success of our business is reflected in the improvement of quality of life of the population closest to the project, so that our company and the communities continue to grow together.
											p.text-justify
												|This will be mainly achieved as follows:
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.contenido-sostenibilidad
												.box-stn
													.number
														|1
													.tContenido-sostenibilidad
														h5
															b BY CREATING
																span JOBS
												.box-stn
													.sign +
													.descrip-number
														.signMov +
														h5 
															b AND STRENGTHENING PRODUCTION ACTIVITIES RELATED TO OUR BUSINESS.
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.contenido-sostenibilidad
												.box-stn
													.number
														|2
													.tContenido-sostenibilidad
														h5
															b BY IMPLEMENTING DEVELOPMENT PROJECTS
												.box-stn
													.sign
														i.icon-caret-right
													.descrip-number
														.signMov +
														h5.verde 
															b for the region to attain three of the Sustainable Development Goals
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.logosSostenibles
												.logoS
													img(src="./resources/assets/image/responsabilidad-educ.png", alt="")
													p
														b QUALITY EDUCATION
														br
														|(O.D.S. 4)
												.logoS
													img(src="./resources/assets/image/responsabilidad-bien.png", alt="")
													P
														b HEALTH AND WELFARE
														br
														|(O.D.S. 3)
												.logoS
													img(src="./resources/assets/image/responsabilidad-prod.png", alt="")
													P
														b SUSTAINABLE PRODUCTION
														br
														|(O.D.S. 12)
						.col-lg-5.col-md-5.col-sm-5.col-xs-12.imagenRE
							img(src="./resources/assets/image/responsabilidad-principal.png", alt="")
					.row.galerias
						.col-lg-12
							h3 Galería
							div
								ul.sliderGaleria
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9842.png")
										img.image-click(src="./resources/assets/image/9842.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9846.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9846.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9862.png")
										img.image-click(src="./resources/assets/image/9862.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9889.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9889.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9916.png")
										img.image-click(src="./resources/assets/image/9916.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9961.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9961.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9967.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9967.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9999.png")
										img.image-click(src="./resources/assets/image/9999.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9987.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9987.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/3614.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/3614.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/3624.png")
										img.image-click(src="./resources/assets/image/3624.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0036.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0036.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0049.png")
										img.image-click(src="./resources/assets/image/0049.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0055.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0055.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0063.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0063.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0341.png")
										img.image-click(src="./resources/assets/image/0341.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0357.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0357.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0385.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0385.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0486.png")
										img.image-click(src="./resources/assets/image/0486.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0013.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0013.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
								