section#sostenibilidad
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 Growing together
						//- p Lorem Ipsum
						.rectangle
							| For sustainable development of Sechura.
	.container
		.row
			ul.menuSos.text-center.hidden-xs#ancla
				a(href="http://americas-potash.com/demoV5/en/Sustainability.html")
					li.activesos Social Responsibility
				a(href="http://americas-potash.com/demoV5/en/beca.html")
					li Beca Docente (Teacher Scholarship)
				a(href="http://americas-potash.com/demoV5/en/Communication_and_Dialogue.html")
					li Communication and Dialogue
			ul.menuSosMovil.text-center.hidden-sm.hidden-md.hidden-lg
				a(href="javascript:void(0)")
					li.sostenibilidadMovil Social Responsibility
				a(href="http://americas-potash.com/demoV5/en/beca.html")
					li Beca Docente (Teacher Scholarship)
				a(href="http://americas-potash.com/demoV5/en/Communication_and_Dialogue.html")
					li Communication and Dialogue
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.sostenibilidad-social
					.row
						.col-lg-7.col-md-7.col-sm-7.col-xs-12
							.row
								.col-lg-12.col-md-12.col-sm-12.col-xs-12.descrip-sostenibilidad
									h2.hidden-lg.hidden-md.hidden-sm Social Responsibility
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											p.text-justify 
												| Based on the company’s Social Responsibility policy, we contribute to the development of the communities located in the surroundings of our projects. We try to reflect the success of our business in the improvement of quality of life of the population closest to the project for our company and the communities to continue to grow together.
											p.text-justify
												| This will be mainly achieved as follows:
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.contenido-sostenibilidad
												.box-stn
													.number
														|1
													.tContenido-sostenibilidad
														h5
															b BY CREATING 
																span JOB
												.box-stn
													.sign +
													.descrip-number
														.signMov +
														h5 
															b and strengthening production activities related to our business.
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.contenido-sostenibilidad
												.box-stn
													.number
														|2
													.tContenido-sostenibilidad
														h5
															b BY IMPLEMENTING DEVELOPMENT PROJECTS
												.box-stn
													.sign
														i.icon-caret-right
													.descrip-number
														.signMov &#9660
														h5.verde 
															b for the region to attain  
																span 3 
																| of the Sustainable Development Goals
															span.parentesis (set by the United Nations in 
																span 2015
																| , the others are transversal to our management).
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.logosSostenibles
												.logoS
													img(src="./resources/assets/image/responsabilidad-bien.png", alt="")
													P
														b HEALTH AND WELFARE
														br
														|(O.D.S. 
														span.dos 3
														|)
												.logoS
													img(src="./resources/assets/image/responsabilidad-educ.png", alt="")
													p
														b QUALITY EDUCATION
														br
														|(O.D.S. 
														span.uno 4
														|)
												.logoS
													img(src="./resources/assets/image/responsabilidad-prod.png", alt="")
													P
														b SUSTAINABLE PRODUCTION
														br
														|(O.D.S. 
														span.tres 12
														|)
						.col-lg-5.col-md-5.col-sm-5.col-xs-12.imagenRE
							img(src="./resources/assets/image/responsabilidad-principal.png", alt="")
					.row.galerias
						.col-lg-12
							h3 Gallery
							div
								ul.sliderGaleria
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9842.jpg")
										img.image-click(src="./resources/assets/image/9842.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9846.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9846.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9862.jpg")
										img.image-click(src="./resources/assets/image/9862.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9889.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9889.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9916.jpg")
										img.image-click(src="./resources/assets/image/9916.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9961.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9961.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9967.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9967.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9999.jpg")
										img.image-click(src="./resources/assets/image/9999.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9987.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9987.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/3614.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/3614.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/3624.jpg")
										img.image-click(src="./resources/assets/image/3624.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0036.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0036.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0049.jpg")
										img.image-click(src="./resources/assets/image/0049.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0055.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0055.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0063.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0063.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0341.jpg")
										img.image-click(src="./resources/assets/image/0341.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0357.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0357.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0385.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0385.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0486.jpg")
										img.image-click(src="./resources/assets/image/0486.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0013.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0013.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
								