doctype html
html(lang="es", ng-app="Ohemedical")
	head
		title Americas Potash
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width,initial-scale=1")
		//- meta(name="author", content="GESMEDIC")
		//- meta(name="description", content="GESMEDIC")
		//- meta(name="keywords", content="GESMEDIC")
		//- meta(name="robots", content="index, follow")
		//- link(rel="shortcut icon", href="public/image/favicon.ico" type="image/x-icon")
		//- link(rel="stylesheet" href="./bower_components/HTML5-Reset/assets/css/reset.css")
		link(rel="stylesheet" href="./resources/assets/css/lightslider.css")
		//- link(rel="stylesheet" href="./resources/assets/css/lightslider.min.css")
		link(href="./resources/assets/css/bootstrap.min.css", rel="stylesheet")
		link(href="./resources/assets/css/app.css", rel="stylesheet")
		//- link(href="./resources/assets/css/formulario.css", rel="stylesheet")
		//- script(src="./bower_components/jquery/dist/jquery.min.js")
		//- script(src="./bower_components/angular/angular.min.js")
		//- script(src="./bower_components/jquery-validation/dist/jquery.validate.js")
		//- script(src="./bower_components/angular-sanitize/angular-sanitize.js")
		//- script(src="./bower_components/angular-route/angular-route.min.js")
		//- script(src="./bower_components/angular-cookies/angular-cookies.min.js")
		//- favicon
		link(rel="apple-touch-icon" sizes="57x57" href="./resources/assets/image/favicon/apple-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="./resources/assets/image/favicon/apple-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="./resources/assets/image/favicon/apple-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="./resources/assets/image/favicon/apple-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="./resources/assets/image/favicon/apple-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="./resources/assets/image/favicon/apple-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="./resources/assets/image/favicon/apple-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="./resources/assets/image/favicon/apple-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="./resources/assets/image/favicon/apple-icon-180x180.png")
		link(rel="icon" type="image/png" sizes="192x192"  href="./resources/assets/image/favicon/android-icon-192x192.png")
		link(rel="icon" type="image/png" sizes="32x32" href="./resources/assets/image/favicon/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="96x96" href="./resources/assets/image/favicon/favicon-96x96.png")
		link(rel="icon" type="image/png" sizes="16x16" href="./resources/assets/image/favicon/favicon-16x16.png")
		link(rel="manifest" href="./resources/assets/image/favicon/manifest.json")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
		meta(name="theme-color" content="#ffffff")

		//- script(src="./bower_components/angular-ckeditor/angular-ckeditor.js")
		//- script(src="./resources/assets/js/controller/controller.js")
	body(ng-view)
		include ../header/header.jade
		include inicio.jade
		include ../mapa/mapa.jade
		include ../footer/footer.jade
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAqTeX8G5xOAMXSAgN7OjsQwSwIludCEw")
	script(src="./resources/assets/js/jquery-3.1.1.min.js")
	script(src="./resources/assets/js/jquery.validate.min.js")
	script(src="./resources/assets/js/jquery.fancybox.min.js")
	script(src="./resources/assets/js/lightslider.min.js")
	script(src="./resources/assets/js/validacion.js")
	script(src="./resources/assets/js/init.js")