section#spots
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 Growing together
						//- p Lorem Ipsum
						.rectangle
							| For sustainable development of Sechura.
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.row
					ul.menuSos.hidden-xs.text-center#ancla
						a(href="http://americas-potash.com/demoV5/en/Sustainability")
							li Social Responsibility
						a(href="http://americas-potash.com/demoV5/en/beca")
							li Beca Docente (Teacher Scholarship)
						a(href="http://americas-potash.com/demoV5/en/Communication_and_Dialogue")
							li.activesos Communication and Dialogue
					ul.menuMovSa.hidden-sm.hidden-md.hidden-lg.text-center#ancla
						a(href="http://americas-potash.com/demoV5/en/Sustainability")
							li Social Responsibility
						a(href="http://americas-potash.com/demoV5/en/beca")
							li Beca Docente (Teacher Scholarship)
						a(href="javascript:void(0)")
							li.sostenibilidadMovil Communication and Dialogue
		.row.contenedorSpots
			.col-lg-12
				.row.sSalud
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.row.subComunic
							ul.menuSos.text-center
								a(href="http://americas-potash.com/demoV5/en/Communication_and_Dialogue")
									li Newsletters
								a(href="http://americas-potash.com/demoV5/en/videos")
									li Videos
								a(href="javascript:void(0)")
									li.activesos Radio Spots
								a(href="http://americas-potash.com/demoV5/en/Mobile_Office")
									li Mobile Office
				.spot
					.spotAudio
						img(src="./resources/assets/image/logo-spot.png")
						//- img.iconAudio(src="./resources/assets/image/audio.png" width="20%")
					.reseniaAudio
						audio(controls)
							source(src="./resources/assets/audio/spot-uso-agua.mp3")
							source(src="./resources/assets/audio/spot-uso-agua.ogg")
						p Americas Potash is committed to the responsible use of water.