section#oficina
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.hidden-xs.text-center#ancla
				a(href="http://americas-potash.com/demoV5/en/sustainability.html")
					li Social Responsability
				a(href="http://americas-potash.com/demoV5/en/beca.html")
					li Beca Docente
				a(href="javascript:void(0)")
					li.activesos Comunicación y Diálogo
			ul.MenuOficina.text-center.hidden-sm.hidden-md.hidden-lg#ancla
				a(href="http://americas-potash.com/demoV5/en/sustainability.html")
					li Social Responsability
				a(href="http://americas-potash.com/demoV5/en/beca.html")
					li Beca Docente
				a(href="javascript:void(0)")
					li.activesos Comunicación y Diálogo
		.oficinaMovil
			.row.subComunic
				ul.menuSos.text-center
					a(href="http://americas-potash.com/demoV5/en/comunicacion-y-dialogo.html")
						li Boletines
					a(href="http://americas-potash.com/demoV5/en/videos.html")
						li Videos
					a(href="http://americas-potash.com/demoV5/en/spot-radial.html")
						li Spots Radiales
					a(href="http://americas-potash.com/demoV5/en/oficina-movil.html")
						li.oficinaSUb Oficina Móvil
			.row.contenedorVideo
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.box-somos.text-justify
						h4 AMERICAS POTASH… TU NUEVO VECINO.
						p La Casa de Americas Potash es una oficina móvil, que cuenta con todos los servicios de una oficina fija, pero a diferencia de ella, ésta se traslada a donde sea necesario.
						p Debido a que comprendimos la dificultad que representa para la población trasladarse a nuestras oficinas, acudimos a ustedes. La casa de Americas Potash se acerca a tu comunidad para escucharte, recoger tus sugerencias, aclarar tus dudas y explicarte respecto de nuestros proyectos 
						p Empezamos en Malavida el 08 y 10 de febrero, donde las y los vecinos de la Casa Americas Potash saludaron la iniciativa, porque ahora tienen a la empresa más cerca de ellos.
						p Comunícate con nosotros para recibir el itinerario y sepas cuándo estaremos por tu localidad.  Días previos a la instalación de la Casa, las autoridades realizarán la convocatoria para que no te la pierdas.
					ul.sliderUno
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil1.jpg")
							img.image-click(src="./resources/assets/image/o-movil1.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil2.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/o-movil2.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil3.jpg")
							img.image-click(src="./resources/assets/image/o-movil3.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil4.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/o-movil4.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil5.jpg")
							img.image-click(src="./resources/assets/image/o-movil5.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil6.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/o-movil6.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil7.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/o-movil7.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil8.jpg")
							img.image-click(src="./resources/assets/image/o-movil8.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye