section#detalle
	.container-fluid
		.row
			.bannerPrincipal.comuncCorp
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			.noticias-comunicacion
				.row.hidden-xs
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h2.text-center.titulo
							b Comunicación Corporativa
					.col-lg-12
						h3 Noticias
				.row
					.col-lg-8.col.md-8.col-sm-8.col-xs-12
						.inner-detalle
							h1 INVERTIRÁ US$ 10 MILLONES
								br
								span Growmax Resources
							ul.sliderUno
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/comunicacion-corporativa/detalle/1063.png")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/comunicacion-corporativa/detalle/1063.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/comunicacion-corporativa/detalle/1063.png")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/comunicacion-corporativa/detalle/1063.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
							p Para el 2017, la canadiense GrowMax Resources (antes Americas Petrogas Inc) tiene un presupuesto de inversión y capital de trabajo de alrededor de US$ 10 millones, que se enfocará en el avance del proyecto de fosfatos Bayóvar 7 a partir de investigaciones adicionales y estudios de venta doméstica y regional de roca de fosfato, así como en requerimientos ambientales y sociales. También adelantará una iniciativa en Argentina.
							p Sobre el proyecto Bayóvar 7, la empresa encargó en agosto la realización de un diseño y consultoría de ingeniería a WorleyParsons Canada Services, el mismo que entregará los resultados de los trabajos en el primer trimestre del próximo año.
							p DIARIO GESTIÓN
							p PÁGINA 18
							p FECHA DE PUBLICACIÓN, 28-11- 16
					.col-lg-4.col-md-4.col-sm-4.col-xs-4.hidden-xs
						.container-brochure
							.titulo-brochure
								h2 Brochure
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/brochure.png", alt="")
								.col-lg-5.col-md-5.col-sm-12.col-xs-5
									h2 Brochure
									p Lorem ipsum dolor sit
									.icon-brochure
										.icon-download3
											a(href="./resources/assets/documentos/brochure/brochure_1.pdf" target="_blank" download) Descargar pdf
										.icon-eye
											a(href="./resources/assets/documentos/brochure/brochure_1.pdf" target="_blank") Ver más
						.container-brochure
							.titulo-brochure
								h2 Prensa
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/prensa.png", alt="")
								.col-lg-5.col-md-5.col-sm-12.col-xs-5
									h2 COMUNICADO
									p La compañía Americas Potash Perú S.A. expresa a la opinión pública lo siguiente.
									.icon-brochure
										.icon-download3
											a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank" download) Descargar pdf
										.icon-eye
											a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank") Ver más
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/prensa.png", alt="")
								.col-lg-5.col-md-5.col-sm-12.col-xs-5
									h2 COMUNICADO
									p La compañía Americas Potash Perú S.A. expresa a la opinión pública lo siguiente.
									.icon-brochure
										.icon-download3
											a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank" download) Descargar pdf
										.icon-eye
											a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank") Ver más
							.row.text-center
								a(href="") Ver más