section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.valoresNos
				.letrero-banner
					div
						h2 Institutional Governance
						//- p Lorem Ipsum
						.rectangle
							| We incorporate all our workers to grow together.
	.container
		.row
			ul.menuNos.hidden-xs.text-center#ancla
				a(href="http://americas-potash.com/demoV5/en/About_Us.html")
					li Who We Are
				a(href="http://americas-potash.com/demoV5/en/Mission_and_Vision.html")
					li Mission and Vision
				a(href="http://americas-potash.com/demoV5/en/Values.html")
					li.activeNosotros Values
				a(href="http://americas-potash.com/demoV5/en/Human_Talent.html")
					li Human Talent
			ul.menuNosMovil.text-center.hidden-lg.hidden-md.hidden-sm
				a(href="http://americas-potash.com/demoV5/en/About_Us.html")
					li Who We Are
				a(href="http://americas-potash.com/demoV5/en/Mission_and_Vision.html")
					li Mission and Vision
				a.valorMovil(href="javascript:void(0)")
					li Values
				a(href="http://americas-potash.com/demoV5/en/Human_Talent.html")
					li Human Talent
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.valores
					.row
						.col-lg-2.hidden-sm.hidden-xs
							img(src="./resources/assets/image/brazos.png")
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							h2.tituloValorMovil.hidden-lg.hidden-md.hidden-sm VALUES
							.logoMovil
								h2 INTEGRITY
								img.hidden-sm.hidden-md.hidden-lg(src="./resources/assets/image/brazos.png")
							p.text-justify It is a company policy to promote high standards of integrity, through the management of business affairs in an honest and ethical manner. The company’s integrity depends on the honesty, sense of justice and integrity of each of the collaborators, which is reflected in the performance of their daily tasks.
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							img(src="./resources/assets/image/nosotros-val1.jpg" width="100%")
					.row
						.col-lg-2.hidden-sm.hidden-xs
							img(src="./resources/assets/image/manos.png")
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							.logoMovil
								h2 RESPECT
								img.hidden-sm.hidden-md.hidden-lg(src="./resources/assets/image/manos.png")
							p.text-justify Cultivate and promote respect for the ideas, customs and traditions of all the members of the organization and stakeholders interacting with Americas Potash.
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							img(src="./resources/assets/image/nosotros-val2.jpg" width="100%")
					.row
						.col-lg-2.hidden-sm.hidden-xs
							img(src="./resources/assets/image/grupo.png")
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							.logoMovil
								h2 EXCELLENCE
								img.hidden-sm.hidden-md.hidden-lg(src="./resources/assets/image/grupo.png")
							p.text-justify Apply responsible and serious practices managed by all members of the organization in order to achieve excellence.
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							img(src="./resources/assets/image/nosotros-val3.jpg" width="100%")
