section#beca
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 Creciendo juntos
						//- p Lorem Ipsum
						.rectangle
							| Por el desarrollo sostenible de Sechura.
	.container#ancla
		.row
			ul.menuSos.text-center
				a(href="http://americas-potash.com/sostenibilidad")
					li Responsablidad Social
				a(href="javascript:void(0)")
					li.activesos Beca Docente
				a(href="http://americas-potash.com/comunicacion-y-dialogo")
					li Comunicación y Diálogo
		.row
			.programaBeca
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.row.hidden-sm
						h2.titulo-prog.text-center PROGRAMA
							img(src="./resources/assets/image/responsabilidad-beca.png", alt="")
					.row
						.col-lg-12.col-md-12.col-sm-12
							ul.menuProg.text-center
								a.activeMenuProg(href="javascript:void(0)")
									li Descripción
								a(href="http://americas-potash.com/beca-beneficiarios")
									li Beneficiarios
								a(href="http://americas-potash.com/beca-video")
									li Video
								a(href="http://americas-potash.com/beca-spot-radial")
									li Spot radial
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							.descrip-beca
								h2.titulo-prog.hidden-sm.hidden-md.hidden-lg.text-center Descripción
								p
									|El programa “Beca Docente Americas Potash”, brindará una beca integral a quince (15) docentes de las Instituciones Educativas de la provincia de Sechura, egresados de los Institutos Superiores Pedagógicos con Título a Nombre de la Nación en Inicial y Primaria, introduciendo un conjunto de innovaciones educativas y formación humanística, para alcanzar el grado de bachiller y título de licenciado en la Universidad de Piura. 
								h5 Objetivo General
								p Capacitar y actualizar a los docentes  en servicio de la provincia de Sechura, para mejorar su desempeño profesional y generar las condiciones para el ascenso a las diversas escalas de la carrera magistral en igualdad de oportunidades.
								h5 Objetivos Específicos
								ul
									li 1) Brindar formación humanística.
									ii 2) Incrementar las competencias profesionales de los docentes en ejercicio.
									li 3) Posibilitar su acceso a los estudios de postgrado una vez obtenido el grado de bachiller.
									li 4) Mejorar el nivel de aprendizaje de niñas y niños de nivel primario e inicial.
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							.row.galerias
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
									div
										ul.sliderGaleria
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5552.jpg")
												img.image-click(src="./resources/assets/image/5552.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5634.jpg")
												img.image-click(src="./resources/assets/image/5634.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5654.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5654.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5662.jpg")
												img.image-click(src="./resources/assets/image/5662.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5664.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5664.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5680.jpg")
												img.image-click(src="./resources/assets/image/5680.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5690.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5690.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5697.jpg")
												img.image-click(src="./resources/assets/image/5697.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5699.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5699.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5702.jpg")
												img.image-click(src="./resources/assets/image/5702.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5712.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5712.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5720.jpg")
												img.image-click(src="./resources/assets/image/5720.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5150.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5150.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5160.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5160.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye