section#beca
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center#ancla
				a(href="http://americas-potash.com/demoV5/sostenibilidad.html")
					li Responsablidad Social
				a(href="javascript:void(0)")
					li.activesos Beca Docente
				a(href="http://americas-potash.com/demoV5/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
			ul.menuMovSos.text-center.hidden-sm.hidden-md.hidden-lg#ancla
				a(href="http://americas-potash.com/demoV5/sostenibilidad.html")
					li Responsablidad Social
				a(href="javascript:void(0)")
					li.activeMovsos Beca Docente
				a(href="http://americas-potash.com/demoV5/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
		.row
			.programaBeca
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.row.hidden-sm
						h2.titulo-prog.text-center PROGRAMA
							img(src="./resources/assets/image/responsabilidad-beca.png", alt="")
					.row
						.col-lg-12.col-md-12.col-sm-12
							ul.menuProg.text-center
								a.activeMenuProg(href="javascript:void(0)")
									li Descripción
								a(href="http://americas-potash.com/demoV5/beca-beneficiarios.html")
									li Beneficiarios
								a(href="http://americas-potash.com/demoV5/beca-video.html")
									li Video
								a(href="http://americas-potash.com/demoV5/beca-spot-radial.html")
									li Spot radial
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							.descrip-beca
								h2.titulo-prog.hidden-sm.hidden-md.hidden-lg.text-center Descripción
								p
									|El programa “Beca Docente Americas Potash”, brindará una beca integral a quince (15) docentes de las Instituciones Educativas de la provincia de Sechura, egresados de los Institutos Superiores Pedagógicos con Título a Nombre de la Nación en Inicial y Primaria, que les permitirán complementar su formación inicial, introduciendo un conjunto de innovaciones educativas y formación humanística, para alcanzar el grado de bachiller y título de licenciado en la Universidad de Piura. 
								h5 Objetivo General
								p Capacitar actualizar a los docentes  en servicio de la provincia de Sechura, para mejorar su desempeño profesional y generar las condiciones para el ascenso a las diversas escalas de la carrera magistral en igualdad de oportunidades.
								h5 Objetivos Específicos
								ul
									li 1) Brindar formación humanística.
									ii 2) Incrementar las competéncias profesionales de los docentes en ejercicio.
									li 3) Posibilitar su acceso a los estudios de postgrado una vez obtenido el grado de bachiller
									li 4) Mejorar el nivel de aprendizaje de niñas y niños de nivel primario e inicial
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							.row.galerias
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
									div
										ul.sliderGaleria
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5552.png")
												img.image-click(src="./resources/assets/image/5552.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5634.png")
												img.image-click(src="./resources/assets/image/5634.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5654.png")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5654.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5662.png")
												img.image-click(src="./resources/assets/image/5662.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5664.png")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5664.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5680.png")
												img.image-click(src="./resources/assets/image/5680.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5690.png")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5690.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5697.png")
												img.image-click(src="./resources/assets/image/5697.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5699.png")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5699.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5702.png")
												img.image-click(src="./resources/assets/image/5702.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5712.png")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5712.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5720.png")
												img.image-click(src="./resources/assets/image/5720.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5150.png")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5150.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/5160.png")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5160.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye