section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.nosotros
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuNos.text-center.hidden-xs
				a(href="http://americas-potash.com/demoV5/en/about.html")
					li.activeNosotros ¿Quiénes somos?
				a(href="http://americas-potash.com/demoV5/en/mission.html")
					li Mission and vision
				a(href="http://americas-potash.com/demoV5/en/values.html")
					li Values
				a(href="http://americas-potash.com/demoV5/en/talento.html")
					li Talento humano
			ul.menuNosMovil.text-center.hidden-sm.hidden-md.hidden-lg
				a.somosMovile(href="javascript:void(0)")
					li ¿Quiénes somos?
				a(href="http://americas-potash.com/demoV5/en/mission.html")
					li Mission and vision
				a(href="http://americas-potash.com/demoV5/en/values.html")
					li Values
				a(href="http://americas-potash.com/demoV5/en/talento.html")
					li Talento humano
		.row
			.contenedorNosotros
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.box-somos
							h2.hidden-xs ¿QUIÉNES SOMOS?
							h2.hidden-sm.hidden-md.hidden-lg ¿Quiénes somos?
							p 
								|Americas Potash S.A. (APPSA) is a Peruvian mining company, a subsidiary of the GrowMax Resources Canadian company. Focused on exploration and production of phosphate and potassium-rich brines on concessions granted by the Peruvian State, located in the Bayovar project, Sechura Desert, Piura department. The company&#39;s vision is to become a leading producer of phosphate and potash fertilizers in Peru.
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.duoBtn
							.gr
								a(href="http://www.growmaxcorp.com/", target="_blank")
									img(src="./resources/assets/image/logo-growmax.png")
							.am
								a(href="http://www.growmaxcorp.com/", target="_blank")
									img(src="./resources/assets/image/logo-potash.png")
				.row
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMax
							div
								.circle.text-center
									h2 GROWMAX 
										br
										span RESOURCES
									P Growmax Resources, a Canadian public company listed on the TSX Venture Exchange (Ticker GRO on TSX-V).
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMin
							div
								.circle.text-center
									h2 GROWMAX
										br
										span RESOURCES
									P GrowMax Agri Corp., a private Canadian company headquartered in Calgary.
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMin
							div
								.circle.text-center
									h2 AMERICAS
										br
										span POTASH
									P holds Bayovar concessions 5, 6, 7 and 8, which were formally granted by Activos Mineros to APPSA in 2014.
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						.circleMax
							div
								.circle.text-center
									h2.max 92
										span %
									P of GrowMax Resources Corp.