header.header(ng-controller="headerCrtl")
	.container
		div.logo-max.hidden-md.hidden-lg
			a(href="http://americas-potash.com/demoV2/index.html")
				img(src="./resources/assets/image/logo-potash-header.gif", alt="",width="100%")
			a.line-burguer
		.row
			.col-lg-2.col-md-2.logo-header.hidden-sm.hidden-xs
				a(href="#")
					img(src="./resources/assets/image/logo-potash-header.gif", alt="",width="100%")
			.col-lg-9.col-md-9.visible-md.visible-lg-inline-block
				nav.menu-header
					ul
						li
							a(href="http://americas-potash.com/demoV2/index.html") Inicio
						li.subNos
							a(href="javascript:void(0)") Nosotros
								span  &#9660;
							ul.submenu-header
								li
									a(href="http://americas-potash.com/demoV2/nosotros.html") ¿Quiénes somos?
								li
									a(href="http://americas-potash.com/demoV2/mision.html") Misión y Visión
								li
									a(href="http://americas-potash.com/demoV2/valores.html") Valores
								li
									a(href="http://americas-potash.com/demoV2/talento.html") Talento Humano 
						li.subProy
							a(href="javascript:void(0)") Proyectos
								span  &#9660;
							ul.submenu-header
								li
									a(href="http://americas-potash.com/demoV2/fosfatos.html") Fosfatos
								li
									a(href="http://americas-potash.com/demoV2/salmuera.html") Salmueras
						li.subSost
							a(href="javascript:void(0)") Sostenibilidad
								span  &#9660;
							ul.submenu-header
								li
									a(href="http://americas-potash.com/demoV2/sostenibilidad.html") Responsabilidad Social
								li
									a(href="http://americas-potash.com/demoV2/salud.html") Salud, Seguridad y Medio Ambiente
						li
							a(href="http://americas-potash.com/demoV2/comunicacion-corporativa.html") Comunicación Corporativa
						li
							a(href="http://americas-potash.com/demoV2/contacto.html") Contáctenos
			.col-lg-1.col-md-1.col-sm-1.col-xs-1.visible-md.visible-lg-inline-block
				.box-search#box-search
					div
						a.active(href="#") Español
						span  /
						a(href="#") English
					img(src="./resources/assets/image/lupa.png",width="40px", alt="")
	.row
		.container-fluid
			.row.hidden-md.hidden-lg
				nav.menu-collapse
					ul.menu-collapse.text-center
						a(href="http://americas-potash.com/demoV2/index.html")
							li Inicio
					
						a(href="http://americas-potash.com/demoV2/nosotros.html")
							li Nosotros
					
						a(href="http://americas-potash.com/demoV2/fosfato.html")
							li Proyectos
					
						a(href="http://americas-potash.com/demoV2/sostenibilidad.html")
							li Sostenibilidad
					
						a(href="#")
							li Comunicación Corporativa
						a(href="http://americas-potash.com/demoV2/contacto.html")
							li Contáctenos
						ul.idiomas
							a(href="#")
								li.activeIdioma Español
							a(href="#")
								li English
			input(type="text",class="style-box-search disp-none",id="busqueda",name="search",placeholder="Buscar...", autofocus)
