header.header(ng-controller="headerCrtl")
	.container
		div.logo-max.hidden-md.hidden-lg
			a(href="javascript:void(0)")
				img(src="./resources/assets/image/logo-potash-header.gif", alt="",width="100%")
			a.line-burguer
		.row
			//- .idiomas.hidden-sm.hidden-xs
				//- a(href="#") Español 
				//- span /
			.col-sm-8.idiomas.hidden-md.hidden-lg.hidden-sm.hidden-xs
				//- a(href="#") Español 
				//- span /
				a(href="#")  Inglés
			.col-lg-2.col-md-2.logo-header.hidden-sm.hidden-xs
				a(href="#")
					img(src="./resources/assets/image/logo-potash-header.gif", alt="",width="100%")
			.col-lg-9.col-md-9.visible-md.visible-lg-inline-block
				nav.menu-header
					ul
						li
							a(href="http://americas-potash.com/demo/index.html") Inicio
						li.subNos
							a(href="javascript:void(0)") Nosotros
								span  &#9660;
							ul.submenu-header
								li
									a(href="http://americas-potash.com/demo/nosotros.html") Quienes somos
								li
									a(href="http://americas-potash.com/demo/mision.html") Misión y Visión
								li
									a(href="http://americas-potash.com/demo/valores.html") Valores
								li
									a(href="http://americas-potash.com/demo/talento.html") Talento
						li.subProy
							a(href="javascript:void(0)") Proyectos
								span  &#9660;
							ul.submenu-header
								li
									a(href="http://americas-potash.com/demo/fosfatos.html") Fosfatos
								li
									a(href="http://americas-potash.com/demo/salmuera.html") Salmueras
						li.subSost
							a(href="javascript:void(0)") Sostenibilidad
								span  &#9660;
							ul.submenu-header
								li
									a(href="http://americas-potash.com/demo/sostenibilidad.html") Responsabilidad Social
								li
									a(href="http://americas-potash.com/demo/salud.html") Salud, Seguridad y Medio Ambiente
						li
							a(href="#") Comunicación Corporativa
						li
							a(href="http://americas-potash.com/demo/contacto.html") Contáctenos
			.col-lg-1.col-md-1.col-sm-1.col-xs-1.visible-md.visible-lg-inline-block
				.box-search#box-search
					div
						a.active(href="#") Español
						span  /
						a(href="#") English
					img(src="./resources/assets/image/lupa.png",width="40px", alt="")
	.row
		.container-fluid
			input(type="text",class="style-box-search disp-none",id="busqueda",name="search",placeholder="Buscar...", autofocus)
