section#banner
	.container-fluid
		.row.contenedor-banner
			ul.banner
				li
					img.banner-movilGrande(src="./resources/assets/image/banner-fosfato.jpg", alt="")
					img.banner-movil(src="./resources/assets/image/banner-movilFos.jpg", alt="", width="100%")
					.letrero-banner
						div
							h2 Helping to feed the world
							//- p Lorem Ipsum
							.rectangle
								| The consumption of potash and phosphate fertilizers has increased along with food production.
				li
					img.banner-movilGrande(src="./resources/assets/image/banner-labrador.jpg", alt="")
					img.banner-movil(src="./resources/assets/image/banner-movilLabrador.jpg", alt="",width="100%")
					.letrero-banner
						div
							h2 Enriching the Earth
							//- p Lorem Ipsum
							.rectangle
								| We will produce phosphate and potash fertilizers.
				li
					img.banner-movilGrande(src="./resources/assets/image/banner-salmuera.jpg", alt="")
					img.banner-movil(src="./resources/assets/image/banner-movilSalm.jpg", alt="",width="100%")
					.letrero-banner
						div
							h2 Caring for our environment
							//- p Lorem Ipsum
							.rectangle
								| Safe and environmentally responsible operations.
				li
					img.banner-movilGrande(src="./resources/assets/image/banner-creciendo.jpg", alt="")
					img.banner-movil(src="./resources/assets/image/banner-movilStn.jpg", alt="",width="100%")
					.letrero-banner
						div
							h2 Growing together
							//- p Lorem Ipsum
							.rectangle
								|For the sustainable development of our environment.
section#inicio
	.container
		.row
			.col-lg-12
				h3 News
				.row.noticia-destacada.hidden-md.hidden-lg
					a(href="http://americas-potash.com/demoV5/detalle.html")
						img(src="./resources/assets/image/5690.png", alt="",width="100%")
						div.descrip-img-noticias
							p AMERICAS POTASH "BECA DOCENTE" (TEACHER SCHOLARSHIP) PROGRAM STARTED
				.row
					ul.sliderNoticias
						li
							a(href="http://americas-potash.com/demoV5/detalle.html")
								img.notiImg(src="./resources/assets/image/5690.png", alt="",width="100%")
								.caja-hover-not
									p.titular.text-center AMERICAS POTASH "BECA DOCENTE" (TEACHER SCHOLARSHIP) PROGRAM STARTED
									.noticia.text-center
										p
											| Full scholarship will benefit about 15 teachers and 500 students in the district of Sechura.
										a(href="http://americas-potash.com/demoV5/detalle.html")
											i.icon-eye
												span Read more
							.descrip-img-noticias.hidden-lg.hidden-md.hidden-sm
								a(href="http://americas-potash.com/demoV5/detalle.html")
									p  AMERICAS POTASH "BECA DOCENTE" (TEACHER SCHOLARSHIP) PROGRAM STARTED
						li
							a(href="http://americas-potash.com/demoV5/detalle-1.html")
								img.notiImg(src="./resources/assets/image/1063.png", alt="",width="100%")
								.caja-hover-not
									p.titular.text-center GROWMAX WILL INVEST US$ 279 MILLION IN BAYOVAR
									.noticia.text-center
										p Phosphate Project
										a(href="http://americas-potash.com/demoV5/detalle-1.html")
											i.icon-eye
												span Read more
							.descrip-img-noticias.hidden-lg.hidden-md.hidden-sm
								a(href="http://americas-potash.com/demoV5/detalle-1.html")
									p GROWMAX WILL INVEST US$ 279 MILLION IN BAYOVAR
						li
							a(href="http://americas-potash.com/demoV5/detalle-2.html")
								img.notiImg(src="./resources/assets/image/1043.png", alt="",width="100%")
								.caja-hover-not
									p.titular.text-center US$ 10 MILLION WILL BE INVESTED
									.noticia.text-center
										p Growmax Resources
										a(href="http://americas-potash.com/demoV5/detalle-2.html")
											i.icon-eye
												span Read more
							.descrip-img-noticias.hidden-lg.hidden-md.hidden-sm
								a(href="http://americas-potash.com/demoV5/detalle-2.html")
									p US$ 10 million will be invested
		.row.galerias
			.col-lg-12 
				h3 Gallery
				.row
					ul.sliderGaleria
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0382.jpg")
							img.image-click(src="./resources/assets/image/0382.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0341.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/0341.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0419.jpg")
							img.image-click(src="./resources/assets/image/0419.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/1043.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/1043.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/1126.jpg")
							img.image-click(src="./resources/assets/image/1126.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/1388.jpg")
							img.image-click(src="./resources/assets/image/1388.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0667.png")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/0667.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0509.jpg")
							img.image-click(src="./resources/assets/image/0509.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0576.jpg")
							img.image-click(src="./resources/assets/image/0576.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0183.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/0183.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0250.jpg")
							img.image-click(src="./resources/assets/image/0250.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0188.jpg")
							img.image-click(src="./resources/assets/image/0188.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/1333.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/1333.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/1349.jpg")
							img.image-click(src="./resources/assets/image/1349.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/2011.jpg")
							img.image-click(src="./resources/assets/image/2011.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/1964.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/1964.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/22_6139.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/6139.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/5924.jpg")
							img.image-click(src="./resources/assets/image/1_5924.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/24_6289.jpg")
							img.image-click(src="./resources/assets/image/6289.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/7410.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/1_7410.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/01_0049.jpg")
							img.image-click(src="./resources/assets/image/0049.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/02_9984.jpg")
							img.image-click(src="./resources/assets/image/9984.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/9862.png")
							img.image-click(src="./resources/assets/image/9862.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/5634.png")
							img.image-click(src="./resources/assets/image/5634.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/05_5664.jpg")
							img.image-click(src="./resources/assets/image/5664.png", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
section#contacto
		.container-fluid
			.row
				.container
					.content-contact
						.row
							.contacto-titulo.text-center
								h2 
									b CONTACT US
								p Let us know your comments and/or suggestions
						.row
							.col-lg-6.col-md-6.col-sm-12.col-xs-12
								.box-contact
									div
										i.icon-envelope-o
										|informes@americas-potash.com
										br
										br
									div
										i.icon-mobile
										|933 534 107
										br
										br
							.col-lg-6.col-md-6.col-sm-12.col-xs-12
								form#formcontacto
									input(type="text",placeholder="Name",name="name",id="name",required)
									label(for="name")
									input(type="text",placeholder="Address",name="adress",id="adress",required)
									label(for="adress")
									div.duo-input
										.col-lg-6.col-md-6.col-sm-6.col-xs-12
											.row
												input(type="text",placeholder="E-mail",name="mail",id="mail",required)
												label(for="mail")
										.col-lg-6.col-md-6.col-sm-6.col-xs-12
											.row
												input(type="text",placeholder="Phone",name="telf",maxlength="9",id="telf",required)
												label(for="telf")
									textarea(type="text",placeholder="Comments",name="comment",rows="6",id="comment")
									button(type="button",id="btn-form")
										b Send
