section#comunicacion
	@media (max-width 767px)
		background blanco
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				background-image url("../image/banner3.jpg")
				@media (max-width 425px)
					background-image url("../image/banner-movil2.jpg")
					background-position 0px -4px
					background-repeat no-repeat
					background-size 107%
					height 300px
	.container
		ul
			margin:50px auto
			display flex
			justify-content center
			@media (max-width 991px)
				padding 0
			@media (max-width 767px)
				margin 30px auto
			a
				&:hover
					text-decoration none
				li
					cursor pointer
					color grisoscuro
					list-style none
					width 200px
					padding 10px
					transition all ease-in-out .2s
					font-size 23px
					height 80px
					@media (max-width 991px)
						width 180px
					@media (max-width 767px)
						background blanco
						color grisoscuro
						width 100%
					&:hover
						background: verdeOscuro
						color grisoscuro
						font-family fuente_active
						display flex
						align-items center
						justify-content center
						@media (max-width 767px)
							background blanco
							color grisoscuro
							width 100%
					&.activesos
						background verdeOscuro
						color blanco
						font-family fuente_active
						width 180px
			/.menuMovSa
				flex-direction column
				padding 0
				a
					&:hover
						text-decoration none
					li
						width auto
						padding 30px
						background blanco
						font-size 23px
						list-style none
						color grisoscuro
						&:hover
							font-family fuente_active
							background blanco
							color grisoscuro
						&.actComun
							background blanco
		.subComunic
			border-top 3px solid verdeOscuro
			@media (max-width 991px)
				border none
			ul
				@media (max-width 767px)
					flex-direction column
					align-items center
				a
					li
						height auto
						&:hover
							@media (max-width 767px)
								background verdeOscuro
								color blanco
								width 180px
		.boletines
			ul
				display: flex
				justify-content: space-around
				li
					list-style: none
					img
						box-shadow: 0px 17px 18px -11px #636363
					.boletin
						margin 10% 0 12%
						line-height: 1.2
						color: verdeOscuro
						font-family fuente_gruesa
						font-size 20px
					// div
					// 	margin: 15px 30px
					// 	transition:background-color 0.5s, transform .5s
					a 
						text-decoration: none
						color: verdeOscuro
						transition:all 0.5s, transform .5s
						cursor pointer
						&:hover
							padding: 15px
							background: verdeOscuro
							color: blanco
							transition:background-color 0.5s, transform .5s
			&:last-child
				margin-bottom 20%
		.sSalud
			@media (max-width 767px)
				display none
			@media (min-width 767px)
				margin-bottom 20%
			.sliderBoletin
				width 60%
				margin auto
				.col-xs-12
					.lSSlideWrapper
						position initial
						ul.boletinSos
							display flex
							.boletin
								margin 10% 0 12%
								line-height: 1.2
								color: blanco
								background verdeOscuro
								font-family fuente_gruesa
								font-size 20px
								padding 15px
							a 
								text-decoration: none
								color: verdeOscuro
								transition:all 0.5s, transform .5s
								cursor pointer
								&:hover
									padding: 15px
									background: blanco
									color: verdeOscuro
									transition:background-color 0.5s, transform .5s
							