section#comunicacion
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center#ancla
				a(href="http://americas-potash.com/demoV2/sostenibilidad.html")
					li Responsablidad Social
				a(href="http://americas-potash.com/demoV2/beca.html")
					li Beca Docente
				a(href="javascript:void(0)")
					li.activesos Comunicación y Diálogo
		.row.subComunic
			ul.menuSos.text-center
				a(href="http://americas-potash.com/demoV2/nosotros.html")
					li.activesos Boletines
				a(href="http://americas-potash.com/demoV2/videos.html")
					li Videos
				a(href="http://americas-potash.com/demoV2/spot-radial.html")
					li Spots Radiales
				a(href="http://americas-potash.com/demoV2/oficina-movil.html")
					li Oficina Móvil
		.row.boletines
			ul
				li
					img(src="./resources/assets/image/responsabilidad-boletin.png", alt="",width="100%")
					div.text-center.boletin
						| BOLETÍN 
						br 
						|CORPORATIVO 01
					.text-center
						a
							i.icon-download3
							| Descargar pdf
				li
					img(src="./resources/assets/image/responsabilidad-boletin.png", alt="",width="100%")
					div.text-center.boletin
						| BOLETÍN 
						br 
						|CORPORATIVO 02
					.text-center
						a
							i.icon-download3
							| Descargar pdf
				li
					img(src="./resources/assets/image/responsabilidad-boletin.png", alt="",width="100%")
					div.text-center.boletin
						| BOLETÍN 
						br 
						|CORPORATIVO 03
					.text-center
						a
							i.icon-download3
							| Descargar pdf
		.row.boletines
			//- para rellenar en el futuro con nuevos boletines