#detalle
	@media (max-width 425px)
		background blanco
	// .container-fluid
	// 	.row
	// 		.bannerPrincipal.comuncCorp
	// 			background-image url("../image/FGB_2008.png")
	// 			@media (max-width 991px)
	// 				background-repeat no-repeat
	// 				background-size 100%
	// 				background-repeat no-repeat
	// 				height 325px
	// 			@media (max-width 425px)
	// 				background-image url("../image/banner-movilCo.jpg")
	// 				background-position 0px -4px
	// 				background-size 107%
	// 				height 415px
	// 			.letrero-banner
	// 				h2
	// 					color blanco
	// 				@media (min-width 426px)
	// 					display none
	padding-bottom 10%
	.container
		.noticias-comunicacion
			@media (max-width 425px)
				padding 0px 30px
			> div:last-child
				@media (max-width 767px)
					display flex
					flex-direction column
					justify-content center
					align-items center
			h2.titulo
				font-size 35px
			h3
				color #999999
				font 30px fuente_tituloH3
				margin-left 0
				margin-right 0
				@media (max-width 991px)
					&:after
						content ""
						border-bottom 1.5px solid gris
						position absolute
						right 0px
						width 85%
						bottom 10px
	h2
		color verdeOscuro
	.inner-logo
		text-align center
	h4
		font 20px alegreya_sansblack
		color #006C4B
	// p
	// 	font 19px alegreya_sansregular
	// 	color #5D5D5D
	.inner-noticia
		background blanco
		border-right 3px solid #CED71F
		box-shadow sombra
		margin-top 20px
		&:first-child
			margin-top 0
	.inner-img
		padding-left 0
	.inner-logo
		img
			width 100%
	.seguirL
		a
			font 18px alegreya_sansregular
			color #006C4B
			text-decoration none
		img
			display inline-block
			margin-left 5px
			vertical-align bottom
	.verM
		padding-left 0
		padding-right 0
		a
			font 18px alegreya_sansregular
			color #006C4B
			text-decoration none
			background blanco
			padding 10px 0
			display block
			margin-top 20px
			box-shadow sombra
			&:hover
				background #006C4B
				transition 0.3s all ease
				color blanco
	.container-brochure, .container-prensa
		background blanco
		padding-bottom 50px
		box-shadow sombra
		@media (max-width 767px)
			box-shadow 0 0 0
		&:last-child
			padding-bottom 15px
		.titulo-brochure
			background #006C4B
			h2
				margin-top 0
				font 40px alegreya_sansbold
				color blanco
				text-align center
				margin-bottom 0
		.brochure
			margin 20px
			box-shadow sombra
			position relative
			@media (max-width 767px)
				box-shadow 0 0 0
				margin 0
			h2
				font 16px alegreya_sansblack
				text-align center
				margin-top 10px
				@media(max-width 1199px)
					line-height 1
					font-size 15px
				@media(max-width 767px)
					font-size 22px
				@media(max-width 425px)
					font-size 18px
			p
				font-size 14px
				@media (max-width 1199px)
					line-height 1
				@media(max-width 767px)
					font-size 20px
					line-height inherit
				@media(max-width 425px)
					font-size 18px
			.inner-brochure
				padding-left 0
				@media (max-width 1199px)
					padding-right 0
				@media (max-width 991px)
					padding 0
				img
					width 92%
					@media (max-width 991px)
						width 100%
			> div:nth-child(2)
				@media (min-width 992px)
					height 100px
					position absolute
					top 0
					bottom 0
					margin auto
					right 0
				@media (max-width 1199px)
					padding-left 0
				@media (max-width 991px)
					padding 0 15px
					text-align justify
			// // h2
			// // 	text-align center
			// // 	margin-top 0
			// // 	font 16px alegreya_sansblack
			// p
			// 	font 15px alegreya_sansregular
			// 	color #666666
			.icon-brochure
				@media (max-width 991px)
					text-align center
				@media (max-width 767px)
					display none
				.icon-download3
					color #006C4B
					margin-left 10px
					@media (max-width 1199px)
						margin-left initial
					a
						font 13px alegreya_sansmedium
						color #006C4B
						margin-left 5px
						text-decoration none
				.icon-eye
					color #006C4B
					margin-top 5px
					margin-left 10px
					@media (max-width 1199px)
						margin-top initial
						margin-left initial
					a
						font 13px alegreya_sansmedium
						color #006C4B
						margin-left 5px
						text-decoration none
					p
						font 14px alegreya_sansregular
			.icon-brochureM
				width 100%
				display flex
				position relative
				bottom 1px
				@media (min-width 767px)
					display none
				.icon-download3, .icon-eye
					width 50%
					height 50px
					display flex
					justify-content center
					align-items center
					color blanco
					a
						color blanco
				.icon-download3
					background verdeOscuro
				.icon-eye
					background grisoscuro
		a
			font 16px alegreya_sansmedium
			color #006C4B
			margin-left 5px
			text-decoration none
	#noticias
		display none
		margin-top 20px
	img
		width 100%
		