section#beca
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				background-image url("../image/banner-creciendo.jpg")
				@media (max-width 425px)
					background-image url("../image/banner-movil2.jpg")
					background-position 0px -4px
					background-repeat no-repeat
					background-size 107%
					height 300px
	.container
		.contenBecaSpot
			display flex
			@media (max-width 641px)
				flex-direction column
			.spot
				&:hover .reseniaAudio
					display block
				.spotAudio
					position relative
					text-align center
					&:hover .iconAudio
						display block
					img:first-child
						width 93%
					.iconAudio
						position absolute
						right 0
						left 0
						margin auto
						top 0
						bottom 0
						display none
						@media (max-width 767px)
							display block
				@media (max-width 641px)
					margin 20px auto
				.reseniaAudio
					background azul
					padding 25px
					// display none
					width 93%
					margin auto
					color blanco
					font-size 20px
					@media (max-width 424px)
						padding 15px
					p
						@media (max-width 991px)
							line-height 1
						@media (max-width 424px)
							font-size 16px
						@media (max-width 374px)
							font-size 15px
					audio
						width 100%
		.row.galerias
			.lSAction
				// > a
				// 	top 40%
				a.lSPrev
					&:before
						color azul
				a.lSNext
					&:before
						color azul