section#beca
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center#ancla
				a(href="http://americas-potash.com/demoV3/en/sustainability.html")
					li Social Responsability
				a(href="javascript:void(0)")
					li.activesos Beca Docente
				a(href="http://americas-potash.com/demoV3/en/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
			ul.menuMovSos.text-center.hidden-sm.hidden-md.hidden-lg#ancla
				a(href="http://americas-potash.com/demoV3/en/sustainability.html")
					li Social Responsability
				a(href="javascript:void(0)")
					li.activeMovsos Beca Docente
				a(href="http://americas-potash.com/demoV3/en/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
		.programaBeca
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.row
					h2.titulo-prog.text-center PROGRAMA
						img(src="./resources/assets/image/responsabilidad-beca.png", alt="")
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						ul.menuProg.text-center
							a(href="http://americas-potash.com/demoV3/en/beca.html")
								li Descripción
							a(href="http://americas-potash.com/demoV3/en/beca-beneficiarios.html")
								li Beneficiarios
							a(href="http://americas-potash.com/demoV3/en/beca-video.html")
								li Video
							a.activeMenuProg(href="javascript:void(0)")
								li Spot radial
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.contenBecaSpot
							.spot
								.spotAudio
									img(src="./resources/assets/image/img-spot.jpg")
									img.iconAudio(src="./resources/assets/image/audio.png" width="20%")
								.reseniaAudio
									audio(controls)
										source(src="./resources/assets/audio/spot-beca.mp3")
										source(src="./resources/assets/audio/spot-beca.ogg")
									p Americas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense.
							.spot
								.spotAudio
									img(src="./resources/assets/image/img-spot.jpg")
									img.iconAudio(src="./resources/assets/image/audio.png" width="20%")
								.reseniaAudio
									audio(controls)
										source(src="./resources/assets/audio/spot-beca.mp3")
										source(src="./resources/assets/audio/spot-beca.ogg")
									p Americas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense.
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.row.galerias
							div.modal-img
								.content-modal
									.row-modal
										img.imageZoom
										i.icon-chevron-left
									.row-modal
										span.btn-cerrar-img X
										h3 Lorem ipsum dolor sit
										p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur turpis in pharetra aliquet. Quisque vitae ornare urna. Etiam venenatis erat non posuere vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
										i.icon-chevron-right
							.col-lg-12.col-md-12.col-sm-12.col-xs-12
								div
									ul.sliderGaleria
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5552.png")
											img.image-click(src="./resources/assets/image/5552.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										//- li(class="example-group" data-fancybox="group" href="./resources/assets/image/0530.png")
										//- 	//- a(href="#")
										//- 	img.image-click(src="./resources/assets/image/0530.png", alt="",width="100%")
										//- 	.caja-hover-galeria
										//- 		i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5634.png")
											img.image-click(src="./resources/assets/image/5634.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5654.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5654.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5662.png")
											img.image-click(src="./resources/assets/image/5662.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5664.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5664.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5680.png")
											img.image-click(src="./resources/assets/image/5680.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5690.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5690.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5697.png")
											img.image-click(src="./resources/assets/image/5697.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5699.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5699.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5702.png")
											img.image-click(src="./resources/assets/image/5702.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5712.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5712.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5720.png")
											img.image-click(src="./resources/assets/image/5720.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5150.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5150.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5160.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5160.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye