section#oficina
	@media (max-width 767px)
		background blanco
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				background-image url("../image/banner-creciendo.jpg")
				@media (max-width 425px)
					background-image url("../image/banner-movilStn.jpg")
					background-position 0px -4px
					background-size 107%
					height 300px
	.container
		ul
			margin:50px auto
			display flex
			justify-content center
			padding 0
			a
				&:hover
					text-decoration none
				li
					cursor pointer
					color grisoscuro
					list-style none
					width 200px
					padding 10px
					transition all ease-in-out .2s
					font-size 21px
					height 80px
					&:hover
						background: verdeOscuro
						color blanco
						font-family fuente_active
						display flex
						align-items center
						justify-content center
						@media (max-width 767px)
							background blanco
							color grisoscuro
					&.activesos
						background verdeOscuro
						color blanco
						font-family fuente_active
						@media (max-width 767px)
							background blanco
							color grisoscuro
			/.MenuOficina
				display flex
				flex-direction column
				padding 0
				margin-bottom 0
				a
					text-decoration none
					color grisoscuro
					li
						width 100% !important
						padding 30px
						background blanco
						font-size 21px
						list-style none
						&:hover
							font-family fuente_active
							background blanco
							color grisoscuro
		// .oficinaMovil
		// 	@media (max-width 767px)
		// 		display none
		.subComunic
			border-top 3px solid verdeOscuro
			@media (max-width 767px)
				border none
			ul.menuSos
				@media (max-width 767px)
					flex-direction column
					align-items center
				a
					li
						height auto
						&.oficinaSUb
							background verdeOscuro
							color blanco
						@media (max-width 991px)
							width 180px
						@media (max-width 767px)
							width 230px
						&:hover
							background verdeOscuro
							color blanco
		.contenedorVideo
			display flex
			margin-bottom 20%
			@media (max-width 767px)
				flex-direction column
			.box-somos
				width 55%
				padding 25px 50px
				background blanco
				font-size 20px
				color grisoscuro
				@media (max-width 991px)
					padding 10px
				@media (max-width 767px)
					width 100%
				h4
					color verdeOscuro
					font-family fuente_tituloNoticias
					font-size 22px
					@media (max-width 991px)
						font-size 18px
				p
					@media (max-width 1199px)
						font-size 14px
						line-height 1
			.imgOficina
				width 45%
				@media (max-width 767px)
					width 100%
				> div
					padding-left 0
					@media (max-width 767px)
						padding-left 15px