section#fosfatos
	.container-fluid
		.row
			.bannerPrincipal.fosfato
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.submenu.text-center#ancla
				a(href="javascript:void(0)")
					li.active Fosfatos
				a(href="http://americas-potash.com/demo/salmuera.html")
					li Salmuera
		.row
			.col-lg-12
				p.text-center Se está evaluando el potencial de explotar el recurso de roca de fosfato ubicado en nuestras concesiones, con especial foco en Bayóvar 7.
		.row
			.col-lg-12
				ul.secuenciaFosfatos
					li.text-center
						h3 EXTRACCIÓN
						|Explotación de roca de fosfato
					i.icon-caret-right
					li.text-center
						h3 UBICACIÓN
						|Concesión 7 del Proyecto Bayóvar, en un ambiente del desierto árido.
					i.icon-caret-right
					li.text-center
						h3 43 KM
						|Distancia entre Bayovar 7 y la ciudad de Sechura.
					i.icon-caret-right
					li.text-center
						h3 FASE DE OPERACIONES
						|Las operaciones de fosfato se encuentra en la fase de exploración
					i.icon-caret-right
					li.text-center
						h3 COMERCIO
						|La producción será destinada a la exportación como al mercado local y regional.
					i.icon-caret-right
					li.text-center
						h3 82,195 HECTAREAS
						|Área total de las concesiones 5, 6, 7 y 8 del proyecto Bayóvar.
		.row.galerias
			div.modal-img
				.content-modal
					.row-normal
						span.btn-cerrar-img X
						img.imageZoom
						i.icon-chevron-left
						i.icon-chevron-right
			.col-lg-12
				h3 Galería
				div
					ul.sliderGaleria
						li
							img.image-click(src="./resources/assets/image/galeria-fosfato1.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-fosfato2.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-fosfato3.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-fosfato4.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-fosfato1.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye