section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.valoresNos
				.letrero-banner
					div
						h2 Gobernanza institucional
						//- p Lorem Ipsum
						.rectangle
							| Incorporamos a todos nuestros trabajadores para crecer juntos.
	.container#ancla
		.row
			ul.menuNos.text-center
				a(href="http://americas-potash.com/nosotros")
					li ¿Quiénes somos?
				a(href="http://americas-potash.com/mision")
					li Misión y visión
				a(href="http://americas-potash.com/valores")
					li.activeNosotros Valores
				a(href="http://americas-potash.com/talento")
					li Talento humano
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.valores
					.row
						.col-lg-2.hidden-sm.hidden-xs
							img(src="./resources/assets/image/brazos.png")
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							h2.tituloValorMovil.hidden-lg.hidden-md.hidden-sm VALORES
							.logoMovil
								h2 INTEGRIDAD
								img.hidden-sm.hidden-md.hidden-lg(src="./resources/assets/image/brazos.png")
							p.text-justify Es una política de la compañía promover altos estándares de integridad,  a través de la gestión de los asuntos de la empresa de manera honesta y ética.  La integridad de la empresa depende de la honestidad, sentido de justicia e integridad de cada uno de los colaboradores, reflejado en la ejecución de sus labores diarias.
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							img(src="./resources/assets/image/nosotros-val1.jpg" width="100%")
					.row
						.col-lg-2.hidden-sm.hidden-xs
							img(src="./resources/assets/image/manos.png")
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							.logoMovil
								h2 RESPETO
								img.hidden-sm.hidden-md.hidden-lg(src="./resources/assets/image/manos.png")
							p.text-justify Cultivar y fomentar el respeto a las ideas, costumbres y tradiciones de todos los integrantes de la organización y los grupos de interés que interactúan con Americas Potash.
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							img(src="./resources/assets/image/nosotros-val2.jpg" width="100%")
					.row
						.col-lg-2.hidden-sm.hidden-xs
							img(src="./resources/assets/image/grupo.png")
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							.logoMovil
								h2 EXCELENCIA
								img.hidden-sm.hidden-md.hidden-lg(src="./resources/assets/image/grupo.png")
							p.text-justify Aplicar prácticas responsables, serias y manejadas por todos los integrantes de la organización con el fin de alcanzar la excelencia.
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							img(src="./resources/assets/image/nosotros-val3.jpg" width="100%")
