section#nosotros
    .container-fluid
        .row
            .bannerPrincipal.talentoNos
                background-image url("../image/banner2.jpg")
                @media(max-width 991px)
                    background-position 0px -4px
                    background-repeat no-repeat
                    background-size cover
                    height 325px
                @media(max-width 424px)
                    background-image url("../image/banner-movil2.jpg")
                    height 415px
                @media (max-width 375px)
                    height 370px
                @media (max-width 320px)
                    height 315px
    .talento
        margin-bottom 20%
        @media (max-width 991px)
            margin-bottom 10%
        @media (max-width 767px)
            box-shadow 0 0 0
            // display none
            margin-bottom 0
            padding-top 50px
            padding-bottom 20px
            background blanco
        .row
            display flex
            margin 40px auto
            flex-direction row-reverse
            @media (max-width 767px)
                box-shadow 0 0 0
                display flex
                flex-direction column
                margin 0 auto
            h2
                font-family fuente_tituloH2Nos
                color verdeOscuro
                font-size 28px
                margin-top 0
            h2.tituloTalentoMovil
                @media (max-width 767px)
                    height 50px
                    color verdeOscuro
                    text-align center
                    font-family fuente_tituloH2Nos
                    // font-size 25px
            p
                @media (max-width 1199px)
                    line-height 1
                @media (max-width 991px)
                    font-size 16px
            div
                font-size 20px
            > div:nth-child(2)
                // padding-left 0
                text-align center
                margin-bottom 50px
                img
                    @media only screen and (min-width 426px) and (max-width 767px)
                        width 70%
                @media (max-width 991px)
                    padding-left 15px
            &:last-child div:last-child
                margin-bottom 0
            > div:first-child
                @media (min-width 992px)
                    margin-right 70px
                @media (max-width 767px)
                    padding 30px
            img
                width 68%
                position relative
                @media (min-width 992px)
                    width 78%
                    left 20px
                @media (min-width 1200px)
                    left 30px
                @media (max-width 991px)
                    width 100%
                @media (max-width 425px)
                    width 92%