section#spots
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 Creciendo juntos
						//- p Lorem Ipsum
						.rectangle
							| Por el desarrollo sostenible de Sechura.
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.row
					ul.menuSos.hidden-xs.text-center#ancla
						a(href="http://americas-potash.com/demoV5/sostenibilidad")
							li Responsablidad Social
						a(href="http://americas-potash.com/demoV5/beca")
							li Beca Docente
						a(href="javascript:void(0)")
							li.activesos Comunicación y Diálogo
					ul.menuMovSa.hidden-sm.hidden-md.hidden-lg.text-center#ancla
						a(href="http://americas-potash.com/demoV5/sostenibilidad")
							li Responsablidad Social
						a(href="http://americas-potash.com/demoV5/beca")
							li Beca Docente
						a(href="javascript:void(0)")
							li.actComun Comunicación y Diálogo
		.row.contenedorSpots
			.col-lg-12
				.row.sSalud
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.row.subComunic
							ul.menuSos.text-center
								a(href="http://americas-potash.com/demoV5/comunicacion-y-dialogo")
									li Boletines
								a(href="http://americas-potash.com/demoV5/videos")
									li Videos
								a(href="javascript:void(0)")
									li.activesos Spots Radiales
								a(href="http://americas-potash.com/demoV5/oficina-movil")
									li Oficina Móvil
				.spot
					.spotAudio
						img(src="./resources/assets/image/logo-spot.png")
						//- img.iconAudio(src="./resources/assets/image/audio.png" width="20%")
					.reseniaAudio
						audio(controls)
							source(src="./resources/assets/audio/spot-uso-agua.mp3")
							source(src="./resources/assets/audio/spot-uso-agua.ogg")
						p Americas Potash está comprometido con el uso responsable del agua.