section#spots
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center#ancla
				a(href="http://americas-potash.com/demoV2/nosotros.html")
					li Responsablidad Social
				a(href="http://americas-potash.com/demoV2/mision.html")
					li Beca Docente
				a(href="http://americas-potash.com/demoV2/valores.html")
					li.activesos Comunicación y Diálogo
		.row.subComunic
			ul.menuSos.text-center
				a(href="http://americas-potash.com/demoV2/nosotros.html")
					li Boletines
				a(href="http://americas-potash.com/demoV2/mision.html")
					li Videos
				a(href="http://americas-potash.com/demoV2/valores.html")
					li.activesos Spots Radiales
				a(href="http://americas-potash.com/demoV2/mision.html")
					li Oficina Móvil
		.row.contenedorSpots
			.col-lg-12
				.spot
					.spotAudio
						img(src="./resources/assets/image/img-spot.jpg")
						img.iconAudio(src="./resources/assets/image/audio.png" width="20%")
					.reseniaAudio
						p Americas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense.
				.spot
					.spotAudio
						img(src="./resources/assets/image/img-spot.jpg")
						img.iconAudio(src="./resources/assets/image/audio.png" width="20%")
					.reseniaAudio
						p Americas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense.