section#beca
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 Growing together
						//- p Lorem Ipsum
						.rectangle
							| For sustainable development of Sechura.
	.container#ancla
		.row
			ul.menuSos.text-center
				a(href="http://americas-potash.com/demoV5/en/Sustainability")
					li Social Responsibility
				a(href="http://americas-potash.com/demoV5/en/beca")
					li.activesos Beca Docente (Teacher Scholarship)
				a(href="http://americas-potash.com/demoV5/en/Communication_and_Dialogue")
					li Communication and Dialogue
		.programaBeca
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.row
						h2.titulo-prog.text-center PROGRAM
							img(src="./resources/assets/image/responsabilidad-beca.png", alt="")
					.row
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							ul.menuProg.text-center
								a(href="http://americas-potash.com/demoV5/en/beca")
									li Description
								a(href="http://americas-potash.com/demoV5/en/beca-beneficiaries")
									li Beneficiaries
								a(href="http://americas-potash.com/demoV5/en/beca-video")
									li Video
								a.activeMenuProg(href="javascript:void(0)")
									li Radio Spots
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							.contenBecaSpot
								.spot-beca
									.spotAudio
										img(src="./resources/assets/image/logo-spot-beca.png")
										//- img.iconAudio(src="./resources/assets/image/audio.png" width="20%")
									.reseniaAudio
										audio(controls)
											source(src="./resources/assets/audio/spot-beca.mp3")
											source(src="./resources/assets/audio/spot-beca.ogg")
										p Beca Docente is a motivation for teachers in Sechura to improve their performance.
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							.row.galerias
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
									div
										ul.sliderGaleria
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5552.jpg")
												img.image-click(src="./resources/assets/image/5552.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5634.jpg")
												img.image-click(src="./resources/assets/image/5634.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5654.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5654.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5662.jpg")
												img.image-click(src="./resources/assets/image/5662.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5664.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5664.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5680.jpg")
												img.image-click(src="./resources/assets/image/5680.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5690.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5690.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5697.jpg")
												img.image-click(src="./resources/assets/image/5697.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5699.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5699.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5702.jpg")
												img.image-click(src="./resources/assets/image/5702.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5712.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5712.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5720.jpg")
												img.image-click(src="./resources/assets/image/5720.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5150.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5150.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye
											li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/5160.jpg")
												//- a(href="#")
												img.image-click(src="./resources/assets/image/5160.png", alt="",width="100%")
												.caja-hover-galeria
													i.icon-eye