section#comunicacion
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center
				a(href="http://americas-potash.com/demo/nosotros.html")
					li Responsablidad Social
				a(href="http://americas-potash.com/demo/mision.html")
					li Beca Docente
				a(href="http://americas-potash.com/demo/valores.html")
					li.activesos Comunicación y Diálogo
		.row.subComunic
			ul.menuSos.text-center
				a(href="http://americas-potash.com/demo/nosotros.html")
					li.activesos Boletines
				a(href="http://americas-potash.com/demo/mision.html")
					li Videos
				a(href="http://americas-potash.com/demo/valores.html")
					li Spots Radiales
				a(href="http://americas-potash.com/demo/mision.html")
					li Oficina Móvil
		.row.boletines
			ul
				li
					img(src="./resources/assets/image/responsabilidad-boletin.png", alt="",width="100%")
					div.text-center.boletin
						| BOLETIN 
						br 
						|CORPORATIVO 01
					.text-center
						a
							i.icon-download3
							| Descargar pdf
				li
					img(src="./resources/assets/image/responsabilidad-boletin.png", alt="",width="100%")
					div.text-center.boletin
						| BOLETIN 
						br 
						|CORPORATIVO 02
					.text-center
						a
							i.icon-download3
							| Descargar pdf
				li
					img(src="./resources/assets/image/responsabilidad-boletin.png", alt="",width="100%")
					div.text-center.boletin
						| BOLETIN 
						br 
						|CORPORATIVO 03
					.text-center
						a
							i.icon-download3
							| Descargar pdf
		.row.boletines
			//- para rellenar en el futuro con nuevos boletines

		//- .row.sostenibilidad-salud
		//- 	h3 Salud, Seguridad y Medio Ambiente
		//- 	.col-lg-7.col-md-6.col-sm-6.col-xs-6.resp-salud
		//- 		.box-somos
		//- 			p Américas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense cuyas acciones se cotizan en la Bolsa de Valores de Toronto (TSX-V).
		//- 			p Nuestra actividad consiste en extraer potasio y fosfáto, insumos esenciales para producir y comercializar sal de mesa e industrial y fertilizantes.
		//- 			p Para desarrollar nuestros proyectos, en el año 2008 el Estado Peruano nos otorgó concesiones del proyecto Bayovar ubicado en el departamento de Piura.
		//- 	.col-lg-5.col-md-6.col-sm-6.col-xs-6
		//- 		.row
		//- 			img(src="./resources/assets/image/responsabilidad-socioambiente.png" width="100%")