section#beca
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center#ancla
				a(href="http://americas-potash.com/demoV3/en/sustainability.html")
					li Social Responsability
				a(href="javascript:void(0)")
					li.activesos Beca Docente
				a(href="http://americas-potash.com/demoV3/en/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
			ul.menuMovSos.text-center.hidden-sm.hidden-md.hidden-lg#ancla
				a(href="http://americas-potash.com/demoV3/en/sustainability.html")
					li Social Responsability
				a(href="javascript:void(0)")
					li.activeMovsos Beca Docente
				a(href="http://americas-potash.com/demoV3/en/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
			.programaBeca
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.row
						h2.titulo-prog.text-center PROGRAMA
							img(src="./resources/assets/image/responsabilidad-beca.png", alt="")
					.row.contenido
						.col-lg-12.col-md-12.col-sm-12
							ul.menuProg.text-center
								a(href="http://americas-potash.com/demoV3/en/beca.html")
									li Descripción
								a.activeMenuProg(href="javascript:void(0)")
									li Beneficiarios
								a(href="http://americas-potash.com/demoV3/en/beca-video.html")
									li Video
								a(href="http://americas-potash.com/demoV3/en/beca-spot-radial.html")
									li Spot radial
						.col-lg-12.col-md-12.col-sm-12.col-sm-12
							.descrip-beca
								p
									|Docentes de la provincia de Sechura (Piura), egresados de Institutos Superiores Pedagógicos con título de Profesor a nombre de la Nación de Inicial o Primaria que no cuentan con grado universitario de Bachiller en Educación, quienes han demostrado un alto rendimiento y desempeño en las escuelas donde actualmente laboran.
							.row
								.col-lg-offset-2.col-lg-8.col-md-offset-2.col-md-8.col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10
									.table-responsive
										table.table
											thead
												tr
													th
														h4 
															b Apellidos y Nombres
													th
														h4 
															b Nombre de I.E
													th
														h4 
															b Localidad
											tbody
												tr
													td
														p Rondoy Ipanaque, Italo
													td
														p I.E Daniel Alcides Carrión
													td
														p Mala Vida
											tbody
												tr
													td
														p Bancayan Temoche, Julia
													td
														p I.E San Cristo
													td
														p San Cristo
											tbody
												tr
													td
														p Saba Bencayan, Johana Isabel
													td
														p I.E San Cristo
													td
														p San Cristo
											tbody
												tr
													td
														p Puescas Cherres, Sonia Lisbeth
													td
														p I.E San Cristo
													td
														p San Cristo
											tbody
												tr
													td
														p Ortíz Juáres, Jenny
													td
														p I.E 370
													td
														p Santa Clara
											tbody
												tr
													td
														p Sandoval Quesada, Letty
													td
														p I.E 14174
													td
														p Nuevo Chuper
											tbody
												tr
													td
														p Tejada Briceño, Elaine
													td
														p I.E 83
													td
														p Parachique
											tbody
												tr
													td
														p Chapa Rodriguez, Silvia
													td
														p I.E 83
													td
														p Parachique
											tbody
												tr
													td
														p Yenque More, Lizbeth del Carmen
													td
														p I.E 725
													td
														p Parachique
											tbody
												tr
													td
														p Tume Saba, Lilli María
													td
														p I.E 725
													td
														p Parachique
											tbody
												tr
													td
														p Saavedra Burgos, Margarita Aracelli
													td
														p I.E 390
													td
														p Onza de Oro
											tbody
												tr
													td
														p Chunga Chapa, Lizz Jazmin
													td
														p I.E 14035
													td
														p Vice
											tbody
												tr
													td
														p Llneque Pazo, José Gerardo
													td
														p I.E 14079
													td
														p Sechura
											tbody
												tr
													td
														p Llenque Pazo, Juan Manuel
													td
														p I.E San Martin
													td
														p Sechura
											tbody
												tr
													td
														p Puescas Llenque, Jenny Elizabeth
													td
														p I.E 427
													td
														p Sechura
							.row.galerias
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
										div
											ul.sliderGaleria
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5552.png")
													img.image-click(src="./resources/assets/image/5552.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5634.png")
													img.image-click(src="./resources/assets/image/5634.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5654.png")
													//- a(href="#")
													img.image-click(src="./resources/assets/image/5654.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5662.png")
													img.image-click(src="./resources/assets/image/5662.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5664.png")
													//- a(href="#")
													img.image-click(src="./resources/assets/image/5664.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5680.png")
													img.image-click(src="./resources/assets/image/5680.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5690.png")
													//- a(href="#")
													img.image-click(src="./resources/assets/image/5690.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5697.png")
													img.image-click(src="./resources/assets/image/5697.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5699.png")
													//- a(href="#")
													img.image-click(src="./resources/assets/image/5699.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5702.png")
													img.image-click(src="./resources/assets/image/5702.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5712.png")
													//- a(href="#")
													img.image-click(src="./resources/assets/image/5712.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5720.png")
													img.image-click(src="./resources/assets/image/5720.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5150.png")
													//- a(href="#")
													img.image-click(src="./resources/assets/image/5150.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye
												li(class="example-group" data-fancybox="group" href="./resources/assets/image/5160.png")
													//- a(href="#")
													img.image-click(src="./resources/assets/image/5160.png", alt="",width="100%")
													.caja-hover-galeria
														i.icon-eye