section#spots
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.row
					ul.menuSos.hidden-xs.text-center#ancla
						a(href="http://americas-potash.com/demoV3/en/sustainability.html")
							li Social Responsability
						a(href="http://americas-potash.com/demoV3/en/beca.html")
							li Beca Docente
						a(href="javascript:void(0)")
							li.activesos Comunicación y Diálogo
					ul.menuMovSa.hidden-sm.hidden-md.hidden-lg.text-center#ancla
						a(href="http://americas-potash.com/demoV3/en/sustainability.html")
							li Social Responsability
						a(href="http://americas-potash.com/demoV3/en/beca.html")
							li Beca Docente
						a(href="javascript:void(0)")
							li.actComun Comunicación y Diálogo
				.row.sSalud
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.row.subComunic
							ul.menuSos.text-center
								a(href="http://americas-potash.com/demoV3/en/comunicacion-y-dialogo.html")
									li Boletines
								a(href="http://americas-potash.com/demoV3/en/videos.html")
									li Videos
								a(href="javascript:void(0)")
									li.activesos Spots Radiales
								a(href="http://americas-potash.com/demoV3/en/oficina-movil.html")
									li Oficina Móvil
		.row.contenedorSpots
			.col-lg-12
				.spot
					.spotAudio
						img(src="./resources/assets/image/img-spot.jpg")
						img.iconAudio(src="./resources/assets/image/audio.png" width="20%")
					.reseniaAudio
						audio(controls)
							source(src="./resources/assets/audio/spot-uso-agua.mp3")
							source(src="./resources/assets/audio/spot-uso-agua.ogg")
						p Americas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense.