/*!*** llamamos a nuestras librerias nib ****/
@import 'nib'
@import 'nib/gradients'
@import 'nib/overflow'
@import 'nib/normalize'
/*!*** Css de la fuente ****/
@import '../../assets/css/font.css'
/*!*** llamamos a nuestros demas estilos stylus****/
@import  '../master/general.styl'
@import  '../master/formulario.styl'
@import  '../header/header.styl'
@import  '../inicio/inicio.styl'
@import  '../asibar/asibar.styl'
@import  '../fosfatos/fosfatos.styl'
@import  '../salmuera/salmuera.styl'
@import  '../nosotros/nosotros.styl'
@import  '../mision/mision.styl'
@import  '../valores/valores.styl'
@import  '../talento/talento.styl'
@import  '../contacto/contacto.styl'
@import  '../sostenibilidad/sostenibilidad.styl'
@import  '../comunicacion/comunicacion.styl'
@import  '../videos/videos.styl'
@import  '../beca/beca.styl'
@import  '../mapa/mapa.styl'


@import  '../footer/footer.styl'
/*!**** Los demas estilos *********/
