/***
	Estilos Generalas para botones, link formularios en general
***/
    .content-contact
        margin: 5% auto
        max-width: 87%
        @media (max-width: 425px)
            max-width: 100%
        .contacto-titulo
            margin: auto 13%
            h2
                b
                    font-family: fuente_tituloContacto
                    font-size: 40px
                    @media (max-width: 425px)
                        font-size: 30px
            p
                font-size 20px
                font-family fuente_descripcion
        // .row:nth-child(2)
        //     @media (max-width: 425px)
        //         display: flex
        //         flex-direction: column-reverse
    .box-contact
        margin: 45px 20px
        @media (max-width: 992px)
            margin-bottom: 0
            margin: auto
            max-width: 390px
        @media (max-width: 425px)
            max-width: 300px
            justify-content: center
            height: 100%
            margin: 30px auto
            @media (max-width: 375px)
                max-width: 290px
                margin: 10px auto
            @media (max-width: 345px)
                max-width: 260px
        a
            color: blanco
            font-family: fuente_contenidoContacto
            font-size: 20px
            @media (max-width: 345px)
                font-size: 13px
        i
            color: #006c4b
            background: #fff
            padding: 14px
            border-radius: 100%
            font-size: 30px
            margin-right: 10px
            @media (max-width: 425px)
                padding: 6px
                font-size: 17px
        div
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
    form
        margin: 10px auto
        .duo-input
            display: flex
            justify-content: space-around
            .col-lg-6:first-child
                margin-right: 5px
        input,textarea
            font-size:16px
            color:blanco
            width: 100%
            padding: 8px 15px
            vertical-align: middle
            border: 1px solid blanco
            margin: 4px auto
            background:transparent
        button
            display: block
            background: verde
            color: blanco
            border: none
            padding: 8px 45px
            margin: auto
            margin-top: 5px
            font-family: fuente_botonContacto
            transition: all .2s
            font-size 20px
            &:active
                background-color: #005200
                transition: all .2s
            &:focus
                outline: none
    // @media (max-width: 992px)
    //     .box-contact
    //         margin: 40px auto
    //         margin-bottom: 0
