footer
	.btnGoUp
		i.icon-chevron-up
	.footer
		.container-fluid
			.row
				.col-lg-4.col-md-4.col-sm-4.box-footer
					.row.box-logos
						div
							img(src="./resources/assets/image/logo-potash-footer.png", alt="",width="100%")
						div
							a(href="http://www.growmaxcorp.com/", target="_blank")
								img(src="./resources/assets/image/logo-growmax-footer.png", alt="",width="100%")
				.col-lg-8.col-md-8.col-sm-8.box-footer
					//- .col-lg-12.col-md-12.col-sm-12.col-xs-12
					.row
						.footer-enlaces
							a(href="#") Inicio
							a(href="#") Nosotros
							a(href="#") Proyectos
							a(href="#") Sostenibilidad
							a(href="#") Comunicación Corporativa
							a(href="#") Contáctenos
		p.text-center Powered by 
			span MEDIA IMPACT