section#contacto
    background:#006c4b
    color:blanco
    margin-bottom:0
    .row
        .bannerPrincipal.misionNos
            background-image url("../image/banner4.jpg")
            @media (max-width 425px)
                background-image url("../image/banner-movil2.jpg")
                background-position 0px -4px
                background-repeat no-repeat
                background-size 107%
                height 300px
    .fondo-blanco
        background-color: grisclaro
        color: grisoscuro
        .content-contact
            .contacto-titulo
                h2
                    color verdeOscuro
            .box-contact
                i
                    background verdeOscuro
                    color blanco
                a
                    color grisoscuro
            form
                input
                    background blanco
                    color grisoscuro
                textarea
                    background blanco
                    color grisoscuro
                button
                    background verdeOscuro
    .trabajo
        background verdeOscuro
        color blanco
        .cvForm
            width 60%
            margin auto 
            @media (max-width 425px)
                width 85%
            .datosTrabajador
                h2
                    font-size 40px
                    font-family fuente_gruesa
                    margin 40px 0 50px
                    @media (max-width 768px)
                        font-size 25px
                h3
                    border: 2px solid blanco
                    font-size: 22px
                    color: blanco
                    width: 30%
                    margin: auto
                    margin-bottom 10px
                    padding: 8px
                    &:after
                        content initial
                    @media (max-width 991px)
                        font-size 19px
                    @media (max-width 768px)
                        width 50%
            form
                input
                    background blanco
                    color grisoscuro
                input[type="file"]
                    background transparent
                    border 0
                    width 50%
                    display block
                textarea
                    background blanco
                    color grisoscuro
                h3
                    border: 2px solid blanco
                    font-size: 22px
                    color: #fff
                    width: 30%
                    margin: 20px auto
                    padding: 8px
                    &:after
                        content initial
                    @media (max-width 991px)
                        font-size 19px
                    @media (max-width 767px)
                        width 50%
                .trio-input
                    display flex
                    input
                        margin-right 8px
                    input[name="dni"]
                        margin-right 0
                    @media (max-width 768px)
                        display initial
                button
                    background blanco
                    color verdeOscuro
                    margin 40px auto 50px auto