section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.talentoNos
				.letrero-banner
					div
						h2 Gobernanza institucional
						//- p Lorem Ipsum
						.rectangle
							| Incorporamos a todos nuestros trabajadores para crecer juntos.
	.container
		.row
			ul.menuNos.hidden-xs.text-center#ancla
				a(href="http://americas-potash.com/demoV5/nosotros.html")
					li ¿Quiénes somos?
				a(href="http://americas-potash.com/demoV5/mision.html")
					li Misión y visión
				a(href="http://americas-potash.com/demoV5/valores.html")
					li Valores
				a(href="http://americas-potash.com/demoV5/talento.html")
					li.activeNosotros Talento humano
			ul.menuNosMovil.text-center.hidden-lg.hidden-md.hidden-sm
				a(href="http://americas-potash.com/demoV5/nosotros.html")
					li ¿Quiénes somos?
				a(href="http://americas-potash.com/demoV5/mision.html")
					li Misión y visión
				a(href="http://americas-potash.com/demoV5/valores.html")
					li Valores
				a.talentoMovil(href="javascript:void(0)")
					li Talento humano
		.row
			.talento
				.row
					.col-lg-7.col-md-7.col-sm-7.col-xs-12
						h2.tituloTalentoMovil.hidden-sm.hidden-md.hidden-lg TALENTO HUMANO
						h2 Stephen Keith – Presidente de Growmax Resources
						p.text-justify El Sr. Keith es ingeniero profesional certificado y ejecutivo senior con 20 años de experiencia en el sector de recursos naturales, con un enfoque específico en minería y finanzas. Ha trabajado como ingeniero geológico, banquero de inversión y ejecutivo para varias empresas públicas y privadas. Recientemente, ocupó el cargo de Director General de Fertoz Ltd., una empresa dedicada a la producción de fosfato orgánico en Canadá y a la distribución de fertilizantes en Australia. Anteriormente, fue Presidente y Director Ejecutivo de Rio Verde Minerals, una empresa de fertilizantes enfocada en el desarrollo de activos de potasio y fosfato en Brasil. Asimismo, fue Vicepresidente de Banca de Inversión en Thomas Weisel Partners, trabajando en transacciones de recursos naturales en los sectores de minería y energía. Tiene una Licenciatura en Ciencias Aplicadas con especialidad en Ingeniería Geológica de Queen’s University en Canadá y una Maestría en Administración de Empresas con mención en Negocios Internacionales, con enfoque en América Latina, del Schulich School of Business de la Universidad de York en Canadá. Posee un buen dominio del español. 
					.col-lg-5.col-md-5.col-sm-5.col-xs-12
						img(src="./resources/assets/image/Stephen.jpg")
				.row
					.col-lg-7.col-md-7.col-sm-7.col-xs-12
						h2 Hugo Inga
						p.text-justify Hugo Inga es un ejecutivo con más de doce años de experiencia en áreas financieras, comerciales y de desarrollo de negocios en empresas locales y multinacionales. Su trayectoria abarca sectores como banca, energía y biocombustibles. Desde mayo del 2017 se desempeña como director comercial de Americas Potash Perú. Anteriormente fue Gerente General Adjunto de Baterías Alfa y Gerente Comercial de Maple Etanol.  Hugo es licenciado en economía por la Universidad del Pacífico, cuenta con una especialización en Finanzas Corporativas de ESAN y es MBA de ESADE Business School. 
					.col-lg-5.col-md-5.col-sm-5.col-xs-12
						img(src="./resources/assets/image/Hugo.jpg")
				.row
					.col-lg-7.col-md-7.col-sm-7.col-xs-12
						h2 ABDEL (ABBY) BADWI
						p.text-justify Abdel (Abby) Badwi es gerente general de Americas Potash Perú. Fue nombrado Director Ejecutivo Interino y Presidente Ejecutivo de GrowMax Resources en noviembre de 2015. El Sr. Badwi es geólogo profesional y ejecutivo internacional de recursos naturales con más de 40 años de experiencia en exploración, desarrollo y producción de recursos naturales en América del Norte, América del Sur, Europa, Asia y Medio Oriente. Anteriormente, fue Vicepresidente del directorio de Bankers Petroleum Ltd., y antes de dicho cargo fue Presidente y Director Ejecutivo de la misma compañía. En la actualidad, también es director de Arpetrol Inc. Anteriormente, fue Presidente y Director Ejecutivo de Rally Energy Corp., una compañía de petróleo y gas con operaciones en Egipto, Pakistán y Canadá. Asimismo, fue Presidente y Director Ejecutivo de Geodyne Energy Inc., Director de Operaciones de Carmanah Resources Ltd., y Vicepresidente de International Exploration of Sceptre Resources Limited. El Sr. Badwi es graduado en geología de la Universidad de Alejandría, Egipto. 
					.col-lg-5.col-md-5.col-sm-5.col-xs-12
						img(src="./resources/assets/image/FCB_1947.png")
				.row
					.col-lg-7.col-md-7.col-sm-7.col-xs-12
						h2 RAFAEL GRADOS
						p.text-justify Rafael Grados es un administrador de empresas con experiencia internacional dirigiendo y administrando proyectos. En la actualidad, Rafael es el Gerente de Administración de Americas Potash Perú S.A. (APPSA). Antes de desempeñar esta función, Rafael trabajó como consultor financiero para APPSA y como consultor de gestión para TIAA-CREF en Boston, EE.UU. Rafael es un graduado de la Escuela de Administración de la Universidad de Boston, con un enfoque en Negocios Internacionales. Adicionalmente, Rafael es un asociado certificado en gestión de proyectos (CAPM – PMI).
					.col-lg-5.col-md-5.col-sm-5.col-xs-12
						img(src="./resources/assets/image/2107.png")
				.row
					.col-lg-7.col-md-7.col-sm-7.col-xs-12
						h2 CASANDRA LLOSA
						p.text-justify Casandra Llosa es gerente de Responsabilidad Social de Americas Potash Perú S.A (APPSA) desde agosto del 2016. Cuenta con experiencia en el sector público y privado, desempeñándose en la mediación de conflictos como comisionada de la Adjuntía para la prevención de conflictos de la Defensoría del Pueblo, y, luego, liderando programas de Responsabilidad Social en empresas del sector hidrocarburos e infraestructura. Casandra es socióloga de la Pontificia Universidad Católica del Perú y se ha especializado en la gestión de proyectos de desarrollo local, así como en el diseño y ejecución de planes de relaciones comunitarias, con un enfoque intercultural y de género. siempre alineando la gestión social con estándares nacionales e internacionales, como son los del BID, IFC y los Principios del Ecuador.
					.col-lg-5.col-md-5.col-sm-5.col-xs-12
						img(src="./resources/assets/image/2082.png")
				.row
					.col-lg-7.col-md-7.col-sm-7.col-xs-12
						h2 JAVIER WONG
						p.text-justify Javier Wong es Contador Público Colegiado con más de 20 años de experiencia en la industria extractiva: Minería y Petróleo., habiendo desempeñado cargos de Controller,  Jefe de Contabilidad y Jefe de Planeamiento y Control de Costos. Actualmente es el Gerente de Finanzas de Americas Potash Perú desde agosto de 2016. Anteriormente trabajó como Controller en Gran Tierra Perú SA,  como Jefe de Planeamiento y Presupuestos en Cepsa Peru SA, como Jefe de Contabilidad en Minera Teck Peru SA y desempeñó varias posiciones en las áreas de contabilidad y finanzas en Pluspetrol Norte SA. Javier es graduado de la Universidad de Lima  y tiene especializaciones en Finanzas Corporativas, Impuestos y Normas Internacionales de Contabilidad (NIIF).
					.col-lg-5.col-md-5.col-sm-5.col-xs-12
						img(src="./resources/assets/image/2030.png")
				.row
					.col-lg-7.col-md-7.col-sm-7.col-xs-12
						h2 JOHN NICHOLSON
						p.text-justify John Nicholson es un geólogo con más de 30 años de experiencia en la exploración y desarrollo de proyectos de recursos naturales en América Latina, Norteamérica, Europa y el sur del pacífico. John estuvo previamente involucrado en proyectos de mineros de etapa avanzada y proyectos relacionados, asumiendo cargos de dirección en muchos de ellos, sobre todo en la zona de ejecución del proyecto. Actualmente él se desempeña como el gerente de operaciones del proyecto. John cuenta con un bachillerato en Ciencias (Geología) de la Universidad British Columbia, además es un geólogo profesional registrado en la Asociación de Ingenieros Profesionales y geo científicos de British Colombia.
					.col-lg-5.col-md-5.col-sm-5.col-xs-12
						img(src="./resources/assets/image/jhon.png")