section#nosotros
	.container-fluid
		.row
			.bannerPrincipal.talentoNos
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuNos.text-center#ancla
				a(href="http://americas-potash.com/demo/nosotros.html")
					li Quiénes somos
				a(href="http://americas-potash.com/demo/mision.html")
					li Misión y visión
				a(href="http://americas-potash.com/demo/valores.html")
					li Valores
				a(href="http://americas-potash.com/demo/talento.html")
					li.activeNosotros Talento humano
			//- ul.menuNos.text-center#ancla
			//- 	a(href="http://localhost/potash/nosotros.html")
			//- 		li.activeNosotros Quiénes somos
			//- 	a(href="http://localhost/potash/mision.html")
			//- 		li Misión y visión
			//- 	a(href="http://localhost/potash/valores.html")
			//- 		li Valores
			//- 	a(href="http://localhost/potash/talento.html")
			//- 		li Talento humano
		.talento
			.row
				.col-lg-6
					h2 LOREM IPSUM IS SIMPLY
					div.text-justify Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
				.col-lg-6
					img(src="./resources/assets/image/nosotros-talento1.jpg")
			.row
				.col-lg-6
					h2 LOREM IPSUM IS SIMPLY
					div.text-justify Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
				.col-lg-6
					img(src="./resources/assets/image/nosotros-talento2.jpg")
			.row
				.col-lg-6
					h2 LOREM IPSUM IS SIMPLY
					div.text-justify Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
				.col-lg-6
					img(src="./resources/assets/image/nosotros-talento3.jpg")
			.row
				.col-lg-6
					h2 LOREM IPSUM IS SIMPLY
					div.text-justify Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
				.col-lg-6
					img(src="./resources/assets/image/nosotros-talento4.jpg")