section#videos
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.hidden-xs.text-center#ancla
				a(href="http://americas-potash.com/demoV3/sostenibilidad.html")
					li Responsablidad Social
				a(href="http://americas-potash.com/demoV3/beca.html")
					li Beca Docente
				a(href="http://americas-potash.com/demoV3/comunicacion-y-dialogo.html")
					li.activesos Comunicación y Diálogo
			ul.menuMovVid.hidden-sm.hidden-md.hidden-lg.text-center#ancla
				a(href="http://americas-potash.com/demoV3/sostenibilidad.html")
					li Responsablidad Social
				a(href="http://americas-potash.com/demoV3/beca.html")
					li Beca Docente
				a(href="javascript:void(0)")
					li.movVideoBtn Comunicación y Diálogo
		.row.Videos
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.row.movVideos
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.row.subComunic
							ul.menuSos.text-center
								a(href="http://americas-potash.com/demoV3/comunicacion-y-dialogo.html")
									li Boletines
								a(href="javascript:void(0)")
									li.activesos Videos
								a(href="http://americas-potash.com/demoV3/spot-radial.html")
									li Spots Radiales
								a(href="http://americas-potash.com/demoV3/oficina-movil.html")
									li Oficina Móvil
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.row.contenedorVideo
							.col-lg-12.col-md-12.col-sm-12.col-xs-12
								.box-somos.text-justify
									p Américas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense cuyas acciones se cotizan en la Bolsa de Valores de Toronto (TSX-V).			
								.videoPotash
									<iframe src="https://player.vimeo.com/video/209447832?title=0&byline=0&portrait=0" width="100%" height="380px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>