section#videos
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 Growing together
						//- p Lorem Ipsum
						.rectangle
							| For sustainable development of Sechura.
	.container#ancla
		.row
			ul.menuSos.text-center
				a(href="http://americas-potash.com/demoV5/en/Sustainability")
					li Social Responsibility
				a(href="http://americas-potash.com/demoV5/en/beca")
					li Beca Docente (Teacher Scholarship)
				a(href="http://americas-potash.com/demoV5/en/Communication_and_Dialogue")
					li.activesos Communication and Dialogue
		.row.Videos
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.row.movVideos
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.row.subComunic
							ul.menuSos.text-center
								a(href="http://americas-potash.com/demoV5/en/Communication_and_Dialogue")
									li Newsletters
								a(href="javascript:void(0)")
									li.activesos Videos
								a(href="http://americas-potash.com/demoV5/en/Radio_Spots")
									li Radio Spots
								a(href="http://americas-potash.com/demoV5/en/Mobile_Office")
									li Mobile Office
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.row.contenedorVideo
							.col-lg-12.col-md-12.col-sm-12.col-xs-12
								.box-somos.text-justify
									p In a lively, playful and simple way, we explain who we are, the projects we have and the benefits they will bring to our environment.
								.videoPotash
									//- <iframe src="https://player.vimeo.com/video/209447832?title=0&byline=0&portrait=0" width="100%" height="380px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									<iframe src="https://player.vimeo.com/video/216513499?byline=0&portrait=0" width="100%" height="380px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>