section#contacto
    background:#006c4b
    color:blanco
    margin-bottom:0
    .row
        .bannerPrincipal.misionNos
            background-image url("../image/banner4.jpg")
            @media (max-width 991px)
                background-repeat no-repeat
                height 325px
                background-size cover
            @media (max-width 424px)
                background-image url("../image/movil-contacto.png")
                height 415px
            @media (max-width 375px)
                    height 370px
            @media (max-width 320px)
                height 315px
    .fondo-blanco
        background-color: grisclaro
        color: grisoscuro
        .content-contact
            .contacto-titulo
                h2
                    color verdeOscuro
            .box-contact
                color grisoscuro
                i
                    background verdeOscuro
                    color blanco
            form
                input
                    background blanco
                    -webkit-text-fill-color grisoscuro
                textarea
                    background blanco
                    -webkit-text-fill-color grisoscuro
                button
                    background verdeOscuro
    .trabajo
        background verdeOscuro
        color blanco
        .cvForm
            width 60%
            margin auto 
            @media (max-width 767px)
                width 85%
            .datosTrabajador
                h2
                    font-size 40px
                    font-family fuente_gruesa
                    margin 40px 0 50px
                    @media (max-width 768px)
                        font-size 25px
                h3
                    border: 2px solid blanco
                    font-size: 22px
                    color: blanco
                    width: 30%
                    margin: auto
                    margin-bottom 10px
                    padding: 8px
                    &:after
                        content initial
                    @media (max-width 991px)
                        font-size 19px
                    @media (max-width 768px)
                        width 50%
            form
                input
                    background blanco
                    color grisoscuro
                    -webkit-text-fill-color grisoscuro
                input[type="file"]
                    background transparent
                    border 0
                    width 50%
                    color blanco
                    display block
                textarea
                    background blanco
                    color grisoscuro
                    -webkit-text-fill-color grisoscuro
                h3
                    border: 2px solid blanco
                    font-size: 22px
                    color: #fff
                    width: 30%
                    margin: 20px auto
                    padding: 8px
                    &:after
                        content initial
                    @media (max-width 991px)
                        font-size 19px
                    @media (max-width 767px)
                        width 50%
                .trio-input
                    display flex
                    input
                        margin-right 8px
                    input[name="dni"]
                        margin-right 0
                    > div:first-child
                        margin-right 8px
                    > div:nth-child(2)
                        margin-right 8px
                    @media (max-width 767px)
                        display initial
                button
                    background grisclaro
                    color verdeOscuro
                    margin 40px auto 50px auto
                .box
                    text-align center
                    margin 30px 0 20px
                    .filecv
                        width .1px
                        height .1px
                        opacity 0
                        overflow hidden
                        position absolute
                        z-index -1
                    .inputfile-1 + label
                        color #f1e5e6
                        background-color grisclaro
                        padding 15px 27px
                    .filecv + label span
                        color verdeOscuro
                        font-family: fuente_botonContacto
                        font-size 16px
                    // .inputfile
                    //     width .1px
                    //     height .1px
                    //     opacity 0
                    //     overflow hidden
                    //     position absolute
                    //     z-index -1
                    // .inputfile-1 + label
                    //     color #f1e5e6
                    //     background-color grisclaro
                    //     padding 15px 27px
                    // .inputfile + label span
                    //     color verdeOscuro
                    //     font-family: fuente_botonContacto
                    //     font-size 16px