section#mapa
	.container-fluid
		.row
			.oficinas
				a.lima(href="javascript:void(0)")
					|Lima
				a.piura(href="javascript:void(0)")
					|Piura
			.floatDirecc
				img(src="./resources/assets/image/dialogo.png")
				.direccion
					i.icon-location
					p
						b Av. Lorem Ipsum 
						|is simply dummy text of the printing and
						br
						b Telf: 01 566 - 2198
						br
						b Cel: 933534107
			<iframe class="mapaLima" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.755758095809!2d-77.00227321601514!3d-12.128856735087853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x38ff1205ffa42525!2s%C3%93valo+Higuereta!5e0!3m2!1ses!2spe!4v1485386182435" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		.row
			<iframe class="piuraMap mapaOculto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d993.3538053163767!2d-80.62701716840058!3d-5.19724185390059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaeb976088d0ea599!2sPlaza+de+Armas+de+Piura!5e0!3m2!1ses!2spe!4v1489683759587" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>