section#salud
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 Creciendo juntos
						//- p Lorem Ipsum
						.rectangle
							| Por el desarrollo sostenible de Sechura.
	.container
		//- .row
		//- 	ul.menuSos.text-center.hidden-xs#ancla
		//- 		a(href="http://americas-potash.com/demoV5/sostenibilidad.html")
		//- 			li.activesos Responsabilidad Social
		//- 		a(href="http://americas-potash.com/demoV5/beca.html")
		//- 			li Beca Docente
		//- 		a(href="http://americas-potash.com/demoV5/comunicacion-y-dialogo.html")
		//- 			li Comunicación y Diálogo
		//- 	ul.menuSosMovil.text-center.hidden-sm.hidden-md.hidden-lg
		//- 		a(href="javascript:void(0)")
		//- 			li.sostenibilidadMovil Responsabilidad Social
		//- 		a(href="http://americas-potash.com/demoV5/beca.html")
		//- 			li Beca Docente
		//- 		a(href="http://americas-potash.com/demoV5/comunicacion-y-dialogo.html")
		//- 			li Comunicación y Diálogo
		.row
			//- .col-lg-12.col-md-12.col-sm-12.col-xs-12
			//- 	.row.cont-Salud
			//- 		ul.menuSos.text-center
			//- 			a(href="javascript:void(0)")
			//- 				li.activesos Salud
			.salud#ancla
				h2.text-center SALUD, SEGURIDAD Y MEDIO AMBIENTE
			.galerias
				.col-xs-12
					.row
						.col-xs-12
							.contenedorSalud
								.row
									.box-somos.text-justify
										p Creemos que nuestro negocio y operaciones pueden y deben ser realizadas de manera que sean seguras para nuestros colaboradores, contratistas y poblaciones de nuestro entorno.
										p Tenemos un sólido compromiso con el desarrollo de una minería moderna y sostenible, lo cual nos obliga al cuidado y preservación del medio ambiente, a través del cumplimiento de las leyes nacionales y estándares internacionales aplicables.
										p Nos esforzamos en reducir al mínimo los impactos que puedan generar nuestros proyectos, por ello nos preocupamos por generar las mejores condiciones de salud.
									ul.sliderUno
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/0241.png")
											img.image-click(src="./resources/assets/image/0241.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/0167.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/0167.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/0147.png")
											img.image-click(src="./resources/assets/image/0147.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/0212.png")
											img.image-click(src="./resources/assets/image/0212.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye