section#sostenibilidad
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center
				a(href="http://americas-potash.com/demo/sostenibilidad.html")
					li.activesos Responsablidad Social
				a(href="http://americas-potash.com/demo/beca.html")
					li Beca Docente
				a(href="http://americas-potash.com/demo/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
		.row.sostenibilidad-social
			.col-lg-7.col-md-7.col-sm-7
				.row
					.col-lg-12.descrip-sostenibilidad
						div
							p 
								| A partir de la política de Responsabilidad Social de la empresa, contribuimos al desarrollo de comunidades ubicadas en el entorno de nuestros proyectos. Procurando que el éxito de nuestro negocio se refleje en la mejora de la calidad de vida de la población más cercana al proyecto, buscando así que nuestra empresa y las comunidades continúen creciendo juntos.
							p
								|Esto se logrará principalmente de dos maneras:
						.contenido-sostenibilidad
							.number
								|1
							.tContenido-sostenibilidad
								h5
									b GENERANDO 
										span EMPLEO
							.sign +
							.descrip-number
									h5 
										b FORTALECIENDO ACTIVIDADES PRODUCTIVAS RELACIONADAS CON NUESTRO NEGOCIO.
						.contenido-sostenibilidad
							.number
								|2
							.tContenido-sostenibilidad
								h5
									b EJECUTANDO PROYECTOS DE DESARROLLO
							.sign
								i.icon-caret-right
							.descrip-number
									h5 
										b FORTALECIENDO ACTIVIDADES PRODUCTIVAS RELACIONADAS CON NUESTRO NEGOCIO.
			.col-lg-5.col-md-5.col-sm-5.col-sm-6
				img(src="./resources/assets/image/responsabilidad-principal.png", alt="")
		.row.galerias
			div.modal-img
				span.btn-cerrar-img X
				img.imageZoom
			.col-lg-12
				h3 Galería
				div
					ul.sliderGaleria
						li
							img.image-click(src="./resources/assets/image/galeria-salmuera1.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-salmuera2.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-salmuera1.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-salmuera4.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-salmuera2.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-salmuera1.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						//- li
						//- 	//- a(href="#")
						//- 	img.image-click(src="./resources/assets/image/galeria-salmuera2.jpg", alt="",width="100%")
						//- 	.caja-hover-galeria
						//- 		i.icon-eye
						//- li
						//- 	//- a(href="#")
						//- 	img.image-click(src="./resources/assets/image/galeria-salmuera1.jpg", alt="",width="100%")
						//- 	.caja-hover-galeria
						//- 		i.icon-eye
						//- li
						//- 	//- a(href="#")
						//- 	img.image-click(src="./resources/assets/image/galeria-salmuera4.jpg", alt="",width="100%")
						//- 	.caja-hover-galeria
						//- 		i.icon-eye
						//- li
						//- 	//- a(href="#")
						//- 	img.image-click(src="./resources/assets/image/home-galeria5.png", alt="",width="100%")
						//- 	.caja-hover-galeria
						//- 		i.icon-eye
		//- .row.nav-comunicacion
		//- 	h3 Comunicación y Diálogo
		//- 	nav.text-center
		//- 		a(href="#") Boletín
		//- 		a(href="#") Video
		//- 		a(href="#") Spot radial
		//- 	ul
		//- 		li
		//- 			img(src="./resources/assets/image/responsabilidad-boletin.png", alt="",width="100%")
		//- 			div.text-center.boletin
		//- 				| BOLETIN 
		//- 				br 
		//- 				|CORPORATIVO 01
		//- 				div
		//- 					a
		//- 						i.icon-download3
		//- 						| Descargar pdf
		//- 		li
		//- 			img(src="./resources/assets/image/responsabilidad-boletin.png", alt="",width="100%")
		//- 			div.text-center.boletin
		//- 				| BOLETIN 
		//- 				br 
		//- 				|CORPORATIVO 02
		//- 				div
		//- 					a
		//- 						i.icon-download3
		//- 						| Descargar pdf
		//- 		li
		//- 			img(src="./resources/assets/image/responsabilidad-boletin.png", alt="",width="100%")
		//- 			div.text-center.boletin
		//- 				| BOLETIN 
		//- 				br 
		//- 				|CORPORATIVO 03
		//- 				div
		//- 					a
		//- 						i.icon-download3
		//- 						| Descargar pdf

		//- .row.sostenibilidad-salud
		//- 	h3 Salud, Seguridad y Medio Ambiente
		//- 	.col-lg-7.col-md-6.col-sm-6.col-xs-6.resp-salud
		//- 		.box-somos
		//- 			p Américas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense cuyas acciones se cotizan en la Bolsa de Valores de Toronto (TSX-V).
		//- 			p Nuestra actividad consiste en extraer potasio y fosfáto, insumos esenciales para producir y comercializar sal de mesa e industrial y fertilizantes.
		//- 			p Para desarrollar nuestros proyectos, en el año 2008 el Estado Peruano nos otorgó concesiones del proyecto Bayovar ubicado en el departamento de Piura.
		//- 	.col-lg-5.col-md-6.col-sm-6.col-xs-6
		//- 		.row
		//- 			img(src="./resources/assets/image/responsabilidad-socioambiente.png" width="100%")