section#sostenibilidad
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center.hidden-xs
				a(href="http://americas-potash.com/demoV3/sostenibilidad.html")
					li.activesos Responsablidad Social
				a(href="http://americas-potash.com/demoV3/beca.html")
					li Beca Docente
				a(href="http://americas-potash.com/demoV3/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
			ul.menuSosMovil.text-center.hidden-sm.hidden-md.hidden-lg
				a(href="javascript:void(0)")
					li.sostenibilidadMovil Responsablidad Social
				a(href="http://americas-potash.com/demoV3/beca.html")
					li Beca Docente
				a(href="http://americas-potash.com/demoV3/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.sostenibilidad-social
					.row
						.col-lg-7.col-md-7.col-sm-7.col-xs-12
							.row
								.col-lg-12.col-md-12.col-sm-12.col-xs-12.descrip-sostenibilidad
									h2.hidden-lg.hidden-md.hidden-sm Responsabilidad Social
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											p.text-justify 
												| A partir de la política de Responsabilidad Social de la empresa, contribuimos al desarrollo de comunidades ubicadas en el entorno de nuestros proyectos. Procurando que el éxito de nuestro negocio se refleje en la mejora de la calidad de vida de la población más cercana al proyecto, buscando así que nuestra empresa y las comunidades continúen creciendo juntos.
											p.text-justify
												|Esto se logrará principalmente de dos maneras:
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.contenido-sostenibilidad
												.box-stn
													.number
														|1
													.tContenido-sostenibilidad
														h5
															b GENERANDO 
																span EMPLEO
												.box-stn
													.sign +
													.descrip-number
														.signMov +
														h5 
															b FORTALECIENDO ACTIVIDADES PRODUCTIVAS RELACIONADAS CON NUESTRO NEGOCIO.
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.contenido-sostenibilidad
												.box-stn
													.number
														|2
													.tContenido-sostenibilidad
														h5
															b EJECUTANDO PROYECTOS DE DESARROLLO
												.box-stn
													.sign
														i.icon-caret-right
													.descrip-number
														.signMov +
														h5.verde 
															b FORTALECIENDO ACTIVIDADES PRODUCTIVAS RELACIONADAS CON NUESTRO NEGOCIO.
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.logosSostenibles
												.logoS
													img(src="./resources/assets/image/responsabilidad-educ.png", alt="")
													p
														b EDUCACIÓN DE CALIDAD
														br
														|(O.D.S. 4)
												.logoS
													img(src="./resources/assets/image/responsabilidad-bien.png", alt="")
													P
														b SALUD Y BIENESTAR
														br
														|(O.D.S. 3)
												.logoS
													img(src="./resources/assets/image/responsabilidad-prod.png", alt="")
													P
														b PRODUCCIÓN SOSTENIBLE
														br
														|(O.D.S. 12)
						.col-lg-5.col-md-5.col-sm-5.col-xs-12.imagenRE
							img(src="./resources/assets/image/responsabilidad-principal.png", alt="")
					.row.galerias
						.col-lg-12
							h3 Galería
							div
								ul.sliderGaleria
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9842.png")
										img.image-click(src="./resources/assets/image/9842.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9846.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9846.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9862.png")
										img.image-click(src="./resources/assets/image/9862.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9889.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9889.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9916.png")
										img.image-click(src="./resources/assets/image/9916.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9961.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9961.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9967.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9967.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9999.png")
										img.image-click(src="./resources/assets/image/9999.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/9987.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9987.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/3614.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/3614.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/3624.png")
										img.image-click(src="./resources/assets/image/3624.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0036.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0036.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0049.png")
										img.image-click(src="./resources/assets/image/0049.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0055.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0055.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0063.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0063.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0341.png")
										img.image-click(src="./resources/assets/image/0341.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0357.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0357.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0385.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0385.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0486.png")
										img.image-click(src="./resources/assets/image/0486.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0013.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0013.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
								