section#sostenibilidad
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center
				a(href="http://americas-potash.com/demo/nosotros.html")
					li.activesos Responsablidad Social
				a(href="http://americas-potash.com/demo/mision.html")
					li Beca Docente
				a(href="http://americas-potash.com/demo/valores.html")
					li Comunicación y Diálogo
		.row.sostenibilidad-social
			.col-lg-7.col-md-7.col-sm-7
				.row
					.col-lg-12.descrip-sostenibilidad
						div
							p 
								| lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem
							p 
								| lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem
						.contenido-sostenibilidad
							div.number
								|1
							div.tContenido-sostenibilidad
								h5 
									b GENERANDO 
										span EMPLEO
							.sign +
							.descrip-number
									h5 lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
						.contenido-sostenibilidad
							div.number
								|2
							div.tContenido-sostenibilidad
								h5 
									b EJECUTANDO PROYECTOS DE DESARROLLO
										P (DESDE NUESTRO ÁMBITO DE INTERVENCIÓN)
									
							.sign
								i.icon-caret-left
							.descrip-number
									h5 lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
				//- .row.respons-logo
				//- 		img(src="./resources/assets/image/responsabilidad-bien.png", alt="",width="140px")
				//- 		//- .beca-educ
				//- 		img(src="./resources/assets/image/responsabilidad-educ.png", alt="",width="140px")
				//- 		img(src="./resources/assets/image/responsabilidad-beca.png", alt="",width="90px")
					
				//- 		img(src="./resources/assets/image/responsabilidad-prod.png", alt="",width="140px")
			.col-lg-5.col-md-5.col-sm-5.col-sm-6
				img(src="./resources/assets/image/responsabilidad-principal.png", alt="")
		//- .row.nav-comunicacion
		//- 	h3 Comunicación y Diálogo
		//- 	nav.text-center
		//- 		a(href="#") Boletín
		//- 		a(href="#") Video
		//- 		a(href="#") Spot radial
		//- 	ul
		//- 		li
		//- 			img(src="./resources/assets/image/responsabilidad-boletin.png", alt="",width="100%")
		//- 			div.text-center.boletin
		//- 				| BOLETIN 
		//- 				br 
		//- 				|CORPORATIVO 01
		//- 				div
		//- 					a
		//- 						i.icon-download3
		//- 						| Descargar pdf
		//- 		li
		//- 			img(src="./resources/assets/image/responsabilidad-boletin.png", alt="",width="100%")
		//- 			div.text-center.boletin
		//- 				| BOLETIN 
		//- 				br 
		//- 				|CORPORATIVO 02
		//- 				div
		//- 					a
		//- 						i.icon-download3
		//- 						| Descargar pdf
		//- 		li
		//- 			img(src="./resources/assets/image/responsabilidad-boletin.png", alt="",width="100%")
		//- 			div.text-center.boletin
		//- 				| BOLETIN 
		//- 				br 
		//- 				|CORPORATIVO 03
		//- 				div
		//- 					a
		//- 						i.icon-download3
		//- 						| Descargar pdf

		//- .row.sostenibilidad-salud
		//- 	h3 Salud, Seguridad y Medio Ambiente
		//- 	.col-lg-7.col-md-6.col-sm-6.col-xs-6.resp-salud
		//- 		.box-somos
		//- 			p Américas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense cuyas acciones se cotizan en la Bolsa de Valores de Toronto (TSX-V).
		//- 			p Nuestra actividad consiste en extraer potasio y fosfáto, insumos esenciales para producir y comercializar sal de mesa e industrial y fertilizantes.
		//- 			p Para desarrollar nuestros proyectos, en el año 2008 el Estado Peruano nos otorgó concesiones del proyecto Bayovar ubicado en el departamento de Piura.
		//- 	.col-lg-5.col-md-6.col-sm-6.col-xs-6
		//- 		.row
		//- 			img(src="./resources/assets/image/responsabilidad-socioambiente.png" width="100%")