section#sostenibilidad
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 Creciendo juntos
						//- p Lorem Ipsum
						.rectangle
							| Por el desarrollo sostenible de nuestro entorno.
	.container#ancla
		.row
			ul.menuSos.text-center.hidden-xs
				a(href="http://americas-potash.com/sostenibilidad")
					li.activesos Responsablidad Social
				a(href="http://americas-potash.com/beca")
					li Beca Docente
				a(href="http://americas-potash.com/comunicacion-y-dialogo")
					li Comunicación y Diálogo
			ul.menuSosMovil.text-center.hidden-sm.hidden-md.hidden-lg
				a(href="javascript:void(0)")
					li.sostenibilidadMovil Responsablidad Social
				a(href="http://americas-potash.com/beca")
					li Beca Docente
				a(href="http://americas-potash.com/comunicacion-y-dialogo")
					li Comunicación y Diálogo
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				//- .row.cont-Salud
				//- 	ul.menuSos.text-center
				//- 		a(href="http://americas-potash.com/salud")
				//- 			li.activesos Salud, seguridad y medio ambiente
				.sostenibilidad-social
					.row
						.col-lg-7.col-md-7.col-sm-7.col-xs-12
							.row
								.col-lg-12.col-md-12.col-sm-12.col-xs-12.descrip-sostenibilidad
									h2.hidden-lg.hidden-md.hidden-sm Responsabilidad Social
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											p.text-justify 
												| A partir de la política de Responsabilidad Social de la empresa, contribuimos al desarrollo de las comunidades. ubicadas en el entorno de nuestros proyectos. Procurando que el éxito de nuestro negocio se refleje en la mejora de la calidad de vida de la población más cercana al proyecto, buscando así que nuestra empresa y las comunidades continúen creciendo juntos.
											p.text-justify
												|Esto se logrará principalmente de dos maneras:
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.contenido-sostenibilidad
												.box-stn
													.number
														|1
													.tContenido-sostenibilidad
														h5
															b GENERANDO 
																span EMPLEO
												.box-stn
													.sign +
													.descrip-number
														.signMov +
														h5 
															b FORTALECIENDO ACTIVIDADES PRODUCTIVAS RELACIONADAS CON NUESTRO NEGOCIO.
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.contenido-sostenibilidad
												.box-stn
													.number
														|2
													.tContenido-sostenibilidad
														h5
															b EJECUTANDO PROYECTOS DE DESARROLLO
												.box-stn
													.sign
														i.icon-caret-right
													.descrip-number
														.signMov &#9660
														h5.verde 
															b PARA QUE LA REGIÓN ALCANCE 
																span 3 
																| DE LOS OBJETIVOS DE DESARROLLO SOSTENIBLE
															span.parentesis (ESTABLECIDOS POR LAS NACIONES UNIDAS EL 
																span 2015
																| , LOS DEMAS OBJETIVOS SON TRANSVERSALES A NUESTRA GESTIÓN)
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.logosSostenibles
												.logoS
													img(src="./resources/assets/image/responsabilidad-educ.png", alt="")
													P
														b SALUD Y BIENESTAR
														br
														|(O.D.S. 
														span.dos 3
														|)
												.logoS
													img(src="./resources/assets/image/responsabilidad-bien.png", alt="")
													p
														b EDUCACIÓN DE CALIDAD
														br
														|(O.D.S. 
														span.uno 4
														|)
												.logoS
													img(src="./resources/assets/image/responsabilidad-prod.png", alt="")
													P
														b PRODUCCIÓN SOSTENIBLE
														br
														|(O.D.S. 
														span.tres 12
														|)
						.col-lg-5.col-md-5.col-sm-5.col-xs-12.imagenRE
							img(src="./resources/assets/image/responsabilidad-principal.png", alt="")
					.row.galerias
						.col-lg-12
							h3 Galería
							div
								ul.sliderGaleria
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9842.jpg")
										img.image-click(src="./resources/assets/image/9842.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9846.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9846.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9862.jpg")
										img.image-click(src="./resources/assets/image/9862.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9889.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9889.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9916.jpg")
										img.image-click(src="./resources/assets/image/9916.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9961.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9961.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9967.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9967.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9999.jpg")
										img.image-click(src="./resources/assets/image/9999.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/9987.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/9987.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/3614.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/3614.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/3624.jpg")
										img.image-click(src="./resources/assets/image/3624.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0036.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0036.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0049.jpg")
										img.image-click(src="./resources/assets/image/0049.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0055.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0055.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0063.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0063.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0341.jpg")
										img.image-click(src="./resources/assets/image/0341.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0357.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0357.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0385.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0385.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0486.jpg")
										img.image-click(src="./resources/assets/image/0486.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0013.jpg")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0013.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye