section#sostenibilidad
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				background-image url("../image/banner3.jpg")
	.container
		ul
			margin:50px auto
			display flex
			justify-content center
			padding 0
			a
				&:hover
					text-decoration none
				li
					cursor pointer
					color grisoscuro
					list-style none
					width 200px
					padding 10px
					transition all ease-in-out .2s
					font-size 21px
					height 80px
					&:hover
						background: verdeOscuro
						color blanco
						font-family fuente_active
						display flex
						align-items center
						justify-content center
					&.activesos
						background verdeOscuro
						color blanco
						font-family fuente_active
		.sostenibilidad-social
			background blanco
			display flex
			align-items center
			.col-lg-5
				padding-right 0
				img
					width 100%
			.descrip-sostenibilidad
				font-size 18px
				padding 0 45px
				.contenido-sostenibilidad
					display flex
					align-items flex-end
					height 130px
					h5
						font-family fuente_descripcion
						font-size 20px
						height 80px
						span
							font-size 30px
					.number, .sign
						font-size 100px
						color verdeOscuro
						font-family fuente_active
						width 130px
						// height 100px
						&.sign
							font-size 35px
							padding 0 35px
							height 84px
							width 50px
							display flex
							justify-content center
							align-items baseline
					.tContenido-sostenibilidad >h5
						width 150px
				.contenido-sostenibilidad:last-child .descrip-number:last-child
					color verdeOscuro
				.logosSostenibles
					display flex
					justify-content space-between
					width 110%
					margin-top 20px
					.logoS
						display flex
						align-items flex-start
						p
							line-height 1
							font-family fuente_descripcion
							color verdeOscuro
							margin-left 10px
							b
								color negro
