section#videos
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center#ancla
				a(href="http://americas-potash.com/demoV2/nosotros.html")
					li Responsablidad Social
				a(href="http://americas-potash.com/demoV2/mision.html")
					li Beca Docente
				a(href="http://americas-potash.com/demoV2/valores.html")
					li.activesos Comunicación y Diálogo
		.row.subComunic
			ul.menuSos.text-center
				a(href="http://americas-potash.com/demoV2/nosotros.html")
					li Boletines
				a(href="http://americas-potash.com/demoV2/mision.html")
					li.activesos Videos
				a(href="http://americas-potash.com/demoV2/valores.html")
					li Spots Radiales
				a(href="http://americas-potash.com/demoV2/mision.html")
					li Oficina Móvil
		.row.contenedorVideo
			.box-somos.text-justify
				p Américas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense cuyas acciones se cotizan en la Bolsa de Valores de Toronto (TSX-V).
				//- p Nuestra actividad consiste en extraer potasio y fosfáto, insumos esenciales para producir y comercializar sal de mesa e industrial y fertilizantes.
				//- p Para desarrollar nuestros proyectos, en el año 2008 el Estado Peruano nos otorgó concesiones del proyecto Bayovar ubicado en el departamento de Piura.
			
			.videoPotash
				img(src="./resources/assets/image/responsabilidad-socioambiente.png" width="100%")