section#videos
	@media (max-width 767px)
		background blanco
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				background-image url("../image/banner-creciendo.jpg")
				@media (max-width 991px)
					background-position 0px -4px
					background-repeat no-repeat
					height 325px
					background-size cover
				// @media (max-width 760px)
				// 	height 292px
				@media (max-width 424px)
					background-image url("../image/banner-movilStn.jpg")
					height 403px
				@media (max-width 375px)
					height 365px
				@media (max-width 320px)
					height 315px
	.container
		@media (max-width 767px)
			display flex
			flex-direction column-reverse
		ul
			margin:50px auto
			display flex
			justify-content center
			@media (max-width 991px)
				padding 0
			@media (max-width 767px)
				margin 30px auto
			a
				&:hover
					text-decoration none
				li
					cursor pointer
					color grisoscuro
					list-style none
					width 180px
					transition all ease-in-out .2s
					font-size 23px
					height 65px
					line-height 1
					display flex
					justify-content center
					align-items center
					@media (max-width 991px)
						width 180px
					@media (max-width 767px)
						width 100%
						transition none
					&:hover
						background: verdeOscuro
						color blanco
						font-family fuente_active
						display flex
						align-items center
						justify-content center
						@media (max-width 767px)
							background blanco
							transition none
							color grisoscuro
					&.activesos
						background verdeOscuro
						color blanco
						font-family fuente_active
						width 180px
						@media (max-width 767px)
							background transparent
							color verdeOscuro
			/.menuMovVid
				flex-direction column
				padding 0
				a
					&:hover
						text-decoration none
					li
						width auto
						padding 30px
						background blanco
						list-style none
						color grisoscuro
						font-size 25px
						&:hover
							font-family fuente_active
							background blanco
							color grisoscuro
						&.movVideoBtn
							background blanco
		.Videos
			// @media (max-width 767px)
			// 	display none
		.subComunic
			border-top 3px solid verdeOscuro
			@media (max-width 767px)
				border none
			ul
				@media (max-width 767px)
					flex-direction column
					align-items center
				a
					li
						height 65px
						padding 0
						display flex
						justify-content center
						align-items center
						font-size 20px
						&:hover
							font-family fuente_active
							color blanco
							@media (max-width 767px)
								color grisoscuro
						@media (max-width 767px)
							width 200px
		.contenedorVideo
			> div
				display flex
				margin-bottom 20%
				@media (max-width 767px)
					flex-direction column-reverse
					margin-bottom 0
					// padding 0 70px
				.box-somos
					width 30%
					padding 50px
					background verdeOscuro
					font-size 20px
					color blanco
					display flex
					align-items center
					@media (max-width 991px)
						width 45%
						padding 30px
					@media (max-width 767px)
						width 100%
						height 180px
						padding 20px
					@media (max-width 424px)
						height 120px
					p
						@media (max-width 991px)
							line-height 1
							font-size 16px
				.videoPotash
					width 70%
					height 380px
					@media (max-width 767px)
						width 100%