section#salmuera
	.container-fluid
		.row
			.bannerPrincipal.salmuera
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.submenu.hidden-xs.text-center#ancla
				a(href="http://americas-potash.com/demoV3/en/phosphates.html")
					li Phosphates
				a(href="javascript:void(0)")
					li.active Potassium rich brine
			ul.submenuFM.hidden-lg.hidden-md.hidden-sm.text-center
				a(href="http://americas-potash.com/demoV3/en/phosphates.html")
					li Phosphates
				a(href="javascript:void(0)")
					li.salmueraMovil Potassium rich brine
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.salmueraProy
						.salmueraBox
							.row
								h2.hidden-lg.hidden-md.hidden-sm Potassium rich brine
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
									p.text-center The first considerable production will be based on the potassium-rich brine processing to produce fertilizers. In addition, sodium chloride (industrial and/or table salt) will be derived from this operation as a by-product.
						.salmueraBox
							.row
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
									ul.secuenciaSalmuera
										li.text-center
											h3 LOCATION
											|It is probable that the operation will be located in Concession 6 of the Bayovar project, Distance between Sechura and other brine operations
										i.icon-caret-right
										i.icon-chevron-down
										li.text-center
											h3 TRADE
											|Our production of brine and other industrial products will be sold primarily in the local market.
										i.icon-caret-right
										i.icon-chevron-down
										li.text-center
											h3 DEVELOPMENT 
											|Our business will create jobs and new opportunities for the surrounding communities.
										i.icon-caret-right
										i.icon-chevron-down
										li.text-center
											h3 FASE DE OPERACIONES
											|Las operaciones de potasio se encuentra en la fase pre operativa.
										i.icon-caret-right
										i.icon-chevron-down
										li.text-center
											h3 UBICACIÓN ESTRATÉGICA
											|Las concesiones de Bayóvar están situadas cerca de infraestructura bien desarrollada, incluyendo el acceso a puertos marítimos de exportación y carreteras principales
						.col-lg-12.galeriaRS
							h3 Galería
							div.galeria
								ul.sliderGaleria
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0507.png")
										img.image-click(src="./resources/assets/image/0507.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0509.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0509.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0576.png")
										img.image-click(src="./resources/assets/image/0576.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0601.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0601.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0629.png")
										img.image-click(src="./resources/assets/image/0629.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0636.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0636.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0682.png")
										img.image-click(src="./resources/assets/image/0682.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0667.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0667.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0667.png")
										img.image-click(src="./resources/assets/image/0667.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0682.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0682.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0682.png")
										img.image-click(src="./resources/assets/image/0682.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0760.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0760.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0747.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0747.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0738.png")
										img.image-click(src="./resources/assets/image/0738.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0725.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/0725.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye