section#beca
	.container
		@media (max-width 767px)
			display flex
			flex-direction column-reverse
	.row
		.descrip-beca
			padding 0px 35px 30px
			h5
				font-size 20px
				color azul
				font-family fuente_tituloH2Nos
			ul
				padding 0
				li
					list-style none
	.row.galerias
		// .lSAction
		// 	> a
		// 		top 40%
			a.lSPrev
				&:before
					color azul
			a.lSNext
				&:before
					color azul