footer
	.btnGoUp.hidden-xs
		i.icon-chevron-up
	.footer
		.container-fluid
			.row
				.col-lg-4.col-md-4.col-sm-4.col-xs-12.box-footer
					.row.box-logos
						div
							a(href="http://americas-potash.com/demoV5/index.html")
								img(src="./resources/assets/image/logo-potash-footer.png", alt="",width="100%")
						div
							a(href="http://www.growmaxcorp.com/", target="_blank")
								img(src="./resources/assets/image/logo-growmax-footer.png", alt="",width="100%")
				.col-lg-8.col-md-8.col-sm-8.col-xs-12.box-footer
					.row
						.footer-enlaces
							div
								a(href="http://americas-potash.com/demoV5/index.html") Inicio
								a(href="http://americas-potash.com/demoV5/nosotros.html") Nosotros
								a(href="http://americas-potash.com/demoV5/fosfatos.html") Proyectos
							div
								a(href="http://americas-potash.com/demoV5/sostenibilidad.html") Sostenibilidad
								a(href="http://americas-potash.com/demoV5/comunicacion-corporativa.html") Comunicación Corporativa
								a(href="http://americas-potash.com/demoV5/contacto.html") Contáctenos
		p.text-center Todos los derechos reservados 
			span AMERICAS POTASH