section#detalle
	.container-fluid
		.row
			.bannerPrincipal.comuncCorp
				//- .letrero-banner
					//- div
					//- 	h2 What is Lorem ipsum
					//- 	//- p Lorem Ipsum
					//- 	.rectangle
					//- 		|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container#ancla
		.row
			.noticias-comunicacion
				.row.hidden-xs
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h2.text-center.titulo
							b Corporate Communication
					.col-lg-12
						h3 News
				.row
					.col-lg-8.col.md-8.col-sm-8.col-xs-12
						.inner-detalle
							h1 AMERICAS POTASH BECA DOCENTE PROGRAM STARTED
								br
								span Full scholarship will benefit about 500 students in the district of Sechura.
							ul.sliderUno
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/comunicacion-corporativa/detalle/5690.png")
									img.image-click(src="./resources/assets/image/comunicacion-corporativa/detalle/5690.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/comunicacion-corporativa/detalle/5579.png")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/comunicacion-corporativa/detalle/5579.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/comunicacion-corporativa/detalle/5662.png")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/comunicacion-corporativa/detalle/5662.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/comunicacion-corporativa/detalle/5630.png")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/comunicacion-corporativa/detalle/5630.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
							p Last January 21, the “Americas Potash Beca Docente” educational program started. This program grants a full scholarship to fifteen teachers who work in educational institutions in the province of Sechura to obtain their Bachelor or Professional degrees after completing their studies.
							p The teachers, holders of the scholarship, teach in preschool and primary education levels in the towns of Vice, Sechura, Parachique and Cristo Nos Valga. Teachers will study for over a year every Saturday in the University of Piura.
							p The improved training of teachers will enhance their teaching quality, in return benefiting more than 500 children of Sechura to enhance their school performance. In addition, attaining the university degree, will benefit the teachers with equal opportunities to move up in the educational field (with options of receiving higher wages and working conditions). These points serve as a motivation for them.
							p “I feel very happy and excited for being one of the individuals taking advantage of this benefit that the Americas Potash company is giving educational professionals, in this opportunity to improve the quality of our work”, said teacher Elaine Tejada Briceño, one of the program beneficiaries.
							p This program is part of the actions that we have been developing as part of the company’s social responsibility. The implementation of this program has been possible thanks to the support of the University of Piura, which is receiving fifteen teachers in their classrooms, along with the Local Educational Management Unit – UGEL Sechura, entity that guarantees and supervises the compliance of the educational program.
							.direccionNoticia
								.prev
									a(href="http://americas-potash.com/demoV5/en/Detail-2")
										i.icon-caret-left
								.next
									a(href="http://americas-potash.com/demoV5/en/Detail-1")
										i.icon-caret-right
					.col-lg-4.col-md-4.col-sm-4.col-xs-4.hidden-xs
						.container-brochure
							.titulo-brochure
								h2 Brochure
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/brochure.png", alt="")
								.col-lg-5.col-md-5.col-sm-12.col-xs-5
									h2 BROCHURE
									.icon-brochure
										.icon-download3
											a(href="./resources/assets/documentos/brochure/BROCHURE_AMERICAS_POTASH_INGLES.pdf" target="_blank" download) Download a PDF file
										.icon-eye
											a(href="./resources/assets/documentos/brochure/BROCHURE_AMERICAS_POTASH_INGLES.pdf" target="_blank") Read more
						.container-brochure
							.titulo-brochure
								h2 Press
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/prensa.png", alt="")
								.col-lg-5.col-md-5.col-sm-12.col-xs-5
									h2 PRESS RELEASE
									.icon-brochure
										.icon-download3
											a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank" download) Download a PDF file
										.icon-eye
											a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank") Read more
							//- .row.brochure
							//- 	.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-7
							//- 		img(src="./resources/assets/image/comunicacion-corporativa/prensa.png", alt="")
							//- 	.col-lg-5.col-md-5.col-sm-12.col-xs-5
							//- 		h2 COMUNICADO
							//- 		p La compañía Americas Potash Perú S.A. expresa a la opinión pública lo siguiente.
							//- 		.icon-brochure
							//- 			.icon-download3
							//- 				a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank" download) Descargar pdf
							//- 			.icon-eye
							//- 				a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank") Ver más
							//- .row.text-center
							//- 	a(href="") Ver más