section#beca
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				background-image url("../image/banner3.jpg")
	.container
		ul.menuSos
			margin:50px auto
			display flex
			justify-content center
			padding 0
			a
				&:hover
					text-decoration none
				li
					cursor pointer
					color grisoscuro
					list-style none
					width 200px
					padding 10px
					transition all ease-in-out .2s
					font-size 21px
					height 80px
					&:hover
						background: verdeOscuro
						color blanco
						font-family fuente_active
						display flex
						align-items center
						justify-content center
					&.activesos
						background verdeOscuro
						color blanco
						font-family fuente_active
						display flex
						justify-content center
						align-items center
		.programaBeca
			background blanco
			.titulo-prog
				background azul
				color blanco
			.row
				h2
					margin-bottom 0
					display flex
					justify-content center
					align-items center
					img
						margin-left 10px
				.menuProg
					display flex
					justify-content center
					padding 50px
					a
						padding 15px
						color grisoscuro
						width 200px
						font-size 20px
						&.activeMenuProg
							font-family fuente_activeMedium
							color blanco
							background azul
						&:hover
							text-decoration none
							background azul
							color blanco
							font-family fuente_activeMedium
						li
							list-style none
			.row:nth-child(2)
				background blanco
			.contenBecaSpot
				display flex
				.spot
					&:hover .reseniaAudio
						display block
					.spotAudio
						position relative
						text-align center
						&:hover .iconAudio
							display block
						img:first-child
							width 93%
						.iconAudio
							position absolute
							right 0
							left 0
							margin auto
							top 0
							bottom 0
							display none
					.reseniaAudio
						background azul
						padding 25px
						// display none
						width 93%
						margin auto
						color blanco
						font-size 20px
			.row.galerias
				.lSAction
					> a
						top 40%
					a.lSPrev
						&:before
							color azul
					a.lSNext
						&:before
							color azul