section#beca
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				background-image url("../image/banner3.jpg")
	.container
		.contenBecaSpot
			display flex
			.spot
				&:hover .reseniaAudio
					display block
				.spotAudio
					position relative
					text-align center
					&:hover .iconAudio
						display block
					img:first-child
						width 93%
					.iconAudio
						position absolute
						right 0
						left 0
						margin auto
						top 0
						bottom 0
						display none
				.reseniaAudio
					background azul
					padding 25px
					// display none
					width 93%
					margin auto
					color blanco
					font-size 20px
		.row.galerias
			.lSAction
				> a
					top 40%
				a.lSPrev
					&:before
						color azul
				a.lSNext
					&:before
						color azul