section#beca
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center#ancla
				a(href="http://americas-potash.com/demo/sostenibilidad.html")
					li Responsablidad Social
				a(href="javascript:void(0)")
					li.activesos Beca Docente
				a(href="http://americas-potash.com/demo/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
		.programaBeca
			.col-lg-12.col-md-12.col-sm-12
				.row
					h2.titulo-prog.text-center PROGRAMA
						img(src="./resources/assets/image/responsabilidad-beca.png", alt="")
				.row
					.col-lg-12.col-md-12.col-sm-12
						ul.menuProg.text-center
							a(href="http://americas-potash.com/demo/beca.html")
								li Descripción
							a(href="http://americas-potash.com/demo/beca-beneficiarios.html")
								li Beneficiarios
							a(href="http://americas-potash.com/demo/beca-video.html")
								li Video
							a.activeMenuProg(href="javascript:void(0)")
								li Spot radial
					.col-lg-12.col-md-12.col-sm-12
						.contenBecaSpot
							.spot
								.spotAudio
									img(src="./resources/assets/image/img-spot.jpg")
									img.iconAudio(src="./resources/assets/image/audio.png" width="20%")
								.reseniaAudio
									p Americas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense.
							.spot
								.spotAudio
									img(src="./resources/assets/image/img-spot.jpg")
									img.iconAudio(src="./resources/assets/image/audio.png" width="20%")
								.reseniaAudio
									p Americas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense.
					.col-lg-12.col-md-12.col-sm-12
						.row.galerias
							div.modal-img
								.content-modal
									.row-modal
										img.imageZoom
										i.icon-chevron-left
									.row-modal
										span.btn-cerrar-img X
										h3 Lorem ipsum dolor sit
										p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur turpis in pharetra aliquet. Quisque vitae ornare urna. Etiam venenatis erat non posuere vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
										i.icon-chevron-right
							.col-lg-12
								div
									ul.sliderGaleria
										li
											img.image-click(src="./resources/assets/image/galeria-beca.jpg", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
											p hola y chau
										li
											//- a(href="#")
											img.image-click(src="./resources/assets/image/galeria-beca2.jpg", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
											p verde y chau
										li
											//- a(href="#")
											img.image-click(src="./resources/assets/image/galeria-beca3.jpg", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
											p hola y rosa
										li
											//- a(href="#")
											img.image-click(src="./resources/assets/image/galeria-beca4.jpg", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li
											//- a(href="#")
											img.image-click(src="./resources/assets/image/galeria-beca5.jpg", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li
											//- a(href="#")
											img.image-click(src="./resources/assets/image/galeria-beca.jpg", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye