footer
	background #4c4c4c
	padding 31px 0 28px
	@media screen and (min-width: 992px)
		align-items flex-start
		display flex
		flex-direction row
		flex-wrap no-wrap
		justify-content center
	p
		color #c2c2c2
		font-family "rubikregularlight"
		font-size 13px
		text-align center
		@media screen and (min-width: 992px)
			&:first-child
				margin-right 120px
		a
			color #c2c2c2
			font-family "rubikregularbold"
			transition 0.5s all ease
			&:hover
				color rosado
