#comunicacion-corporativa
	padding-bottom 10%
	h2
		color verdeOscuro
	h3
		color #999999
		font 30px fuente_tituloH3
		&:after
			content: ""
			border-bottom: 1.5px solid #999999
			position: absolute
			right: 0
			// min-width: 85%
			width: 89%
			bottom: 8px
	.inner-logo
		text-align center
	h4
		font 20px alegreya_sansblack
		color #006C4B
	p
		font 19px alegreya_sansregular
		color #5D5D5D
	.inner-noticia
		background blanco
		border-right 3px solid #CED71F
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
		margin-top 20px
		&:first-child
			margin-top 0
	.inner-img
		padding-left 0
	.inner-logo
		img
			width 100%
	.seguirL
		a
			font 18px alegreya_sansregular
			color #006C4B
			text-decoration none
		img
			display inline-block
			margin-left 5px
			vertical-align bottom
	.verM
		padding-left 0
		padding-right 0
		a
			font 18px alegreya_sansregular
			color #006C4B
			text-decoration none
			background blanco
			padding 10px 0
			display block
			margin-top 20px
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
			&:hover
				background #006C4B
				transition 0.3s all ease
				color blanco
	.titulo-brochure
		background #006C4B
		h2
			margin-top 0
			font 40px alegreya_sansbold
			color blanco
			text-align center
	.inner-brochure
		padding-left 0
		img
			width 92%
		h2
			text-align center
			margin-top 0
			font 16px alegreya_sansblack
		p
			font 15px alegreya_sansregular
			color #666666
	.icon-download3
		color #006C4B
		margin-left 10px
		a
			font 13px alegreya_sansmedium
			color #006C4B
			margin-left 5px
			text-decoration none
	.icon-eye
		color #006C4B
		margin-top 5px
		margin-left 10px
		a
			font 13px alegreya_sansmedium
			color #006C4B
			margin-left 5px
			text-decoration none
	.brochure
		margin 20px
		box-shadow 0 0 5px 0 rgba(0,0,0,0.75)
		h2
			font 16px alegreya_sansblack
			text-align center
			margin-top 10px
		p
			font 14px alegreya_sansregular
	.container-brochure
		background blanco
		padding-bottom 20px
		box-shadow 0 3px 5px 3px rgba(204,204,204,0.75)
		&:last-child
			padding-bottom 15px
	a
		font 18px alegreya_sansregular
		color #006C4B
		text-decoration none
	#noticias
		display none
		margin-top 20px