section#comunicacion-corporativa
	.container
		.row
			.noticias-comunicacion
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h2.text-center
							b Comunicación Corporativa
					.col-lg-12
						h3 Noticias
				.row
					.col-lg-8.col.md-8.col-sm-8.col-xs-8
						#publicaciones
							// inicio
							.row.inner-noticia
								.col-lg-6.col-md-6.col-sm-6.col-xs-6.inner-img
									.inner-logo
										img(src="./resources/assets/image/comunicacion-corporativa/logo.png", alt="")
								.col-lg-6.col-md-6.col-sm-6.col-xs-6
									h4 GROWMAX INVERTIRÁ US$ 27 MILLONES EN BAYÓVAR
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur turpis in pharetra aliquet. Quisque vitae ornare urna. Etiam venenatis erat non posuere vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
									.seguirL
										.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-right
											a(href="detalle.html") Seguir Leyendo
											img(src="./resources/assets/image/comunicacion-corporativa/arrow-right.png", alt="")
							.row.inner-noticia
								.col-lg-6.col-md-6.col-sm-6.col-xs-6.inner-img
									.inner-logo
										img(src="./resources/assets/image/comunicacion-corporativa/brochure2.jpg", alt="")
								.col-lg-6.col-md-6.col-sm-6.col-xs-6
									h4 PROYECTOS E INICIATIVAS PARA EL DESARROLLO
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur turpis in pharetra aliquet. Quisque vitae ornare urna. Etiam venenatis erat non posuere vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
									.seguirL
										.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-right
											a(href="detalle.html") Seguir Leyendo
											img(src="./resources/assets/image/comunicacion-corporativa/arrow-right.png", alt="")
							.row.inner-noticia
								.col-lg-6.col-md-6.col-sm-6.col-xs-6.inner-img
									.inner-logo
										img(src="./resources/assets/image/comunicacion-corporativa/brochure3.jpg", alt="")
								.col-lg-6.col-md-6.col-sm-6.col-xs-6
									h4 PROYECTOS E INICIATIVAS PARA EL DESARROLLO
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur turpis in pharetra aliquet. Quisque vitae ornare urna. Etiam venenatis erat non posuere vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
									.seguirL
										.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-right
											a(href="detalle.html") Seguir Leyendo
											img(src="./resources/assets/image/comunicacion-corporativa/arrow-right.png", alt="")
							
							// final
						.row
							.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.verM
								a.verMas#paginar(href="javascript:void(0)" , data-paginacion = "2") Ver más
												
					.col-lg-4.col-md-4.col-sm-4.col-xs-4
						.container-brochure
							.titulo-brochure
								h2 Brochure
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-7.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/brochure1.jpg", alt="")
								.col-lg-5.col-md-5.col-sm-5.col-xs-5
									h2 BROCHURE CORPORATIVO
									p Lorem ipsum dolor sit amet,consectetur adipiscing elit.Vivamus accumsan.
									.icon-download3
										a(href="") Descargar pdf
									.icon-eye
										a(href="") Ver más
						.container-brochure
							.titulo-brochure
								h2 Prensa
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-7.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/prensa1.jpg", alt="")
								.col-lg-5.col-md-5.col-sm-5.col-xs-5
									h2 BROCHURE CORPORATIVO
									p Lorem ipsum dolor sit amet,consectetur adipiscing elit.Vivamus accumsan.
									.icon-download3
										a(href="") Descargar pdf
									.icon-eye
										a(href="") Ver más
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-7.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/prensa2.jpg", alt="")
								.col-lg-5.col-md-5.col-sm-5.col-xs-5
									h2 BROCHURE CORPORATIVO
									p Lorem ipsum dolor sit amet,consectetur adipiscing elit.Vivamus accumsan.
									.icon-download3
										a(href="") Descargar pdf
									.icon-eye
										a(href="") Ver más
							.row.text-center
								a(href="") Ver más