section#comunicacion-corporativa
	.container-fluid
		.row
			.bannerPrincipal.comuncCorp
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			.col-lg-12.noticias-comunicacion
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h2.titulo.text-center.hidden-xs.hidden-sm
							b Comunicación Corporativa
					.col-lg-12
						h3 Noticias
				.row
					.col-lg-8.col.md-8.col-sm-8.col-xs-12
						#publicaciones
							// inicio
							.row.inner-noticia
								.col-lg-6.col-md-6.col-sm-6.col-xs-12.inner-img
									.inner-logo
										img(src="./resources/assets/image/comunicacion-corporativa/logo.png", alt="")
								.col-lg-6.col-md-6.col-sm-6.col-xs-12
									h4 GROWMAX INVERTIRÁ US$ 27 MILLONES EN BAYÓVAR
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur turpis in pharetra aliquet. Quisque vitae ornare urna. Etiam venenatis erat non posuere vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
									.seguirL
										.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-right
											a(href="http://americas-potash.com/demoV2/detalle.html") Seguir Leyendo
											img(src="./resources/assets/image/comunicacion-corporativa/arrow-right.png", alt="")
							.row.inner-noticia
								.col-lg-6.col-md-6.col-sm-6.col-xs-6.inner-img
									.inner-logo
										img(src="./resources/assets/image/comunicacion-corporativa/brochure2.jpg", alt="")
								.col-lg-6.col-md-6.col-sm-6.col-xs-6
									h4 PROYECTOS E INICIATIVAS PARA EL DESARROLLO
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur turpis in pharetra aliquet. Quisque vitae ornare urna. Etiam venenatis erat non posuere vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
									.seguirL
										.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-right
											a(href="http://americas-potash.com/demoV2/detalle.html") Seguir Leyendo
											img(src="./resources/assets/image/comunicacion-corporativa/arrow-right.png", alt="")
							.row.inner-noticia
								.col-lg-6.col-md-6.col-sm-6.col-xs-6.inner-img
									.inner-logo
										img(src="./resources/assets/image/comunicacion-corporativa/brochure3.jpg", alt="")
								.col-lg-6.col-md-6.col-sm-6.col-xs-6
									h4 PROYECTOS E INICIATIVAS PARA EL DESARROLLO
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur turpis in pharetra aliquet. Quisque vitae ornare urna. Etiam venenatis erat non posuere vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
									.seguirL
										.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-right
											a(href="http://americas-potash.com/demoV2/detalle.html") Seguir Leyendo
											img(src="./resources/assets/image/comunicacion-corporativa/arrow-right.png", alt="")
							.row.hidden-lg.hidden-md.hidden-sm.noticiasCo
								.col-xs-12
									ul.sliderNoticias
										li
											img.notiImg(src="./resources/assets/image/galeria-index1.jpg", alt="",width="100%")
											.caja-hover-not
												p.titular.text-center PROYECTOS E INICIATIVAS PARA EL DESARROLLO
												.noticia.text-center
													p lorem ipsum dolor lalalalala
													a(href="http://americas-potash.com/demoV2/detalle.html")
														i.icon-eye
															span Ver más
											.descrip-img-noticias.hidden-lg.hidden-md.hidden-sm
												p Proyectos e iniciativas para el desarrollo.
										li
											img.notiImg(src="./resources/assets/image/galeria-index2.jpg", alt="",width="100%")
											.caja-hover-not
												p.titular.text-center PROYECTOS E INICIATIVAS PARA EL DESARROLLO
												.noticia.text-center
													p lorem ipsum dolor lalalalala
													a(href="http://americas-potash.com/demoV2/detalle.html")
														i.icon-eye
															span Ver más
											.descrip-img-noticias.hidden-lg.hidden-md.hidden-sm
												p Proyectos e iniciativas para el desarrollo.
										li
											img.notiImg(src="./resources/assets/image/galeria-index3.jpg", alt="",width="100%")
											.caja-hover-not
												p.titular.text-center PROYECTOS E INICIATIVAS PARA EL DESARROLLO
												.noticia.text-center
													p lorem ipsum dolor lalalalala
													a(href="http://americas-potash.com/demoV2/detalle.html")
														i.icon-eye
															span Ver más
											.descrip-img-noticias.hidden-lg.hidden-md.hidden-sm
												p Proyectos e iniciativas para el desarrollo.
							
							// final
						.row
							.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.verM
								a.verMas#paginar(href="javascript:void(0)" , data-paginacion = "2") Ver más
												
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.container-brochure
							.titulo-brochure
								h2 Brochure
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-7.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/brochure1.jpg", alt="")
								.col-lg-5.col-md-5.col-sm-5.col-xs-5
									h2 BROCHURE CORPORATIVO
									p Lorem ipsum dolor sit amet,consectetur adipiscing elit.Vivamus accumsan.
									.icon-brochure
										.icon-download3
											a(href="") Descargar pdf
										.icon-eye
											a(href="http://americas-potash.com/demoV2/detalle.html") Ver más
								.icon-brochureM
									.icon-download3
											a(href="") Descargar pdf
									.icon-eye
										a(href="http://americas-potash.com/demoV2/detalle.html") Ver más
						.container-prensa
							.titulo-brochure
								h2 Prensa
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-7.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/prensa1.jpg", alt="")
								.col-lg-5.col-md-5.col-sm-5.col-xs-5
									h2 BROCHURE CORPORATIVO
									p Lorem ipsum dolor sit amet,consectetur adipiscing elit.Vivamus accumsan.
									.icon-brochure
										.icon-download3
											a(href="") Descargar pdf
										.icon-eye
											a(href="http://americas-potash.com/demoV2/detalle.html") Ver más
								.icon-brochureM
									.icon-download3
											a(href="http://americas-potash.com/demoV2/detalle.html") Descargar pdf
									.icon-eye
										a(href="http://americas-potash.com/demoV2/detalle.html") Ver más
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-7.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/prensa2.jpg", alt="")
								.col-lg-5.col-md-5.col-sm-5.col-xs-5
									h2 BROCHURE CORPORATIVO
									p Lorem ipsum dolor sit amet,consectetur adipiscing elit.Vivamus accumsan.
									.icon-brochure
										.icon-download3
											a(href="") Descargar pdf
										.icon-eye
											a(href="http://americas-potash.com/demoV2/detalle.html") Ver más
								.icon-brochureM
									.icon-download3
											a(href="") Descargar pdf
									.icon-eye
										a(href="http://americas-potash.com/demoV2/detalle.html") Ver más
							.row.text-center.hidden-xs.hidden-sm
								a(href="http://americas-potash.com/demoV2/detalle.html") Ver más