section#comunicacion
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 Creciendo juntos
						//- p Lorem Ipsum
						.rectangle
							| Por el desarrollo sostenible de Sechura.
	.container#ancla
		.row
			ul.menuSos.text-center
				a(href="http://americas-potash.com/sostenibilidad")
					li Responsablidad Social
				a(href="http://americas-potash.com/beca")
					li Beca Docente
				a(href="javascript:void(0)")
					li.activesos Comunicación y Diálogo
		.row.sSalud
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.row.subComunic
					ul.menuSos.text-center
						a(href="javascript:void(0)")
							li.activesos Boletines
						a(href="http://americas-potash.com/videos")
							li Videos
						a(href="http://americas-potash.com/spot-radial")
							li Spots Radiales
						a(href="http://americas-potash.com/oficina-movil")
							li Oficina Móvil
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						p.dialogo Procuramos mantener un diálogo permanente con las poblaciones de nuestro ámbito de influencia, para lo cual es vital contar con herramientas de comunicación que transmitan la información de manera clara, transparente y oportuna. Además, de generar espacios para recoger las quejas, sugerencias y pedidos de la población, es por ello que la empresa cuenta con el Boletín ComunidadES... Que se emite bimestralmente, así como también con la emisión de videos informativos, spots radiales y una oficina móvil. En esta última se realizan las convocatorias de empleo, charlas informativas, así como también se recogen quejas, pedidos y sugerencias en las distintas localidades del área de influencia del proyecto.
					.boletines.hidden-xs
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							ul
								li
									img(src="./resources/assets/image/boletin-1.jpg", alt="",width="100%")
									div.text-center.boletin
										| BOLETÍN N °1
										br
										span Octubre 2016
									.text-center
										a(href="./resources/assets/documentos/boletin/boletin_1.pdf" target="_blank" download)
											i.icon-download3
											| Descargar pdf
								li
									img(src="./resources/assets/image/boletin-2.jpg", alt="",width="100%")
									div.text-center.boletin
										| BOLETÍN N °2
										br
										span Diciembre 2016
									.text-center
										a(href="./resources/assets/documentos/boletin/boletin_2.pdf" target="_blank" download)
											i.icon-download3
											| Descargar pdf
								li
									img(src="./resources/assets/image/boletin-3.jpg", alt="",width="100%")
									div.text-center.boletin
										| BOLETÍN N °3
										br
										span Febrero 2017
									.text-center
										a(href="./resources/assets/documentos/boletin/boletin_3.pdf" target="_blank" download)
											i.icon-download3
											| Descargar pdf
				//- .row
				//- 	.boletines
					//- para rellenar en el futuro con nuevos boletines
				.row.sliderBoletin.hidden-lg.hidden-md.hidden-sm
					.col-xs-12
						ul.boletinSos
							li
								img(src="./resources/assets/image/boletin-1.jpg", alt="",width="100%")
								div.text-center.boletin
									| BOLETÍN N °1
								.text-center
									a(href="./resources/assets/documentos/boletin/boletin_1.pdf" target="_blank" download)
										i.icon-download3
										| Descargar pdf
							li
								//- a(href="#")
								img(src="./resources/assets/image/boletin-2.jpg", alt="",width="100%")
								div.text-center.boletin
									| BOLETÍN N °2
								.text-center
									a(href="./resources/assets/documentos/boletin/boletin_2.pdf" target="_blank" download)
										i.icon-download3
										| Descargar pdf
							li
								//- a(href="#")
								img(src="./resources/assets/image/boletin-3.jpg", alt="",width="100%")
								div.text-center.boletin
									| BOLETÍN N °3
								.text-center
									a(href="./resources/assets/documentos/boletin/boletin_3.pdf" target="_blank" download)
										i.icon-download3
										| Descargar pdf