section#oficina
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center#ancla
				a(href="http://americas-potash.com/demo/sostenibilidad.html")
					li Responsablidad Social
				a(href="http://americas-potash.com/demo/beca.html")
					li Beca Docente
				a(href="http://americas-potash.com/demo/comunicacion-y-dialogo.html")
					li.activesos Comunicación y Diálogo
		.row.subComunic
			ul.menuSos.text-center
				a(href="http://americas-potash.com/demo/sostenibilidad.html")
					li Boletines
				a(href="http://americas-potash.com/demo/videos.html")
					li Videos
				a(href="http://americas-potash.com/demo/spot-radial.html")
					li Spots Radiales
				a(href="http://americas-potash.com/demo/oficina-movil.html")
					li.activesos Oficina Móvil
		.row.contenedorVideo
			.box-somos.text-justify
				h4 AMERICAS POTASH… TU NUEVO VECINO.
				p La Casa de Americas Potash es una oficina móvil, que cuenta con todos los servicios de una oficina fija, pero a diferencia de ella, ésta se traslada a donde sea necesario.
				p Debido a que comprendimos la dificultad que representa para la población trasladarse a nuestras oficinas, acudimos a ustedes. La casa de Americas Potash se acerca a tu comunidad para escucharte, recoger tus sugerencias, aclarar tus dudas y explicarte respecto de nuestros proyectos 
				p Empezamos en Malavida el 08 y 10 de febrero, donde las y los vecinos de la Casa Americas Potash saludaron la iniciativa, porque ahora tienen a la empresa más cerca de ellos.
				p Comunícate con nosotros para recibir el itinerario y sepas cuándo estaremos por tu localidad.  Días previos a la instalación de la Casa, las autoridades realizarán la convocatoria para que no te la pierdas.		
			.imgOficina
				img(src="./resources/assets/image/oficina-movil.jpg" width="100%")