section#oficina
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				background-image url("../image/banner3.jpg")
	.container
		ul
			margin:50px auto
			display flex
			justify-content center
			padding 0
			a
				&:hover
					text-decoration none
				li
					cursor pointer
					color grisoscuro
					list-style none
					width 200px
					padding 10px
					transition all ease-in-out .2s
					font-size 21px
					height 80px
					&:hover
						background: verdeOscuro
						color blanco
						font-family fuente_active
						display flex
						align-items center
						justify-content center
					&.activesos
						background verdeOscuro
						color blanco
						font-family fuente_active
		.subComunic
			border-top 3px solid verdeOscuro
			ul
				a
					li
						height auto
		.contenedorVideo
			display flex
			margin-bottom 20%
			.box-somos
				width 55%
				padding 25px 50px
				background blanco
				font-size 20px
				color grisoscuro
				h4
					color verdeOscuro
					font-family fuente_tituloNoticias
					font-size 22px
			.imgOficina
				width 45%