section#videos
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 Creciendo juntos
						//- p Lorem Ipsum
						.rectangle
							| Por el desarrollo sostenible de Sechura.
	.container#ancla
		.row
			ul.menuSos.text-center
				a(href="http://americas-potash.com/sostenibilidad")
					li Responsablidad Social
				a(href="http://americas-potash.com/beca")
					li Beca Docente
				a(href="http://americas-potash.com/comunicacion-y-dialogo")
					li.activesos Comunicación y Diálogo
		.row.Videos
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.row.movVideos
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.row.subComunic
							ul.menuSos.text-center
								a(href="http://americas-potash.com/comunicacion-y-dialogo")
									li Boletines
								a(href="javascript:void(0)")
									li.activesos Videos
								a(href="http://americas-potash.com/spot-radial")
									li Spots Radiales
								a(href="http://americas-potash.com/oficina-movil")
									li Oficina Móvil
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.row.contenedorVideo
							.col-lg-12.col-md-12.col-sm-12.col-xs-12
								.box-somos.text-justify
									p De manera animada, lúdica y sencilla explicamos lo que somos, los proyectos que tenemos y los beneficios que estos traerán a nuestro entorno.
								.videoPotash
									//- <iframe src="https://player.vimeo.com/video/209447832?title=0&byline=0&portrait=0" width="100%" height="380px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									<iframe src="https://player.vimeo.com/video/216513499?byline=0&portrait=0" width="100%" height="380px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>