section#detalle
	.container-fluid
		.row
			.bannerPrincipal.comuncCorp
				//- .letrero-banner
				//- 	div
				//- 		h2 What is Lorem ipsum
				//- 		//- p Lorem Ipsum
				//- 		.rectangle
				//- 			|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container#ancla
		.row
			.noticias-comunicacion
				.row.hidden-xs
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h2.text-center.titulo
							b Corporate Communication
					.col-lg-12
						h3 News
				.row
					.col-lg-8.col.md-8.col-sm-8.col-xs-12
						.inner-detalle
							h1 US$ 10 MILLION WILL BE INVESTED
								br
								span Growmax Resources
							ul.sliderUno
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/comunicacion-corporativa/detalle/1043.png")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/comunicacion-corporativa/detalle/1043.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/comunicacion-corporativa/detalle/0973.jpg")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/comunicacion-corporativa/detalle/0973.jpg", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
							p For 2017, the investment and working capital budget of the Canadian company GrowMax Resources (formerly called Americas Petrogas Inc) is about US$ 10 million that will be focused on the progress of the Bayovar 7 phosphate project, from additional research and studies of domestic and regional sales of phosphate rock, as well as on environmental and social requirements. In addition, it will advance an initiative in Argentina.
							p Regarding the Bayovar 7 project, in August the Company engaged WorleyParsons Canada Services to assist the Company with the provision of design and engineering consulting services. It will submit the results of work by the first quarter of the next year.
							p DIARIO GESTIÓN(GESTIÓN NEWSPAPER)
							p PAGE 18
							p PUBLICATION DATE, 11-28-16
							.direccionNoticia
								.prev
									a(href="http://americas-potash.com/demoV5/en/Detail-1")
										i.icon-caret-left
								.next
									a(href="http://americas-potash.com/demoV5/en/Detail")
										i.icon-caret-right
					.col-lg-4.col-md-4.col-sm-4.col-xs-4.hidden-xs
						.container-brochure
							.titulo-brochure
								h2 Brochure
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/brochure.png", alt="")
								.col-lg-5.col-md-5.col-sm-12.col-xs-5
									h2 BROCHURE
									.icon-brochure
										.icon-download3
											a(href="./resources/assets/documentos/brochure/BROCHURE_AMERICAS_POTASH_INGLES.pdf" target="_blank" download) Download a PDF file
										.icon-eye
											a(href="./resources/assets/documentos/brochure/BROCHURE_AMERICAS_POTASH_INGLES.pdf" target="_blank") Read more
						.container-brochure
							.titulo-brochure
								h2 Press
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/prensa.png", alt="")
								.col-lg-5.col-md-5.col-sm-12.col-xs-5
									h2 PRESS RELEASE
									.icon-brochure
										.icon-download3
											a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank" download) Download a PDF file
										.icon-eye
											a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank") Read more
							//- .row.brochure
							//- 	.inner-brochure.col-lg-7.col-md-7.col-sm-12.col-xs-7
							//- 		img(src="./resources/assets/image/comunicacion-corporativa/prensa.png", alt="")
							//- 	.col-lg-5.col-md-5.col-sm-12.col-xs-5
							//- 		h2 COMUNICADO
							//- 		p La compañía Americas Potash Perú S.A. expresa a la opinión pública lo siguiente.
							//- 		.icon-brochure
							//- 			.icon-download3
							//- 				a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank" download) Download a PDF file
							//- 			.icon-eye
							//- 				a(href="./resources/assets/documentos/prensa/comunicado_1.pdf" target="_blank") Read more
							//- .row.text-center
							//- 	a(href="") Ver más