header.header(ng-controller="headerCrtl")
	.container
		div.logo-max.hidden-md.hidden-lg
			a(href="http://americas-potash.com/demoV3/en/index.html")
				img(src="./resources/assets/image/logo-potash-header.gif", alt="",width="100%")
			a.line-burguer
		.row
			.col-lg-2.col-md-2.logo-header.hidden-sm.hidden-xs
				a(href="http://americas-potash.com/demoV3/en/index.html")
					img(src="./resources/assets/image/logo-potash-header.gif", alt="",width="100%")
			.col-lg-9.col-md-9.visible-md.visible-lg-inline-block
				nav.menu-header
					ul
						li
							a(href="http://americas-potash.com/demoV3/en/index.html") Inicio
						li.subNos
							a(href="javascript:void(0)") Nosotros
								span  &#9660;
							ul.submenu-header
								li
									a(href="http://americas-potash.com/demoV3/en/nosotros.html") ¿Quiénes somos?
								li
									a(href="http://americas-potash.com/demoV3/en/mission.html") Mission and vision
								li
									a(href="http://americas-potash.com/demoV3/en/values.html") Values
								li
									a(href="http://americas-potash.com/demoV3/en/talento.html") Talento Humano 
						li.subProy
							a(href="javascript:void(0)") Projects
								span  &#9660;
							ul.submenu-header
								li
									a(href="http://americas-potash.com/demoV3/en/phosphates.html") Phosphates
								li
									a(href="http://americas-potash.com/demoV3/en/potassium-rich-brine.html") Potassium rich brine
						li.subSost
							a(href="javascript:void(0)") Sustainability
								span  &#9660;
							ul.submenu-header
								li
									a(href="http://americas-potash.com/demoV3/en/sustainability.html") Social Responsability
								li
									a(href="http://americas-potash.com/demoV3/en/health.html") Health, safety and environment
						li
							a(href="http://americas-potash.com/demoV3/en/comunicacion-corporativa.html") Comunicación Corporativa
						li
							a(href="http://americas-potash.com/demoV3/en/contacto.html") Contáctenos
			.col-lg-1.col-md-1.col-sm-1.col-xs-1.visible-md.visible-lg-inline-block
				.box-search#box-search
					div
						a(href="http://americas-potash.com/demoV3/index.html") Spanish
						span  /
						a.active(href="http://americas-potash.com/demoV3/en/en/index.html") English
					img(src="./resources/assets/image/lupa.png",width="40px", alt="")
	.row
		.container-fluid
			.row.hidden-md.hidden-lg
				nav.menu-collapse
					ul.menu-collapse.text-center
						a(href="http://americas-potash.com/demoV3/en/index.html")
							li Inicio
					
						a(href="http://americas-potash.com/demoV3/en/nosotros.html")
							li Nosotros
					
						a(href="http://americas-potash.com/demoV3/en/phosphates.html")
							li Projects
					
						a(href="http://americas-potash.com/demoV3/en/sustainability.html")
							li sustainability
					
						a(href="http://americas-potash.com/demoV3/en/comunicacion-corporativa.html")
							li Comunicación Corporativa
						a(href="http://americas-potash.com/demoV3/en/contacto.html")
							li Contáctenos
						ul.idiomas
							a(href="http://americas-potash.com/demoV3/index.html")
								li Spanish
							a(href="http://americas-potash.com/demoV3/en/en/index.html")
								li.activeIdioma English
			input(type="text",class="style-box-search disp-none",id="busqueda",name="search",placeholder="Search...", autofocus)
