header.header(ng-controller="headerCrtl")
	.container
		div.logo-max.hidden-md.hidden-lg
			a(href="http://americas-potash.com/demoV5/en/index")
				img(src="./resources/assets/image/logo-trans.png",id="logo-apM" alt="",width="100%")
			.box-burguer
				#box-search
					img(src="./resources/assets/image/lupa.png",width="40px", alt="")
				a.line-burguer
		.row
			.col-lg-2.col-md-2.logo-header.hidden-sm.hidden-xs
				a(href="http://americas-potash.com/demoV5/en/index")
					img(src="./resources/assets/image/logo-trans.png",id="logo-ap" alt="",width="100%")
			.col-lg-9.col-md-9.visible-md.visible-lg-inline-block
				nav.menu-header
					ul
						li
							a.active(href="http://americas-potash.com/demoV5/en/index") Home
						li.subNos
							a(href="javascript:void(0)") About Us
								span  &#9660;
							ul.submenu-header
								li
									a(href="http://americas-potash.com/demoV5/en/About_Us") Who We Are
								li
									a(href="http://americas-potash.com/demoV5/en/Mission_and_Vision") Mission and Vision
								li
									a(href="http://americas-potash.com/demoV5/en/Values") Values
								li
									a(href="http://americas-potash.com/demoV5/en/Human_Talent") Human Talent 
						li.subProy
							a(href="javascript:void(0)") Projects
								span  &#9660;
							ul.submenu-header
								li
									a(href="http://americas-potash.com/demoV5/en/Phosphates") Phosphates
								li
									a(href="http://americas-potash.com/demoV5/en/Brine") Brines
						li.subSost
							a(href="javascript:void(0)") Sustainability
								span  &#9660;
							ul.submenu-header
								li
									a(href="http://americas-potash.com/demoV5/en/Sustainability") Social Responsability
								li
									a(href="http://americas-potash.com/demoV5/en/Health") Health, Safety and Environment
						li
							a(href="http://americas-potash.com/demoV5/en/Corporate_Communication") Corporate Communication
						li
							a(href="http://americas-potash.com/demoV5/en/Contact_Us") Contact Us
			.col-lg-1.col-md-1.col-sm-1.col-xs-1.visible-md.visible-lg-inline-block
				.box-search#box-search
					div
						a(href="http://americas-potash.com/demoV5/index") Español
						span  /
						a.active(href="http://americas-potash.com/demoV5/en/index") English
					img(src="./resources/assets/image/lupa.png",width="40px", alt="")
	.row
		.container-fluid
			.row.hidden-md.hidden-lg
				nav.menu-collapse
					ul.menu-collapse.text-center
						li
							a(href="http://americas-potash.com/demoV5/en/index")
								| Home
					
						li.sMenuNosotros
							a(href="javascript:void(0)")
								| About Us
							ul.submenu-movil
								li
									a(href="http://americas-potash.com/demoV5/en/About_Us")
										| Who We Are
								li
									a(href="http://americas-potash.com/demoV5/en/Mission_and_Vision")
										| Mission and Vision
								li
									a(href="http://americas-potash.com/demoV5/en/Values")
										| Values
								li
									a(href="http://americas-potash.com/demoV5/en/Human_Talent")
										| Human Talent
						li.sMenuProy
							a(href="javascript:void(0)")
								| Projects
							ul.submenu-movil
								li
									a(href="http://americas-potash.com/demoV5/en/Phosphates")
										| Phosphates
								li
									a(href="http://americas-potash.com/demoV5/en/Brine")
										| Brine
						li.sMenuSostenibilidad
							a(href="javascript:void(0)")
								| Sustainability
							ul.submenu-movil
								li
									a(href="http://americas-potash.com/demoV5/en/Sustainability") Social Responsability
								li
									a(href="http://americas-potash.com/demoV5/en/Health") Health, Safety and Environment
						li 
							a(href="http://americas-potash.com/demoV5/en/Corporate_Communication")
								| Corporate Communication
						li
							a(href="http://americas-potash.com/demoV5/en/Contact_Us")
								| Contact Us
						ul.idiomas
							li
								a(href="http://americas-potash.com/demoV5/index")
									| Español
							li
								a.activeIdioma(href="http://americas-potash.com/demoV5/en/index")
									| English
			input(type="text",class="style-box-search disp-none",id="busqueda",name="search",placeholder="Search...", autofocus)