section#oficina
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 Growing together
						//- p Lorem Ipsum
						.rectangle
							| For sustainable development of Sechura.
	.container
		.row
			ul.menuSos.hidden-xs.text-center#ancla
				a(href="http://americas-potash.com/demoV5/en/Sustainability.html")
					li Social Responsibility
				a(href="http://americas-potash.com/demoV5/en/beca.html")
					li Beca Docente (Teacher Scholarship)
				a(href="http://americas-potash.com/demoV5/en/Communication_and_Dialogue.html")
					li.activesos Communication and Dialogue
			ul.MenuOficina.text-center.hidden-sm.hidden-md.hidden-lg#ancla
				a(href="http://americas-potash.com/demoV5/en/Sustainability.html")
					li Social Responsibility
				a(href="http://americas-potash.com/demoV5/en/beca.html")
					li Beca Docente (Teacher Scholarship)
				a(href="javascript:void(0)")
					li.sostenibilidadMovil Communication and Dialogue
		.oficinaMovil
			.row.subComunic
				ul.menuSos.text-center
					a(href="http://americas-potash.com/demoV5/en/Communication_and_Dialogue.html")
						li Newsletters
					a(href="http://americas-potash.com/demoV5/en/videos.html")
						li Videos
					a(href="javascript:void(0)")
						li Radio Spots
					a(href="http://americas-potash.com/demoV5/en/Mobile_Office.html")
						li.activesos Mobile Office
			.row.contenedorVideo
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.box-somos.text-justify
						h4 AMERICAS POTASH… YOUR NEW NEIGHBOR.
						p The Americas´ Potash House is a mobile office with the same services as a fixed office, but unlike it, it moves where necessary.
						p We know how difficult it is for the population to move to our offices, so we visit you. The Americas´Potash House goes to your community to listen to you, collect your suggestions, clarify your doubts and explain our projects.
						p We started in Malavida on February 8 and 10, where the Americas Potash House’s neighbors welcomed our initiative, as they now feel the company is closer to them.
						p Contact us to receive the itinerary and find out when we will be visiting your town. As to not miss this opportunity, days prior to the set up of the House, the relevant authorities will contact you!
					ul.sliderUno
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil1.jpg")
							img.image-click(src="./resources/assets/image/o-movil1.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil2.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/o-movil2.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil3.jpg")
							img.image-click(src="./resources/assets/image/o-movil3.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil4.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/o-movil4.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil5.jpg")
							img.image-click(src="./resources/assets/image/o-movil5.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil6.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/o-movil6.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil7.jpg")
							//- a(href="#")
							img.image-click(src="./resources/assets/image/o-movil7.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li(class="example-group" data-fancybox="group" href="./resources/assets/image/o-movil8.jpg")
							img.image-click(src="./resources/assets/image/o-movil8.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye