section#salmuera
	.container-fluid
		.row
			.bannerPrincipal.salmuera
				.letrero-banner
					div
						h2 Leading producer
						//- p Lorem Ipsum
						.rectangle
							| of phosphate and potash rich fertilizers in Peru.
	.container#ancla
		.row
			ul.submenu.text-center
				a(href="http://americas-potash.com/demoV5/en/Phosphates")
					li Phosphates
				a(href="javascript:void(0)")
					li.active Brine
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.salmueraProy
						.salmueraBox
							.row
								h2.hidden-lg.hidden-md.hidden-sm BRINE
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
									p.text-center The first considerable production will be based on the potassium-rich brine processing to produce fertilizers by using a solar evaporation pond technology. Additionally, sodium chloride (salt) will be derived from this operation as a by-product.
						.salmueraBox
							.row
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
									ul.secuenciaSalmuera
										li.text-center
											h3 LOCATION
											| The operation is likely to be located in concession 6 of the Bayovar project, 20 km away from Sechura.
										i.icon-caret-right
										i.icon-chevron-down
										li.text-center
											h3 TRADE
											| Our production of brine and other industrial products will be sold in the local market.
										i.icon-caret-right
										i.icon-chevron-down
										li.text-center
											h3 DEVELOPMENT 
											| Our business will create jobs and new opportunities for the surrounding communities.
										i.icon-caret-right
										i.icon-chevron-down
										li.text-center
											h3 OPERATIONS PHASE
											| Potassium operations are in the preoperative phase.
										i.icon-caret-right
										i.icon-chevron-down
										li.text-center
											h3 STRATEGIC LOCATION
											| Bayovar concessions are located near a well-developed infrastructure, with access to export sea ports and main roads.
					.col-lg-12.galeriaRS
						h3 Gallery
						div.galeria
							ul.sliderGaleria
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0507.jpg")
									img.image-click(src="./resources/assets/image/0507.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/0509.png")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/0509.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0576.jpg")
									img.image-click(src="./resources/assets/image/0576.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0601.jpg")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/0601.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0629.jpg")
									img.image-click(src="./resources/assets/image/0629.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0636.jpg")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/0636.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0667.jpg")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/0667.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0682.jpg")
									img.image-click(src="./resources/assets/image/0682.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0760.jpg")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/0760.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0747.jpg")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/0747.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0738.jpg")
									img.image-click(src="./resources/assets/image/0738.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye
								li(class="example-group" data-fancybox="group" href="./resources/assets/image/zoom/0725.jpg")
									//- a(href="#")
									img.image-click(src="./resources/assets/image/0725.png", alt="",width="100%")
									.caja-hover-galeria
										i.icon-eye