section#salmuera
	.container-fluid
		.row
			.bannerPrincipal.salmuera
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.submenu.text-center#ancla
				a(href="http://americas-potash.com/demo/fosfatos.html")
					li Fosfatos
				a(href="javascript:void(0)")
					li.active Salmuera
		.row
			.col-lg-12
				p.text-center La primera producción considerable será procesar la salmuera con alta concentración de potasio para producir fertilizantes. Además, de esta operación se derivará el  cloruro de sodio (sal doméstica) como un subproducto.
		.row
			.col-lg-12
				ul.secuenciaFosfatos
					li.text-center
						h3 PRODUCCIÓN
						|Sal de potasio de la salmuera utilizando tecnologia de pozos de evaporación solar.
					i.icon-caret-right
					li.text-center
						h3 UBICACIÓN
						|Es problable que la operación se ubique en la consecion 6 del proyecto  Bayóvar.
					i.icon-caret-right
					li.text-center
						h3 20 KM
						|Distancia entre Sechura y las operaciones de salmuera.
					i.icon-caret-right
					li.text-center
						h3 COMERCIO
						|Nuestra producción de salmuera y otros productos industriales serán comercializados en el mercado local.
					i.icon-caret-right
					li.text-center
						h3 DESARROLLO 
						|Nuestro negocio generará empleo y oportunidades de desarrollo para las poblaciones de nuestro entorno.Nuestro negocio generará empleo y oportunidades de desarrollo para las poblaciones de nuestro entorno.
					i.icon-caret-right
					li.text-center
						h3 FASE DE OPERACIONES
						|Las operaciones de potasio se encuentra en la fase pre operativa. En quinto y sexto lugar se mantienen Comercio y Desarrollo.
					i.icon-caret-right
					li.text-center
						h3 UBICACIÓN ESTRATÉGICA
						|Las concesiones de Bayóvar están situadas cerca de infraestructura bien desarrollada, incluyendo el acceso a puertos marítimos de exportación y carreteras principales
		.row.galerias
			div.modal-img
				span.btn-cerrar-img X
				img.imageZoom
			.col-lg-12
				h3 Galería
				div
					ul.sliderGaleria
						li
							img.image-click(src="./resources/assets/image/galeria-salmuera1.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-salmuera2.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-salmuera1.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-salmuera4.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-salmuera2.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						li
							//- a(href="#")
							img.image-click(src="./resources/assets/image/galeria-salmuera1.jpg", alt="",width="100%")
							.caja-hover-galeria
								i.icon-eye
						//- li
						//- 	//- a(href="#")
						//- 	img.image-click(src="./resources/assets/image/galeria-salmuera2.jpg", alt="",width="100%")
						//- 	.caja-hover-galeria
						//- 		i.icon-eye
						//- li
						//- 	//- a(href="#")
						//- 	img.image-click(src="./resources/assets/image/galeria-salmuera1.jpg", alt="",width="100%")
						//- 	.caja-hover-galeria
						//- 		i.icon-eye
						//- li
						//- 	//- a(href="#")
						//- 	img.image-click(src="./resources/assets/image/galeria-salmuera4.jpg", alt="",width="100%")
						//- 	.caja-hover-galeria
						//- 		i.icon-eye
						//- li
						//- 	//- a(href="#")
						//- 	img.image-click(src="./resources/assets/image/home-galeria5.png", alt="",width="100%")
						//- 	.caja-hover-galeria
						//- 		i.icon-eye