section#salmuera
	.container-fluid	
		.row
			.bannerPrincipal.salmuera
				background-image url("../image/banner-salmuera.jpg")
	.container	
		.row
			p
				font-size 21px
				padding 0 60px
				line-height 1
		.row	
			ul.secuenciaFosfatos
				display flex
				padding 0
				li
					list-style none
					font-size 18px
					padding 10px
					width 150px
					line-height 1
					
					h3
						font-family fuente_itemsSubmenu
						color verdeOscuro
						font-size 22px
						height 50px
						margin 0
						&:after
							content initial
				i
					height 0
					position relative
					padding 30px 10px
					font-size 35px
					color amarilloLimon
		.row:nth-child(3)
			padding 20px
			background-color blanco
			margin-top 3%
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.75)
