section#detalle
	.container-fluid.hidden-lg.hidden-md.hidden-sm
		.row
			.bannerPrincipal.comuncCorp
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			.noticias-comunicacion
				.row.hidden-xs.hidden-sm
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h2.text-center.titulo
							b Comunicación Corporativa
					.col-lg-12
						h3 Noticias
				.row
					.col-lg-8.col.md-8.col-sm-8.col-xs-12
						.inner-detalle
							h1 GROWMAX INVERTIRÁ US$ 27 MILLONES EN BAYÓVAR
							ul.sliderNoticia
								li
									img(src="./resources/assets/image/comunicacion-corporativa/detalle/detalle1.jpg", alt="")
									.caja-hover-galeria
										i.icon-eye
								li
									//- a(href="#")
									img(src="./resources/assets/image/comunicacion-corporativa/detalle/detalle1.jpg", alt="")
									.caja-hover-galeria
										i.icon-eye
								li
									//- a(href="#")
									img(src="./resources/assets/image/comunicacion-corporativa/detalle/detalle1.jpg", alt="")
									.caja-hover-galeria
										i.icon-eye
								li
									//- a(href="#")
									img(src="./resources/assets/image/comunicacion-corporativa/detalle/detalle1.jpg", alt="")
									.caja-hover-galeria
										i.icon-eye
							p GrowMax Resources Corp presentó la Evaluación Económica Preliminar de su proyecto de fosfatos Bayóvar 7 (Piura), concluyendo que la iniciativa demandará US$ 279 millones. El capital se orientará al minado (US$ 38 millones), benefi cio (US$ 69 millones), infraestructura (US$ 95 millones) y otros gastos. La empresa canadiense (antes llamada Americas Petrogas) estima producir un millón de toneladas de roca fosfórica beneficiada por año, sobre una vida útil de 20 años. En ese periodo, el capital de mantenimiento ascendería a US$ 278 millones. “El estudio indica que la creciente demanda local de fertilizantes y la naturaleza de la roca en Bayóvar, potencialmente podrían elevar los precios efectivos y la rentabilidad, en relación con las ventas al exterior”, dijo su presidente ejecutivo, Abby Badwi. El 70% de las ventas serían por exportación y el 30% se concentraría en el mercado local y regional.
							p En Bayóvar 7, los recursos minerales de fosfatos medidos suman 29.7 millones de toneladas (MT) secas; los indicados, 137.4 MT secas; y los inferidos, 63.7 MT secas, distribuidas en 16 camas. En la zona, un proyecto similar de Vale está en operación. Operación y logística El estudio también indica que se construirá una sola planta de benefi cio, la cual operará con técnicas convencionales. La máxima capacidad de procesamiento será alcanzada al cumplir su primer año. El material de exportación será transportado a un puerto empleando camiones de carga pesada por una nueva carretera; mientras que el orientado al mercado local haría lo propio, o sería llevado directamente a los distribuidores. La energía será tomada de la red nacional. Además, la empresa contempla usar gas natural y agua de mar.
							h4 OTROSI DIGO
							p Invertirán en puerto. El informe preliminar de Bayóvar 7 asume que hay disponibilidad para exportar en el puerto existente en la zona. Aún así, GrowMax Resources prevé US$ 4.5 millones para mejorar el almacén portuario, la fuente de alimentación y las instalaciones.
					.col-lg-4.col-md-4.col-sm-4.col-xs-4.hidden-xs.hidden-sm
						.container-brochure
							.titulo-brochure
								h2 Brochure
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-7.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/brochure1.jpg", alt="")
								.col-lg-5.col-md-5.col-sm-5.col-xs-5
									h2 BROCHURE CORPORATIVO
									p Lorem ipsum dolor sit amet,consectetur adipiscing elit.Vivamus accumsan.
									.icon-download3
										a(href="") Descargar pdf
									.icon-eye
										a(href="") Ver más
						.container-brochure
							.titulo-brochure
								h2 Prensa
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-7.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/prensa1.jpg", alt="")
								.col-lg-5.col-md-5.col-sm-5.col-xs-5
									h2 BROCHURE CORPORATIVO
									p Lorem ipsum dolor sit amet,consectetur adipiscing elit.Vivamus accumsan.
									.icon-download3
										a(href="") Descargar pdf
									.icon-eye
										a(href="") Ver más
							.row.brochure
								.inner-brochure.col-lg-7.col-md-7.col-sm-7.col-xs-7
									img(src="./resources/assets/image/comunicacion-corporativa/prensa2.jpg", alt="")
								.col-lg-5.col-md-5.col-sm-5.col-xs-5
									h2 BROCHURE CORPORATIVO
									p Lorem ipsum dolor sit amet,consectetur adipiscing elit.Vivamus accumsan.
									.icon-download3
										a(href="") Descargar pdf
									.icon-eye
										a(href="") Ver más
							.row.text-center
								a(href="") Ver más