/***
	Autor 	: Carlos Espinoza
	Email 	: c.augusto.espinoza@gmail.com
***/

/***
	Descripcion: Prefijos
***/

/***
	Descripcion: Se definen los colores que se usaran durante
	todo el desarrollo del site
***/
azul 			= #4fa0dc
blanco 			= #fff
negro 			= #000
rojo 			= #DD0000
verde     		= #04a521
verclaro        = #5e8800
verdeOscuro 	= #006c4b
olivo 			= #002b12
gris            = #adadad
grafito 		= #292929
grisoscuro      = #666
grisclaro       = #f3f3f3
celeste 		= #00AFCB
amarilloOscuro  = #97a712
amarilloLimon 	= #c7de00
morado 			= #a078b0
sombra 			= 0 3px 5px 3px rgba(204, 204, 204, 0.32)
/***
	Descripcion: Se definen las fuentes que se usaran durante
	todo el desarrollo del site
***/

fuente_cuerpo 				= "alegreya_sansregular"
fuente_Menu 				= "open_sansregular"
fuente_tituloBanner 		= "alegreya_sansbold"
fuente_tituloNoticias		= "alegreya_sansblack"
fuente_tituloContacto 		= "alegreya_sansblack"
fuente_tituloH3				= "alegreya_sansbold"
fuente_tituloH2				= "alegreya_sansbold"
fuente_tituloH2Nos 			= "alegreya_sansblack"
fuente_gruesa 				= "alegreya_sansblack"
fuente_contenidoContacto	= "alegreya_sansbold"
fuente_active 				= "alegreya_sansbold"
fuente_itemsSubmenu			= "alegreya_sansbold"
fuente_MenuFooter			= "open_sansregular"
fuente_descripcion 			= "alegreya_sansmedium"
fuente_activeMedium			= "alegreya_sansmedium"
fuente_botonContacto 		= "open_sansbold"
fuente_footerbold 			= "open_sansbold"

/***
	Descripcion: Se definen los tamaños aprox
***/
entero_cien 		= 100% 
/***
	Descripcion: Se definen las funciones mixtas
	que emplearemos 
***/
html
	overflow-x hidden
body
	font-size 16px
	font-family fuente_cuerpo
    // background-color: #f5f4f4
h1, h2
	font-family fuente_tituloH2
// banner
.container-fluid	
	.row
		.bannerPrincipal
			background-size cover
			height 524px
			position relative
#carga
	background verdeOscuro
	position absolute
	z-index 9999
	height 100vh
	top 0
	left 0
	width 100vw
	
.menuActivo
	color verdeOscuro !important
	font-weight bold
	
.letrero-banner
	height: 100%
	width: 45%
	position: absolute
	bottom: 0
	display: flex
	@media (max-width 992px) and (min-width 768px)
		width: 50%
	@media (max-width 767px)
		width: 100%
	> div
		width: 79%
		height: 85px
		position: absolute
		top: 40%
		right: 0
		color: white
		font-size: 37px
		text-shadow: 5px 3px 6px black
		font-family: fuente_titulo
		justify-content: center
		display: flex
		flex-direction: column
		@media (max-width: 1200px)
			font-size: 25px
		@media (max-width: 992px)
			font-size: 24px
		@media (max-width: 767px)
			right: initial
			display: flex
			align-items: center
			width: 100%
			font-size: 35px
		@media (max-width: 589px)
			font-size: 30px
		@media (max-width: 521px)
			font-size: 26px
		@media (max-width: 375px)
			font-size: 18px
		h2
			font-family fuente_tituloBanner
		.rectangle
			background: rgba(0,108,76,0.78)
			font-size: 18px
			border-radius: 0 0 70px
			border-left: 7px solid rgba(255,215,0,0.74);
			padding: 20px
			text-shadow: 0 0 0
			font-family fuente_descripcion
			line-height: 30px
			// transform: translate(50px 0)
			@media (max-width: 1200px)
				font-size: 17px
			@media (max-width: 992px)
				padding: 15px
			@media (max-width: 767px)
				border-radius: 0px
				width: 60%
			@media (max-width: 569px)
				width: 75%
			@media (max-width: 375px)
				font-size: 15px
				text-align: center
				border-left-width: 10px
// fin banner
// proyectos
section#fosfatos,#salmuera
	.row
		ul.submenu
			margin:50px auto
			display flex
			justify-content center
			padding 0
			a
				&:hover
					text-decoration none
				li
					cursor pointer
					color grisoscuro
					list-style none
					width 200px
					height 65px
					display flex
					justify-content center
					align-items center
					transition all ease-in-out .2s
					font-size 23px
					&.active
						background verdeOscuro
						color blanco
						font-family fuente_active
						position relative
					&:hover
						background: verdeOscuro
						color blanco
						font-family fuente_active
			/.submenuFM
				display flex
				flex-direction column
				padding 0
				margin-bottom 0
				a
					&:hover
						text-decoration none
					li
						padding 30px
						width 100%
						background blanco
						color grisoscuro
						font-size 21px
						&:hover
							font-family fuente_active
// slide galerias
.galerias
	margin-bottom 20%
	margin-top 3%
	@media (max-width 767px)
		margin-bottom 10%
ul
	&.sliderGaleria
		li
			cursor: pointer
			p
				display none
section#beca
	.container
		.programaBeca
			.row
				.descrip-beca
					padding 0 15px
					h5
						font-size 20px
						color azul
						font-family fuente_tituloH2Nos
					ul
						padding 0
						li
							list-style none
					h2
						@media (max-width 767px)
							height 70px
							width 60%
							font-size 25px
							box-shadow 0 0 0
							left -30px
							position relative
					> p
						font-size 19px
			.row
				.table-responsive
					@media (max-width: 767px)
						width: 100%
						margin-bottom: 15px
						overflow-x: scroll
						overflow-y: hidden
						// border: 1px solid #ddd
						-ms-overflow-style: -ms-autohiding-scrollbar
						-webkit-overflow-scrolling: touch
					table
						width 100%
						&.table
							width 100%
							margin-bottom 20px
							h4
								@media (max-width 991px)
									font-size 18px
							p
								@media (max-width 991px)
									font-size 14px
						@media (max-width: 767px)
							white-space nowrap
						thead
							text-align left
				.table-responsive>.table
					@media (max-width: 767px)
						margin-bottom: 0
		.programaBeca
			.titulo-prog
				background azul
				color blanco
			.row
				h2
					margin-bottom 0
					display flex
					justify-content center
					align-items center
					box-shadow: sombra
					img
						margin-left 10px
				.menuProg
					display flex
					justify-content center
					padding 50px
					@media (max-width 767px)
						flex-direction column
						align-items center
					a
						color grisoscuro
						display flex
						justify-content center
						align-items center
						width 200px
						height 65px
						font-size 20px
						transition: all .2s
						&.activeMenuProg
							font-family fuente_activeMedium
							color blanco
							background azul
						&:hover
							text-decoration none
							background azul
							color blanco
							font-family fuente_activeMedium
							transition: all .2s
						li
							list-style none
			.contenido
				background blanco
				box-shadow sombra
		ul.menuSos
			display flex
			justify-content center
			padding 0
			@media (min-width 768px)
				margin 50px auto
			@media (max-width 767px)
				display none
			a
				&:hover
					text-decoration none
				li
					cursor pointer
					color grisoscuro
					list-style none
					width 180px
					transition all ease-in-out .2s
					font-size 23px
					height 65px
					display flex
					line-height 1
					justify-content center
					align-items center
					&:hover
						background: verdeOscuro
						color blanco
						font-family fuente_active
						display flex
						align-items center
						justify-content center
						@media (max-width 767px)
							font-family fuente_active
							background blanco
							color grisoscuro
					&.activesos
						background verdeOscuro
						color blanco
						font-family fuente_active
						display flex
						justify-content center
						align-items center
			/.menuMovSos
				display flex
				flex-direction column
				padding 0
				margin-bottom 0
				a
					text-decoration none
					color grisoscuro
					li
						width 100% !important
						padding 30px
						background blanco
						font-size 23px
						list-style none
						&:hover
							font-family fuente_active
							background blanco
							color grisoscuro
// fin proyectos