section#beca
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				background-image url("../image/banner3.jpg")
	.container
		.programaBeca
			background blanco
			.titulo-prog
				background azul
				color blanco
			.row
				h2
					margin-bottom 0
					display flex
					justify-content center
					align-items center
					img
						margin-left 10px
				.menuProg
					display flex
					justify-content center
					padding 50px
					a
						padding 15px
						color grisoscuro
						width 200px
						font-size 20px
						&.activeMenuProg
							font-family fuente_activeMedium
							color blanco
							background azul
						&:hover
							text-decoration none
							background azul
							color blanco
							font-family fuente_activeMedium
						li
							list-style none
			.row:nth-child(2)
				background blanco
			.contenedorBecaVideo
				margin 20px 30px
				display flex
				.box-beca
					width 30%
					background azul
					padding 50px
					display flex
					align-items center
					font-size 20px
					height 380px
					color blanco
				.videoBeca
					width 70%
			.row.galerias
				.lSAction
					> a
						top 40%
					a.lSPrev
						&:before
							color azul
					a.lSNext
						&:before
							color azul