section#beca
	.container-fluid
		.row
			.bannerPrincipal.sostenibilidad
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.menuSos.text-center#ancla
				a(href="http://americas-potash.com/demoV3/sostenibilidad.html")
					li Responsablidad Social
				a(href="javascript:void(0)")
					li.activesos Beca Docente
				a(href="http://americas-potash.com/demoV3/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
			ul.menuMovSos.text-center.hidden-sm.hidden-md.hidden-lg#ancla
				a(href="http://americas-potash.com/demoV3/sostenibilidad.html")
					li Responsablidad Social
				a(href="javascript:void(0)")
					li.activeMovsos Beca Docente
				a(href="http://americas-potash.com/demoV3/comunicacion-y-dialogo.html")
					li Comunicación y Diálogo
		.programaBeca
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.row
					h2.titulo-prog.text-center PROGRAMA
						img(src="./resources/assets/image/responsabilidad-beca.png", alt="")
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						ul.menuProg.text-center
							a(href="http://americas-potash.com/demoV3/beca.html")
								li Descripción
							a(href="http://americas-potash.com/demoV3/beca-beneficiarios.html")
								li Beneficiarios
							a.activeMenuProg(href="javascript:void(0)")
								li Video
							a(href="http://americas-potash.com/demoV3/beca-spot-radial.html")
								li Spot radial
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.contenedorBecaVideo
							.box-beca.text-justify
								p Américas Potash es una empresa minera peruana, subsidiaria de GrowMax Resources, compañía canadiense cuyas acciones se cotizan en la Bolsa de Valores de Toronto (TSX-V).
							.videoBeca
								<iframe src="https://player.vimeo.com/video/209447832?title=0&byline=0&portrait=0" width="100%" height="380px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.row.galerias
							.col-lg-12
								div
									ul.sliderGaleria
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5552.png")
											img.image-click(src="./resources/assets/image/5552.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										//- li(class="example-group" data-fancybox="group" href="./resources/assets/image/0530.png")
										//- 	//- a(href="#")
										//- 	img.image-click(src="./resources/assets/image/0530.png", alt="",width="100%")
										//- 	.caja-hover-galeria
										//- 		i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5634.png")
											img.image-click(src="./resources/assets/image/5634.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5654.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5654.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5662.png")
											img.image-click(src="./resources/assets/image/5662.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5664.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5664.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5680.png")
											img.image-click(src="./resources/assets/image/5680.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5690.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5690.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5697.png")
											img.image-click(src="./resources/assets/image/5697.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5699.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5699.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5702.png")
											img.image-click(src="./resources/assets/image/5702.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5712.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5712.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5720.png")
											img.image-click(src="./resources/assets/image/5720.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5150.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5150.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye
										li(class="example-group" data-fancybox="group" href="./resources/assets/image/5160.png")
											//- a(href="#")
											img.image-click(src="./resources/assets/image/5160.png", alt="",width="100%")
											.caja-hover-galeria
												i.icon-eye