section#fosfatos
	.container-fluid
		.row
			.bannerPrincipal.fosfato
				.letrero-banner
					div
						h2 What is Lorem ipsum
						//- p Lorem Ipsum
						.rectangle
							|Proyectos e iniciativas para el desarrollo e iniciativas para el desarrollo.
	.container
		.row
			ul.submenu.hidden-xs.text-center#ancla
				a(href="javascript:void(0)")
					li.active Phosphates
				a(href="http://americas-potash.com/demoV5/en/potassium-rich-brine.html")
					li Potassium rich brine
			ul.submenuFM.hidden-lg.hidden-md.hidden-sm.text-center
				a(href="javascript:void(0)")
					li.fosfatoMovil Phosphates
				a(href="http://americas-potash.com/demoV5/en/potassium-rich-brine.html")
					li Potassium rich brine
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.fosfatoProy
						.fosfatoBox
							.row
								h2.hidden-lg.hidden-md.hidden-sm Phosphates
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
									p.text-center The potential to exploit the phosphate rock resource on our concessions is being evaluated, especially focusing on Bayovar 7.
						.fosfatoBox
							.row
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
									ul.secuenciaFosfatos
										li.text-center
											h3 43 KM
											|Distance between Bayovar 7 and the city of Sechura.
										i.icon-caret-right
										i.icon-chevron-down
										li.text-center
											h3 OPERATIONS PHASE
											|Potassium operations are in the preoperative phase, while phosphate operations continue in exploration.
										i.icon-caret-right
										i.icon-chevron-down
										li.text-center
											h3 TRADE
											|The production will be intended for export and for local and regional markets.
										i.icon-caret-right
										i.icon-chevron-down
										li.text-center
											h3 82,195 HECTARES
											|Total area of concessions 5, 6, 7 and 8 of the Bayovar project.
						.col-lg-12.galeriaRF
							h3 Galería
							div.galeria
								ul.sliderGaleria
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0967.png")
										img.image-click(src="./resources/assets/image/0967.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1111.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/1111.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/0979.png")
										img.image-click(src="./resources/assets/image/0979.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1006.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/1006.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1011.png")
										img.image-click(src="./resources/assets/image/1011.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1043.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/1043.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1063.png")
										img.image-click(src="./resources/assets/image/1063.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1075.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/1075.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1078.png")
										img.image-click(src="./resources/assets/image/1078.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1087.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/1087.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1089.png")
										img.image-click(src="./resources/assets/image/1089.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1085.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/1085.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1121.png")
										img.image-click(src="./resources/assets/image/1121.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1126.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/1126.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1388.png")
										img.image-click(src="./resources/assets/image/1388.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye
									li(class="example-group" data-fancybox="group" href="./resources/assets/image/1366.png")
										//- a(href="#")
										img.image-click(src="./resources/assets/image/1366.png", alt="",width="100%")
										.caja-hover-galeria
											i.icon-eye